.book-bg {
    width: 90%;
    margin: 170px 0 25px 60px;
    background-color: $color-01;
    @include border (2px, solid, $color-02);
    box-shadow: 1px 1px 10px 1px $color-03;
    border-radius: 5px;
    .book-container {
        width: 90%;
        height: 900px;
        background-color: $color-01;
        margin: 0 auto;
        padding: 20px;
        .book-box {
            @include d-flex (flex,space-between,end);
            @include border (2px, solid, $color-05);
            box-shadow: 3px 3px 6px 2px $color-03;
            border-radius: 10px;
            padding: 20px;
            background-image: url(../img/k1.PNG);
            background-repeat: repeat;
            background-position: right -20% bottom 0px, top left;
            background-size: auto 1px;
            .img-box {
                max-width: 400px;
                width: $size-0;
                height: 320px;
                @include border (2px, solid, $color-05);
                box-shadow: 3px 3px 6px 2px $color-03;
                border-radius: 10px;
                background-color: $color-01;
                .img-size {
                    width: $size-0;
                }
            }
            .book-text-box {
                max-width: 700px;
                width: $size-0;
                height: 700px;
                text-align: left;
                padding: 20px;
                background-color: $color-01;
                @include border (2px, solid, $color-05);
                box-shadow: 3px 3px 6px 2px $color-03;
                border-radius: 10px;
                margin-left: 25px;
                .book-h2 {
                    color: $color-03;
                    font-size: 30px;
                    font-family: 'BPG Nino Medium Caps';
                    margin-bottom: 15px;
                }
                .xazi {
                    margin: 0 auto 25px;
                    max-width: 740px;
                    width: 100%;
                    content: ' ';
                    color: #062D2D;
                    @include border (0.1px, solid, $color-04);
                    box-shadow: 0 0 15px $color-02;
                }
                .book-h3 {
                    color: $color-03;
                    font-size: 30px;
                    font-family: 'BPG Nino Medium Caps';
                    margin-bottom: 30px;
                }
                .book-specy {
                    max-width: 650px;
                    width: $size-0;
                    margin: 0 auto;
                    .book-h4-box {
                        text-align: center;
                        .book-h4 {
                            margin-bottom: 10px;
                        }
                    }
                    .xazi {
                        margin: 0 auto 25px;
                        max-width: 340px;
                        width: 100%;
                        content: ' ';
                        color: #062D2D;
                        @include border (0.1px, solid, $color-04);
                        box-shadow: 0 0 15px $color-02;
                    }
                    .book-tbl {
                        max-width: 640px;
                        width: $size-0;
                        margin: 0 auto;
                        .book-tr {
                            max-width: 640px;
                            width: $size-0;
                            margin: 20px 0;
                            @include d-flex (flex,space-between,end);
                            text-decoration-line:  underline; 
                            &:nth-child(1n){
                                text-align: start;
                            }
                            &:nth-child(2n){
                                text-align: end;
                            }
                            .book-th {
                                color: $color-03;
                            }
                        }
                    }
                }
            }
        }
    }
}