//Conatct
.contact-bg {
    width: 90%;
    margin: 170px 0 25px 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color-01;
    @include border (2px, solid, $color-02);
    box-shadow: 1px 1px 10px 1px $color-03;
    border-radius: 5px;
    .cotact-abaut {
        width: 80%;
        margin: 60px auto;
        .contact-text-h2 {
            font-size: 20px;
            color: $color-03;
            font-family: 'BPG Nino Medium Caps';
            text-shadow: 1px 1px $color-05;
        }
    }
    .xazi {
        margin: 0 auto;
        max-width: 1080px;
        width: 100%;
        content: ' ';
        color: #062D2D;
        @include border (0.1px, solid, $color-04);
        box-shadow: 0 0 15px $color-02;
    }
    .contact-coment {
        margin: 50px auto;
        .contact-formbox {
            display: flex;
            .formbox-1 {
                .form-1-box {
                    width: 500px;
                    height: 170px;
                    padding: 20px;
                    resize: none;
                    background-color: $color-01;
                    box-shadow: 1px 2px 10px 0px $color-03;
                    @include border (1px, solid, $color-05);
                    border-radius: 5px;
                }
            }
            .formbox-2 {
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                margin: 0 10px;
                .form-2-box {
                    height: 40px;
                    text-align: center;
                    background-color: $color-01;
                    box-shadow: 1px 2px 10px 0px $color-03;
                    @include border (1px, solid, $color-05);
                    border-radius: 5px;
                }
                .btn {
                    width: 150px;
                    height: 30px;
                    font-size: 10px;
                    background-color: $color-01;
                    box-shadow: 1px 2px 10px 0px $color-03;
                    @include border (1px, solid, $color-05);
                    border-radius: 5px;
                    .btn-icon {
                        color: $color-02;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .xazi {
        margin: 0 auto;
        max-width: 1080px;
        width: 100%;
        content: ' ';
        color: #062D2D;
        @include border (0.1px, solid, $color-04);
        box-shadow: 0 0 15px $color-02;
    }
    .contact-nev {
        @include d-flex (flex,space-around,center);
        margin: 40px;
        .contact-conteiner-1 {
            width: 50%;
            margin: 0 auto;
            .contact-text-h2 {
                margin-bottom: 10px;
                font-size: 14px;
                color: $color-03;
                font-family: 'BPG Nino Medium Caps';
                text-shadow: 1px 1px $color-05;
            }
            .xazi {
                margin: 0 auto 50px;
                max-width: 160px;
                width: 100%;
                content: ' ';
                color: #062D2D;
                @include border (0.1px, solid, $color-04);
                box-shadow: 0 0 15px $color-02;
            }
            .contact-text-p {
                font-size: 14px;
                color: $color-03;
                font-family: 'BPG Nino Medium Caps';
                text-shadow: 1px 1px $color-05;
            }
            .sect-2-cont-3-wrap {
                width: 85%;
                margin: 0 auto;
                @include d-flex (flex,space-around,center);
                .sect-2-cont-3-box {
                    margin-left: 9px;
                    width: 90%;
                    height: 150px;
                    @include d-flex (flex,space-around,center);
                    @include border (2px, solid, $color-05);
                    box-shadow: 1px 1px 10px 1px $color-03;
                    border-radius: 20px;
                    background-image: url(../img/k1.PNG);
                    background-repeat: repeat;
                    background-position: right -20% bottom 0px, top left;
                    background-size: auto 1px;
                    .sect-2-cont-3-img {
                        max-width: 150px;
                        .sect-2-cont-3-img-box { 
                            width: $size-0;
                        }
                    }
                }
            }
        }
    }
}
.sect-2-conteiner {
    background-color: $color-02;
    max-width: 1920px;
    width: $size-0;
    height: 330px;
    margin-bottom: 20px;
    @include d-flex (flex,space-evenly,center);
    box-shadow: 15px 1px 15px 3px $color-03;
    @include border (2px, solid, $color-05);
    border-radius: 20px;
    .sect-2-text {
        max-width: 330px;
        width: $size-0;
        height: 224px;
        @include d-flex (flex,space-around,baseline);
        flex-direction: column;
        .sect-2-h2 {
            color: $color-01;
            font-size: 36px;
            font-family: 'Poopins-B';
        }
        .sect-2-p {
            color: $color-01;
            font-size: 14px;
            font-family: 'Poppins-R';
        }
        .sect-2-shop {
            .sect-2-h4 {
                color: $color-01;
                font-size: 14px;
                font-family: 'Poppins-R';
            }
        }
    }
    .sect-2-img {
        max-width: 340px;
        margin-bottom: 23px;
        .sect-2-img-box {
            width: $size-0;
        }
    }
}