//Body
.body-bg {
    background-color: $color-01;
}
//HEADER

.head-cont {
    @extend %head-cont-size;
    background: linear-gradient(to bottom, $color-02, #05849E, transparent,);
    overflow-y: auto;
    transition: 1.0s ease-in-out;
    @extend %head-cont-med;
    .nav-box {
        width: 85%;
        margin: 40px auto;
        @include d-flex (flex,space-between,center);
        overflow-y: auto;
        transition: 1.2s ease-in-out;
        @extend %nav-box-med;
        .nav-logo {
            max-width: 170px;
            width: 100%;
            @include d-flex (flex,space-between,center);
            @extend %hover-def;
            @extend %nav-logo-med;
            a {
                @include d-flex (flex,space-between,center);
                cursor: pointer;
                .k1-logo {
                    display: flex;
                    background: rgba(236, 240, 241, 1);
                    backdrop-filter: blur(15px);
                    border-radius: 50px;
                    width: 40%;
                    img {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
                h1 {
                    color: $color-01;
                    font-size: 30px;
                    font-weight: bold;
                    margin-left: 10px;
                }
            }
        }
        .head-flt-cont {
            width: 48%;
            margin: 0 auto;
            padding: 5px 0 10px;
            @include d-flex (flex,space-between,center);
            @extend %head-flt-cont-med;
            .head-flt-ul {
                width: 100%;
                margin: 0 auto;
                @include d-flex (flex,space-between,center);
                @extend %head-flt-ul-med;
                .head-flt-li {
                    @extend %head-flt-li-font;
                    @extend %head-flt-li-med;
                    text-align: center;
                }
            }
        }
        .navi {
            max-width: 400px;
            width: 100%;
            @include d-flex (flex,space-between,center);
            @extend %navi-med;
            @extend %nav-ul-open-med;
            .navi-cont {
                width: 100%;
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                @extend %navi-cont-med;
                .search {
                    width: 390px;
                    height: 50px;
                    @extend %border-srch;
                    @extend %search-med;
                    .element-search {
                        @extend %element-search-size;
                        .inp-search {
                            width: 320px;
                           height: 100%;
                           border: none;
                           vertical-align: bottom;
                           padding: 0 25px;
                           @extend %font-p-def;
                           @extend %border-srch;
                           @extend %inp-search-med;
                        }
                        .srch-fa {
                            @extend %search-fa;
                            vertical-align: bottom;
                            padding: 0 20px 10px;
                            @extend %srch-fa-med;
                        }
                   }
                }
            }
        }
    }
}
//Active-Header
.active {
    position: sticky;
    top: 0;
    left: 0;
    height: 55px;
    z-index: 500;
    background: #F4F6F6;
    transition: all 0.6s;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    transition: 1.0s ease-in-out;
    @extend %border-def;
    .nav-box {
        height: 60px;
        margin: 0 auto;
        overflow-y: auto;
        transition: 1.2s ease-in-out;
        @extend %nav-box-act-med;
        .nav-logo {
            max-width: 170px;
            width: 100%;
            height: 35px;
            @extend %nav-logo-act-med;
            @include d-flex (flex,space-between,center);
            @extend %nav-logo-med;
            a {
                .k1-logo {
                    display: flex;
                    background: none;
                    backdrop-filter: none;
                    border-radius: 0;
                    width: 45%;
                    img {
                        width: 60%;
                        margin: 0 auto;
                    }
                }
                h1 {
                    display: none;
                }
            }
        }
        .head-flt-cont {
            max-width: 680px;
            width: 100%;
            margin: 0 auto;
            padding: 5px 0 0;
            @include d-flex (flex,space-between,center);
            .head-flt-ul {
                .head-flt-li {
                    color: $color-02;
                    font-size: 16px;
                }
            }
        }
        .navi {
            max-width: 390px;
            height: 50px;
            @extend %navi-act-med;
            .navi-cont {
                width: 100%;
                flex-direction: row-reverse;
                @extend %navi-cont-act-med;
                .search {
                    width: 330px;
                    height: 25px;
                    @extend %search-act-med;
                    .element-search {
                        .inp-search {
                            width: 260px;
                            @extend %inp-search-act-med;
                        }
                        .srch-fa {
                            font-size: 18px;
                            color: $color-02;
                            padding: 0 27px 4px;
                            @extend %srch-fa-act-med;
                        }
                    }
                }
            }
        }
    }
}
//----------
//Section-1
.sect-1 {
    @extend %sect-1-size;
    position: static;
    justify-content: center;
    align-items: center;
    @extend %sect-1-med;
    .sect-1-cont {
        z-index: 1000;
        @extend %sect-1-cont-med;
        .sect-1-box {
            @extend %sect-1-box-size;
            @extend %sect-1-box-med;
            .slick-dots {
                bottom: 25px;
                @extend %slick-dots;
                @extend %slick-dots-med;
            }
            a {
                cursor: pointer;
                img {
                    @extend %sect-1-img-size;
                    @extend %sect-1-img-med;
                }
            }
        }
    }
}
//Section-2
.sect-2 {
    @extend %sect-2-size;
    @include d-flex (flex,space-around,center);
    @extend %border-def;
    flex-direction: column;
    .pro-navi {
        margin-top: 10px;
        @extend %pro-navi-def;
        @extend %border-def;
        @include d-flex (flex,flex-start,center);
        @extend %pro-navi-med;
        .pro-fa {
            @extend %pro-fa-def;
            @extend %pro-navi-ico-fe;
            @extend %pro-fa-med;
        }
        .pro-navi-href {
            .pro-navi-h4 {
                @extend %pro-navi-h4-def;
                @extend %pro-navi-fe;
                @extend %pro-navi-h4-med;
            }
        }
    }
    .sect-2-big {
        @extend %sect-2-big-size;
        margin: 5px 0;
        @include d-flex (flex,space-around,flex-start);
        flex-direction: column;
        @extend %sect-2-big-med;
        //------- Filtr adn user BAR ------
        .flt-user-cont {
            display: flex;
            width: 100%;
            position: fixed;
            top: 95px;
            left: 0;
            z-index: 1000;
            //----- SIDE BAR ----------
            .sect-2-flt {
                max-width: 470px;
                width: 100%;
                @include d-flex (flex,end,center);
                flex-direction: column;
                position: sticky;
                top: 110px;
                @extend %sect-2-flt-med;
                .cont-1-img-text {
                    @extend %cont-1-img-text-size;
                    @include d-flex (flex,space-between,end);
                    .flt-icon {
                        @extend %flt-icon-size;
                        @include d-flex (flex,end,center);
                        cursor: pointer;
                        @extend %flt-icon-med;
                        .flt-icon-box {
                            width: 70%;
                        }
                    }
                    .flt-ico-nm {
                        @extend %flt-ico-nm-size;
                        text-align: end;
                        @extend %flt-ico-nm-2-med;
                        .ico-nm-h2 {
                            font-size: 25px;
                            color: $color-01;
                            font-family: 'archy-B';
                            letter-spacing: 5px;
                            text-shadow: 0 0 1px;
                            border-radius: 5px;
                            margin: 0 15px 10px 0;
                            @extend %ico-nm-h2-med;
                        }
                        .xazi {
                            @extend %xazi;    
                        }
                    }
                    .flt-ico-nm-bar {
                        @extend %flt-ico-nm-size;
                        text-align: end;
                        background: rgba(255, 255, 255, 0.5);
                        backdrop-filter: blur(15px);
                        visibility: hidden;
                        border-radius: 5px;
                        @extend %flt-ico-nm-2-med;
                        .ico-nm-h2 {
                            font-size: 25px;
                            @extend %ico-nm-h2-font;
                            @extend %ico-nm-h2-med;
                        }
                        .xazi {
                            @extend %xazi;    
                        }
                    }
                }
                //------- MENU FILTR  -----------
                .sid-icon {
                    @include d-flex (flex,space-between,end);
                    flex-direction: column;
                    position: absolute;
                    top: 80px;
                    left: -13%;
                    width: 119px;
                    height: 480px;
                    i {
                        color: $color-01;
                        font-size: 19px;
                        display: block;
                        padding: 5px 5px;
                        line-height: 30px;
                        background: rgba(62, 174, 197, 0.3);
                        backdrop-filter: blur(15px);
                        border-radius: 50px;
                        cursor: pointer;
                        width: 30%;
                        text-align: center;
                        &:hover {
                            color: $color-01;
                            background: $color-02;
                            transition: 0.3s ease;
                        }
                    }
                }
                .side-bar {
                    position: absolute;
                    top: 70px;
                    left: -110%;
                    background: rgba(255, 255, 255, 0.5);
                    backdrop-filter: blur(15px);
                    width: 468px;
                    height: 75vh;
                    overflow-y: auto;
                    transition: 0.6s ease;
                    transition-property: left;
                    border-radius: 5px;
                    .close-btn {
                        position: relative;
                        color: $color-04;
                        font-size: 30px;
                        margin: 10px;
                        cursor: pointer;
                        transition: 0.6s ease;
                        overflow: auto;
                        transition-property: left;
                        text-align: end;
                        visibility: hidden;
                    }
                    .menu {
                        width: 100%;
                        margin-top: 5px;
                        .itmes {
                            position: relative;
                            cursor: pointer;
                            a {
                                color: $color-04;
                                font-size: 17px;
                                display: block;
                                padding: 2px 30px;
                                line-height: 40px;
                                &:hover {
                                   color: $color-01;
                                   background: $color-02;
                                   transition: 0.3s ease;
                                }
                            }
                            i {
                                margin-right: 45px;
                            }
                            .dropdown {
                                position: absolute;
                                right: 0;
                                margin: 10px 16px;
                                transition: 0.3s ease;
                            }
                            .sub-menu {
                                background: rgba(255, 255, 255, 0.1);
                                display: none;
                                a {
                                        padding-left: 80px;
                                }
                                .sub-menu-2 {
                                    background: rgba(255, 255, 255, 0.1);
                                    display: none;
                                    a {
                                            padding-left: 140px;
                                    }
                                    .sub-menu-3 {
                                        background: rgba(255, 255, 255, 0.1);
                                        display: none;
                                        a {
                                            padding-left: 180px;
                                        }
                                        .sub-menu-4 {
                                            background: rgba(255, 255, 255, 0.1);
                                            display: none;
                                            a {
                                                padding-left: 240px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bar-active {
                    left: 0px;
                }
                .rotate {
                    transform: rotate(90deg);
                }
            }
            //----- USER BAR ---------
            .sect-2-user {
                max-width: 550px;
                width: 100%;
                @include d-flex (flex,end,center);
                flex-direction: column;
                position: sticky;
                top: 122px;
                left: 850px;
                @extend %sect-2-flt-med;
                .cont-1-img-user {
                    width: 93%;
                    margin: 0 auto;
                    padding: 10px 2px;
                    @include d-flex (flex,space-between,center);
                    flex-direction: row-reverse;
                    .user-icon {
                        @include d-flex (flex,space-between,end);
                        flex-direction: column;
                        position: absolute;
                        top: 15px;
                        left: 420px;
                        width: 155px;
                        i {
                            color: $color-02;
                            font-size: 40px;
                            display: block;
                            padding: 5px 10px;
                            line-height: 50px;
                            border-radius: 50px;
                            cursor: pointer;
                            width: 50%;
                            text-align: center;
                            &:hover {
                                color: $color-01;
                                background: $color-02;
                                transition: 0.3s ease;
                            }
                        }
                    }
                    .flt-ico-nm {
                        @extend %flt-ico-nm-size;
                        text-align: end;
                        @extend %flt-ico-nm-2-med;
                        .ico-nm-h2 {
                            font-size: 25px;
                            @extend %ico-nm-h2-font;
                            @extend %ico-nm-h2-med;
                        }
                        .xazi {
                            @extend %xazi;    
                        }
                    }
                    .user-ico-nm-bar {
                        @extend %flt-ico-nm-size;
                        margin-right: 20px;
                        text-align: start;
                        background: rgba(255, 255, 255, 0.5);
                        backdrop-filter: blur(15px);
                        visibility: hidden;
                        border-radius: 5px;
                        @extend %flt-ico-nm-2-med;
                        .user-ico-nm-h2 {
                            font-size: 25px;
                            margin-left: 10px;
                            @extend %ico-nm-h2-font;
                            @extend %ico-nm-h2-med;
                        }
                        .xazi {
                            @extend %xazi;    
                        }
                    }
                }
                //------- USER FILTR  -----------
                .user-bar {
                    position: absolute;
                    top: 70px;
                    right: -191%;
                    background: rgba(255, 255, 255, 0.5);
                    backdrop-filter: blur(15px);
                    width: 960px;
                    height: 75vh;
                    overflow-y: auto;
                    transition: 0.6s ease;
                    transition-property: right;
                    border-radius: 5px;
                    .user-close-btn {
                        position: relative;
                        color: $color-04;
                        font-size: 30px;
                        margin: 10px;
                        cursor: pointer;
                        transition: 0.6s ease;
                        overflow: auto;
                        transition-property: left;
                        text-align: start;
                        visibility: hidden;
                    }
                }
                .users-icon {
                    @include d-flex (flex,space-between,end);
                    flex-direction: column;
                    position: absolute;
                    top: 90px;
                    left: 80%;
                    width: 118px;
                    height: 340px;
                    i {
                        color: $color-01;
                        font-size: 19px;
                        display: block;
                        padding: 5px 5px;
                        line-height: 30px;
                        background: rgba(62, 174, 197, 0.3);
                        backdrop-filter: blur(15px);
                        border-radius: 50px;
                        cursor: pointer;
                        width: 35%;
                        text-align: center;
                        &:hover {
                            color: $color-01;
                            background: $color-02;
                            transition: 0.3s ease;
                        }
                    }
                }
                .user-bar-active {
                    right: -41px;
                }
                .rotate {
                    transform: rotate(90deg);
                }
            }
        }
        .sect-2-box {
            width: 100%;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            @extend %sect-2-box-med;
            .cont-1-list {
                width: 100%;
                margin-top: 80px;
                @include d-flex (flex,space-evenly,center);
                @extend %cont-1-list-med;
                .cont-1-list-box {
                    background-color: $color-01;
                    max-width: 530px;
                    width: 100%;
                    @include d-flex (flex,space-between,center);
                    flex-direction: column;
                    @extend %cont-1-list-box-med;
                    .cont-1-img {
                        @extend %cont-1-img-size;
                        @include d-flex (flex,center,center);
                        flex-direction: column;
                        @extend %cont-1-img-med;
                        .cont-1-img-hrf {
                            @extend %cont-1-img-hrf-size;
                            @include d-flex (flex,center,end);
                            @extend %cont-1-img-href-ie;
                            @extend %cont-1-img-hrf-med;
                            .cont-1-img-box {
                                @extend %cont-1-img-box-size;
                                @extend %cont-1-img-box-med;
                            }
                        }
                        .cont-1-img-text {
                            @extend %cont-1-img-text-size;
                            @include d-flex (flex,space-between,end);
                            @extend %cont-1-img-text-med;
                            .flt-icon {
                                @extend %flt-icon-size;
                                @include d-flex (flex,space-between,center);
                                @extend %flt-icon-med;
                                .flt-icon-box {
                                    width: 100%;
                                }
                            }
                            .flt-ico-nm {
                                @extend %flt-ico-nm-size;
                                text-align: end;
                                @extend %flt-ico-nm-2-med;
                                .ico-nm-h2 {
                                    font-size: 25px;
                                    @extend %ico-nm-h2-font;
                                    @extend %flt-ico-nm-h2-fe;
                                    @extend %ico-nm-h2-med;
                                }
                                .xazi {
                                    @extend %xazi;    
                                }
                            }
                        }
                    }
                    .cont-1-fit {
                        @extend %cont-1-fit-size;
                        @extend %cont-1-fit-med;
                        .cont-1-fit-ul {
                            @extend %cont-1-fit-ul-size;
                            @include d-flex (flex,space-around,end);
                            flex-direction: column;
                            @extend %cont-1-fit-ul-med;
                            .cont-1-fit-li {
                                @extend %cont-1-fit-li-size;
                                @include d-flex (flex,space-between,center);
                                .cont-1-fit-a {
                                    @extend %cont-1-fit-li-font;
                                    @extend %font-hover-def;
                                    @extend %cont-1-fit-a-med;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sect-2-sm {
        @extend %sect-2-sm-size;
        margin: 25px;
        @include d-flex (flex,space-evenly,center);
        @extend %sect-2-sm-med;
        .cont-1-sm-box {
            @extend %cont-1-sm-box-size;
            @include d-flex (flex,flex-end,center);
            background-color: $color-010;
            @extend %border-def;
            @extend %cont-1-sm-box-med;
            .cont-1-sm-img {
                margin-left: 50px;
                max-width: 220px;
                @extend %cont-1-sm-img-med;
                a {
                    img {
                        width: 100%;
                    }
                }
            }
            h3 {
                @extend %cont-1-sm-h3-size;
                @extend %font-h3-def;
                @extend %cont-1-sm-h3-med;
            }
        }
    }
}
//Section-3
.sect-3 {
    @extend %sect-3-size;
    text-align: center;
    background-color: $color-01;
    @extend %border-def;
    @extend %sect-3-med;
    .cont-1-img-text {
        width: 90%;
        margin: 0 auto;
        padding: 10px 2px;
        @include d-flex (flex,space-between,end);
        @extend %cont-1-img-text-med;
        .flt-icon {
            @extend %flt-icon-size;
            @include d-flex (flex,space-between,center);
            @extend %flt-icon-med;
            .flt-icon-box {
                width: 100%;
            }
        }
        .flt-ico-nm {
            @extend %flt-ico-nm-size;
            text-align: end;
            @extend %flt-ico-nm-2-med;
            .ico-nm-h2 {
                font-size: 25px;
                @extend %ico-nm-h2-font;
                @extend %ico-nm-h2-med;
            }
            .xazi {
                @extend %xazi;    
            }
        }
    }
    .sect-3-cont {
        @extend %sect-3-cont-size;
        @include d-flex (flex,space-around,center);
        @extend %sect-3-cont-med;
        .slick-dots {
            @extend %slick-dots;
        }
        .cont-2-box {
            @extend %cont-2-box-size;
            @extend %border-def;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            @extend %cont-2-box-med;
            .cont-2-text {
                @extend %cont-2-text-size;
                @include d-flex (flex,space-around,baseline);
                flex-direction: column;
                @extend %cont-2-text-med;
                .cont-2-img-box {
                    .cont-2-text-img {
                        width: $size-0-def;
                        height: 260px;
                        @extend %cont-2-text-img-med;
                    }
                }
            }
            .cont-2-p-box {
                @extend %cont-2-p-box-size;
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                @extend %cont-2-p-box-med;
                .cont-2-p {
                    margin-bottom: 5px;
                    @extend %cont-2-p-font;
                    @extend %cont-2-p-med;
                }
                .cont-2-cost {
                    width: 100%;
                    height: 85px;
                    margin-right: 10px;
                    @include d-flex (flex,end,center);
                    @extend %cont-2-cost-med;
                    h4 {
                        &:first-child {
                            margin-right: 50px;
                            span {
                                text-decoration: line-through;
                                color: rgba(255, 0, 0, 0.938);
                            }
                        }
                        @extend %cont-2-h4-font;
                        @extend %cont-2-h4-med;
                        span {
                            color: rgba(255, 0, 0, 0.938);
                        }
                    }
                }
            }
        }
    }
}
//Section-BanBox
.sect-banbox {
    @extend %sect-banbox-size;
    @include d-flex (flex,space-evenly,center);
    background-color: $color-01;
    flex-direction: column;
    @extend %sect-banbox-med;
    .banbox-cont {
        @extend %banbox-cont-size;
        @include d-flex (flex,space-around,center);
        @extend %banbox-cont-med;
        .banbox-box {
            @extend %banbox-box-size;
            @extend %border-def;
            @include d-flex (flex,flex-end,flex-end);
            @extend %banbox-box-med;
            .consol {
                @extend %consol-size;
                @extend %consol-med;
                .consol-ul {
                    @include d-flex (flex,center,center);
                    flex-direction: column;
                    .consol-li {
                        padding: 5px 0;
                        @extend %consol-li-font;
                        @extend %consol-li-dec;
                        @extend %consol-li-med;
                    }
                }
            }
            .box-box-ico {
                @extend %box-box-ico-size;
                @include d-flex (flex,flex-end,center);
                @extend %box-box-ico-med;
                .box-img-ico {
                    @extend %box-img-ico-size;
                    @extend %box-img-ico-med;
                }
            }
            .box-box {
                @extend %box-box-size;
                @include d-flex (flex,flex-end,center);
                @extend %box-box-med;
                .box-img {
                    @extend %box-img-size;
                    @extend %box-img-med;
                }
            }
        }
    }
    .banbox-cont-2 {
        @extend %banbox-cont-2-size;
        @include d-flex (flex,space-around,center);
        @extend %banbox-cont-2-med;
        .sect-ban-cont {
            @extend %sect-ban-cont-size;
            @extend %border-def;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            background-color: $color-010;
            @extend %sect-ban-cont-med;
            .tv-box {
                @extend %tv-box-size;
                @include d-flex (flex,center,center);
                @extend %tv-box-med;
                .tv {
                    @extend %tv-size;
                    @extend %tv-med;
                }
            }
            .tv-text-cont {
                @extend %tv-text-cont-size;
                @include d-flex (flex,space-between,center);
                @extend %tv-text-cont-med;
                .tv-icon {
                    max-width: 80px;
                    @include d-flex (flex,space-between,center);
                    .tv-icon-box {
                       width: 100%;
                       @extend %tv-icon-box-med;
                    }
                }
                .tv-ico-nm {
                    @extend %tv-ico-nm-size;
                    text-align: end;
                    @extend %tv-ico-nm-med;
                    .tv-ban-h1 {
                        @extend %tv-ban-h1-size;
                        @extend %sect-ban-h1-font;
                        @extend %tv-ban-h1-med;
                    }
                    .xazi {
                        @extend %xazi;
                    }
                }
            }
        }
        .sect-ban-cont-2 {
            @extend %sect-ban-cont-2-size;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            @extend %sect-ban-cont-2-med;
            .sect-ban-box {
                @extend %sect-ban-box-size;
                @extend %border-def;
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                @extend %sect-ban-box-med;
                .ban-box-img {
                    @extend %ban-box-img-size;
                    background-color: $color-010;
                    @extend %ban-box-img-med;
                    .cinema {
                        @extend %cinema-size;
                        @extend %cinema-med;
                    }
                }
                .tvh-text-cont {
                    @extend %tvh-text-cont-size;
                    @include d-flex (flex,space-between,center);
                    @extend %tvh-text-cont-med;
                    .tvh-icon {
                        max-width: 55px;
                        @include d-flex (flex,space-between,center);
                        .tvh-icon-box {
                           width: 100%;
                           @extend %tvh-icon-box-med;
                        }
                    }
                    .tvh-ico-nm {
                        @extend %tvh-ico-nm-size;
                        text-align: end;
                        @extend %tvh-ico-nm-med;
                        .tvh-ban-h1 {
                            @extend %tvh-ban-h1-size;
                            @extend %tvh-ban-h1-font;
                            @extend %tvh-ban-h1-med;
                        }
                        .xazi {
                            @extend %xazi;
                        }
                    }
                }
            }
        }
    }
}
//Section-4
.sect-4 {
    @extend %sect-4-size;
    background-color: $color-01;
    flex-direction: column;
    @extend %border-def;
    @include d-flex (flex,space-around,center);
    .cont-1-img-text {
        width: 90%;
        margin: 0 auto;
        padding: 10px 2px;
        @include d-flex (flex,space-between,end);
        @extend %cont-1-img-text-med;
        .flt-icon {
            @extend %flt-icon-size;
            @include d-flex (flex,space-between,center);
            @extend %flt-icon-med;
            .flt-icon-box {
                width: 100%;
            }
        }
        .flt-ico-nm {
            @extend %flt-ico-nm-size;
            text-align: end;
            @extend %flt-ico-nm-2-med;
            .ico-nm-h2 {
                font-size: 25px;
                @extend %ico-nm-h2-font;
                @extend %ico-nm-h2-med;
            }
            .xazi {
                @extend %xazi;    
            }
        }
    }
    .sect-4-cont {
        @extend %sect-4-cont-size;
        @include d-flex (flex,space-between,center);
        @extend %sect-4-cont-med;
        .slick-dots {
            bottom: -40px;
            @extend %slick-dots;
        }
        .sect-4-box {
            @extend %sect-4-box-size;
            @include d-flex (flex,space-around,center);
            @extend %border-def;
            background-color: $color-01;
            @extend %sect-4-box-med;
            .sect-4-img {
                @extend %sect-4-img-size;
                background-color: $color-010;
                @include d-flex (flex,space-around,center);
                @extend %sect-4-img-med;
                img {
                    width: 100px;
                }
            }
            .sect-4-text {
                @extend %sect-4-text-size;
                @extend %sect-4-text-med;
                h3 {
                    margin: 10px;
                    @extend %sect-4-h3-font;
                }
                p {
                    @extend %sect-4-p-size;
                    @extend %sect-4-p-font;
                    @extend %sect-4-p-med;
                }
                .sect-4-cost {
                    h4 {
                        &:first-child {
                            margin-right: 50px;
                            span {
                                text-decoration: line-through;
                                color: rgba(255, 0, 0, 0.938);
                            }
                        }
                        @extend %cont-2-h4-font;
                        @extend %cont-2-h4-med;
                        span {
                            color: rgba(255, 0, 0, 0.938);
                        }
                    }
                }
            }
        }
    }
}
//Section-Banner
.sect-baner {
    @extend %sect-baner-size;
    @include d-flex (flex,space-evenly,center);
    @extend %border-def;
    @extend %bg-banner;
    @extend %sect-baner-med;
    .sect-baner-text {
        @extend %sect-baner-text-size;
        @include d-flex (flex,space-around,baseline);
        flex-direction: column;
        @extend %sect-baner-text-med;
        .sect-baner-h1 {
            @extend %sect-baner-h1-font;
        }
        .sect-baner-p {
            @extend %sect-baner-p-font;
        }
        .sect-baner-shop {
            .sect-baner-h4 {
                @extend %sect-baner-h4-font;
            }
        }
    }
    .sect-baner-img {
        @extend %sect-baner-img-size;
        .sect-baner-img-box {
            width: $size-0-def;
            @extend %sect-baner-img-box-med;
        }
    }
}
//-------- DEMO SECTION --------
.demo-cont {
    background: $color-02;
    padding: 8px 32px;
    border-radius: 8px 8px 0 0;
    position: fixed;
    left: 110px;
    right: 100px;
    bottom: -100%;
    margin: 0 auto;
    height: 230px;
    transition: 400ms;
    z-index: 1000;
    @extend %demo-cont-med;
    P {
        padding: 20px 60px;
        margin: 16px 0;
        color: $color-01;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        cursor: pointer;
    }
    button {
        border: 0;
        padding: 15px 40px;
        background: $color-01;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 0 -8px 16px $color-03;
    }
}
.demo-cont.activ {
    bottom: 0;
}
//-------- Futer --------
.foot-bg {
    background-color: $color-01;
    @include d-flex (flex,space-around,center);
    flex-direction: column;
    margin-top: 40px;
    @extend %border-def;
    .foot-lok {
        @extend %foot-lok-size;
        @include d-flex (flex,space-around,center);
        flex-direction: row-reverse;
        .foot-cont {
            @extend %foot-cont-size;
            @include d-flex (flex,space-between,end);
            @extend %foot-cont-med;
            .foot-box {
                @extend %foot-box-size;
                @include d-flex (flex,space-evenly,center);
                flex-direction: column;
                text-align: center;
                @extend %foot-box-med;
                .foot-h1 {
                    padding-bottom: 20px;
                    @extend %foot-h1-font;
                    @extend %foot-h1-med;
                }
                .foot-p {
                    padding: 10px 0 20px 0;
                    @extend %foot-p-size;
                    @extend %foot-p-font;
                    @extend %foot-p-med;
                }
                .foot-ul-fa {
                    @extend %foot-ul-fa-size;
                    @include d-flex (flex,space-around,center);
                    .foot-li-fa {
                        padding: 5px 0;
                        @extend %foot-li-fa-font;
                        .fa {
                            @extend %font-fa-def;
                            @extend %fa-med;
                        }
                    }
                }
                .foot-ul {
                    @extend %foot-ul-size;
                    @include d-flex (flex,space-around,center);
                    flex-direction: column;
                    .foot-li {
                        padding: 5px 0;
                        @extend %foot-li-font;
                        @extend %foot-li-med;
                        .fa {
                            @extend %font-fa-def;
                        }
                    }
                }
                .cont-p {
                    @include d-flex (flex,space-between,center);
                    flex-direction: column;
                    .li-box {
                        padding: 10px 0;
                        @extend %li-box-med;
                        .fa {
                            @extend %font-fa-def;
                            @extend %fa-med;
                        }
                        .contact {
                            @extend %contact-font;
                            @extend %hover-def;
                            @extend %contact-med;
                        }
                    }
                }
            }
        }
    }
    .xazi {
        @extend %xazi;
    }
    .avtori {
        @extend %avtori-size;
        @include d-flex (flex,space-between,center);
        @extend %avtori-med;
        .avtori-p {
            @extend %avtori-p-font;
            @extend %avtori-p-med;
        }
        .avtori-a {
            @extend %avtori-a-font;
            @extend %avtori-a-med;
        }
    }
}




