//Heder
.head-bg {
    width: $size0;
    top: 0;
    left: 0;
    background-color: $color010;
    position: fixed;
    @include d-flex (flex,space-around,center);
    @include border (2px, solid, $color02);
    @media (max-width: 768px){
        display: block;
        text-align: center;
    }
    .nav-container {
        max-width: $size02;
        width: $size0;
        padding: 5px 0 5px;
        @include d-flex (flex,space-between,center);
        @media (max-width: 1024px) {
            width: 90%;
        }
        @media (max-width: 900px) {
            width: 35%;
            padding: 10px 0 10px;
            margin-right: 100px;
        }
        @media (max-width: 800px) {
            width: 90%;
            padding: 10px 0 10px;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            margin: 0 auto;
        }
        .nav-logo {
            max-width: 70px;
            width: $size0;
            height: 85px;
            &:hover {
                box-shadow: 1px 1px 15px $color02;
                @include transition-hover (all,0.4s,ease,0.4s);
            }
            @media (max-width: 900px) {
                width: 80px;
                height: 110px;
            }
            @media (max-width: 800px) {
                width: 80px;
                height: 110px;
                margin-left: 120px;
            }
            @media (max-width: 768px) {
                margin: 0 auto;
            }
            .img-logo {
                width: $size0;
            } 
        }
    }
    .navi {
        @include d-flex (flex,space-between,center);
        max-width: 930px;
        width: $size0;
        @media (max-width: 1024px) {
            width: 780px;
        }
        @media (max-width: 900px) {
            width: 60%;
            flex-direction: column-reverse;
        }
        @media (max-width: 800px) {
            width: 60%;
            flex-direction: column-reverse;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .nav-ul {
            max-width: 630px;
            width: $size0;
            @include d-flex (flex,space-between,center);
            @media (max-width: 1024px) {
                width: 500px;
            }
            @media (max-width: 900px) {
                width: 550px;
                padding-top: 10px;
            }
            @media (max-width: 800px) {
                width: 620px;
                margin-right: 170px;
            }
            @media (max-width: 768px) {
                display: none;
                margin: 0 auto;
                width: 100%;
            }
            .nav-li {
                @include d-flex (flex,center,center);
                @media (max-width: 768px) {
                    padding-bottom: 10px;;
                }
                .nav-a {
                    Color: $color03;
                    font-size: 10px;
                    font-family: 'ALKDots';
                    &:hover {
                        text-shadow: 1px 1px 28px $color02;
                        @include transition-hover (all,0.4s,ease,0.4s);
                    }
                    @media (max-width: 768px) {
                        display: block;
                    }
                }
            }
        }
        @media (max-width: 768px) {
            .open-menu {
                display: block;
                text-align: -webkit-center;
                padding: 20px 0;
            }
        }
        .soc-ul {
            max-width: 220px;
            width: $size0;
            @include d-flex (flex,space-between,center);
            flex-wrap: wrap;
            @media (max-width: 900px) {
                flex-wrap: wrap-reverse;
                margin-left: 200px;
            }
            @media (max-width: 800px) {
                flex-wrap: wrap-reverse;
                margin-left: 200px;
            }
            @media (max-width: 768px) {
                display: none;
                margin: 0 auto;
            }
            .contact-ul {
                max-width: 250px;
                width: 100%;
                height: 70px;
                @include d-flex (flex,space-around,baseline);
                flex-direction: column;
                padding-bottom: 10px;
                @media (max-width: 900px) {
                    height: 70px;
                    flex-direction: column-reverse;
                }
                @media (max-width: 800px) {
                    height: 70px;
                    flex-direction: column-reverse;
                }
                @media (max-width: 768px) {
                    align-items: center;
                }
                @media (max-width: 600px) {
                    height: 60px;
                }
                @media (max-width: 414px) {
                    height: 60px;
                }
                @media (max-width: 330px) {
                    height: 60px;
                }
                @media (max-width: 375px) {
                    height: 60px;
                }
            }
            .soc-a {
                max-width: 230px;
                width: 100%;
                font-size: 22px;
                color: #255A5A;
                font-family: 'ArchyEDT-Bold';
                @include d-flex (flex,space-between,flex-start);
                @media (max-width: 1024px) {
                    font-size: 20px;
                }
                @media (max-width: 900px) {
                    
                }
            }
            .soc-li {
                .fa {
                    font-size: 20px;
                    color: $color02;
                    padding-right: 10px;
                    &:hover {
                        box-shadow: 5px 15px 28px $color02;
                        @include border (0, solid, $color02);
                        @include transition-hover (all,0.4s,ease,0.4s);
                    }
                }
            }
        }
        @media (max-width: 768px) {
            .open-socicon {
                display: flex;
            }
        }
    }
    .burger-icon {
        display: none;
        @media (max-width: 800px) {
            margin-right: 70px;
        }
        @media (max-width: 768px) {
            color: $color02;
            display: block;
            font-size: 30px;
            position: absolute;
            top: 40px;
            right: 30px;
            cursor:pointer;
        }
        @media (max-width: 320px) {
            margin: 0 auto;
        }
    }
}
.sect-bg {
    background-position: center;
    background-size: cover;
    margin-top: 170px;
    .sect-conteiner-1 {
        width: 80%;
        margin: 0 auto;
        .slider-cont {
            box-shadow: 1px 1px 15px 10px $color03;
            .cont-1-img-box {
                width: 100%;
                height: 215px;
                @include border (2px, ridge, $color011);
                padding: 1px;
                .img-wid {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .arrow-prev {
            position: absolute;
            top: 28%;
            left: 1%;
            font-size: 120px;
            color: $color04;
            text-shadow: 3px 1px $color011;
            @media (max-width: 768px) {
                font-size: 90px;
            }
        }
        .arrow-next {
            position: absolute;
            top: 28%; 
            left: 92%;
            font-size: 120px;
            color: $color04;
            text-shadow: 3px 1px $color011;
            @media (max-width: 768px) {
                font-size: 90px;
            }
        }
    }
    .sect-conteiner-2 {
        text-align: center;
        margin-top: 110px;
        .cont-2-h2 {
            color: $color03;
            font-size: 36px;
            font-family: 'Poopins-B';
        }
        .cont {
            max-width: 1920px;
            width: $size0;
            height: 340px;
            @include d-flex (flex,space-around,center);
            margin-top: 30px;
        }
        .conteiner-2-box {
            max-width: 280px;
            width: $size0;
            height: 320px;
            background-color: $color04;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 20px;
            .cont-2-text {
                max-width: 280px;
                width: $size0;
                height: 120px;
                padding-left: 10px;
                @include d-flex (flex,space-around,baseline);
                flex-direction: column;
                .cont-2-h2 {
                    color: $color01;
                    font-size: 36px;
                    font-family: 'Poopins-B';
                }
                .cont-2-p {
                    color: $color01;
                    font-size: 14px;
                    font-family: 'Poppins-R';
                }
                .cont-2-cost {
                    .cont-2-h4 {
                        color: $color01;
                        font-size: 14px;
                        font-family: 'Poppins-R';
                    }   
                }
            }
            .cont-2-img {
                .sect-2-img-box {
                    width: $size0;
                }
            }
        }
        .conteiner-2-box-2 {
            max-width: 280px;
            width: $size0;
            height: 320px;
            background-color: #F6F7F8;
            @include d-flex (flex,space-around,baseline);
            flex-direction: column-reverse;
            .cont-2-text-2 {
                width: $size0;
                padding-left: 10px;
                @include d-flex (flex,space-around,center);
                .cont-2-h2-2 {
                    color: $color03;
                    font-size: 26px;
                    font-family: 'Poopins-B';
                }
                .cont-2-cost-2 {
                    .cont-2-h4-2 {
                        color: $color03;
                        font-size: 14px;
                        font-family: 'Poppins-R';
                    }
                }
            }
            .cont-2-img-2 {
                max-width: 280px;
                .sect-2-img-box-2 {
                    width: 100%;
                }
            }
        }
        .conteiner-2-box-3 {
            max-width: 280px;
            width: $size0;
            height: 320px;
            background-color: #C1C8CE;
            .cont-2-text-3 {
                max-width: 280px;
                width: $size0;
                height: 120px;
                padding-left: 10px;
                @include d-flex (flex,space-around,baseline);
                flex-direction: column;
                .cont-2-h2-3 {
                    font-size: 26px;
                    font-family: 'Poopins-B';
                    color: $color03;
                }
                .cont-2-p-3 {
                    font-size: 14px;
                    font-family: 'Poppins-R';
                    color: $color03;
                }
                .cont-2-cost-3 {
                    .cont-2-h4-3 {
                        font-size: 14px;
                        font-family: 'Poppins-R';
                        color: $color03;
                    }
                }
            }
            .cont-2-img-3 {
                .sect-2-img-box-3 {
                    width: $size0;
                }
            }
        }
    }
    .sect-conteiner-3 {
        max-width: 1920px;
        width: $size0;
        height: 800px;
        @include d-flex (flex,space-around,center);
        flex-direction: column;
        .cont-3-h2 {
            color: $color03;
            font-size: 36px;
            font-family: 'Poopins-B';
        }
        .cont-3-ul {
            max-width: 680px;
            width: $size0;
            @include d-flex (flex,space-around,center);
            .cont-3-li {
                .cont-3-a {
                    Color: $color04;
                    font-size: 15px;
                    font-family: 'Poppins-B';
                }
            }
        }
        .container-3 {
            max-width: 1240px;
            width: $size0;
            @include d-flex (flex,space-around,center);
            .cont-3-box {
                max-width: 270px;
                width: $size0;
                height: 260px;
                background-color: $color011;
                @include d-flex (flex,space-around,center);
                flex-direction: column;
                @include border (2px, solid, $color02);
                .cont-3-img {
                    max-width: 220px;
                    .sect-3-img-box {
                        width: $size0;
                    }
                }
                .cont-3-h3 {
                    color: $color03;
                }
                .cont-3-cost {
                    .cont-3-h4 {
                        color: $color03;
                    }
                }
            }
        }
        .sect-3-load {
            color: $color02;
        }
    }
}
//Section 2
.sect-2-bg {
    .sect-2-cont-3 {
        height: 220px;
        @include d-flex (flex,space-around,center);
        flex-direction: column;
        .sect-2-cont-3-h2 {
            color: $color03;
        }
        .sect-2-cont-3-wrap {
            display: flex;
            .sect-2-cont-3-box {
            max-width: 320px;
            width: 100%;
            @include d-flex (flex,space-around,center);
            .sect-2-cont-3-img {
                max-width: 150px;
                .sect-2-cont-3-img-box {
                    width: $size0;
                }
            }
            .sect-2-cont-3-h3 {
                color: $color03;
            }
            .sect-2-cont-3-p {
                color: $color03;
            }
            }
        }
    }
    .sect-2-conteiner {
        background-color: $color02;
        max-width: 1920px;
        width: $size0;
        height: 330px;
        margin-bottom: 20px;
        @include d-flex (flex,space-evenly,center);
        .sect-2-text {
            max-width: 330px;
            width: $size0;
            height: 224px;
            @include d-flex (flex,space-around,baseline);
            flex-direction: column;
            .sect-2-h2 {
                color: $color01;
                font-size: 36px;
                font-family: 'Poopins-B';
            }
            .sect-2-p {
                color: $color01;
                font-size: 14px;
                font-family: 'Poppins-R';
            }
            .sect-2-shop {
                .sect-2-h4 {
                    color: $color01;
                    font-size: 14px;
                    font-family: 'Poppins-R';
                }
            }
        }
        .sect-2-img {
            max-width: 340px;
            margin-bottom: 23px;
            .sect-2-img-box {
                width: $size0;
            }
        }
    }
}
.foot-bg {
    background-color: $color010;
    @include d-flex (flex,space-around,center);
    flex-direction: column;
    @include border (2px, solid, $color02);
    .foot-container {
        max-width: $size02;
        width: $size0;
        @include d-flex (flex,space-around,baseline);
        @media (max-width: 800px) {
            width: 90%;
        }
        @media (max-width: 600px) {
            width: 80%;
        }
        @media (max-width: 414px) {
            flex-direction: column-reverse;
            align-items: center;
        }
        @media (max-width: 375px) {
            flex-wrap: wrap-reverse;
        }
        @media (max-width: 330px) {
            flex-wrap: wrap-reverse;
        }
        .foot-box {
            max-width: 310px;
            width: 100%;
            height: 155px;
            @include d-flex (flex,space-evenly,center);
            flex-direction: column;
            text-align: center;
            @media (max-width: 800px) {
                align-items: center;
                text-align: center;
            }
            @media (max-width: 768px) {
                align-items: center;
                text-align: center;
            }
            @media (max-width: 600px) {
                text-align: center;
                align-items: center;
            }
            @media (max-width: 414px) {
                text-align: center;
                align-items: center;
            }
            @media (max-width: 375px) {
                text-align: center;
                align-items: center;
            }
            @media (max-width: 330px) {
                text-align: center;
                align-items: center;
            }
            .foot-h2 {
                font-size: 20px;
                color: $color03;
                font-family: 'ArchyEDT-Bold';
            }
            .foot-p {
                max-width: $size03;
                width: $size0;
                color: $color03;
                font-family: 'BPG Nino Medium Caps';
            }
            .foot-ul {
                max-width: $size04;
                width: $size0;
                @include d-flex (flex,space-around,center);
                .foot-li {
                    .fa {
                        font-size: 20px;
                        color: $color02;
                        &:hover {
                            box-shadow: 5px 15px 28px $color02;
                            @include border (0, solid, $color02);
                            @include transition-hover (all,0.4s,ease,0.4s);
                        }
                    }
                }  
            }
            .cont-p {
                max-width: $size04;
                width: $size0;
                height: 55px;
                @include d-flex (flex,space-around,center);
                flex-direction: column;
                @media (max-width: 800px) {
                    width: 140px;
                }
                @media (max-width: 600px) {
                    width: 140px;
                }
                @media (max-width: 414px) {
                    width: 150px;
                }
                @media (max-width: 375px) {
                    width: 150px;
                }
                @media (max-width: 330px) {
                    width: 150px;
                }
                .li-box {
                    max-width: 150px;
                    width: 100%;
                    @include d-flex (flex,space-between,center);
                    @media (max-width: 768px) {
                        width: 140px;
                    }
                    .fa-foot {
                        color: $color02;
                        font-size: 15px;
                    }
                    .contact {
                        font-size: 14px;
                        color: $color03;
                        font-family: 'BPG Nino Medium Caps';
                    }
                }
            }
        }
    }
    .xazi {
        margin:25px 0 25px 0;
        max-width: 1080px;
        width: 100%;
        content: ' ';
        color: #062D2D;
        @include border (0.1px, solid, $color04);
        box-shadow: 0 0 15px $color02;
        @media (max-width: 1024px) {
            width: 90%;
        }
        @media (max-width: 800px) {
            width: 90%;
        }
        @media (max-width: 768px) {
            width: 90%;
        }
        @media (max-width: 600px) {
            width: 80%;
        }
        @media (max-width: 414px) {
            width: 80%;
        }
        @media (max-width: 375px) {
            width: 80%;
        }
        @media (max-width: 330px) {
            width: 80%;
        }
    }
    .avtori {
        max-width: 1080px;
        width: $size0;
        padding-bottom: 20px;
        @include d-flex (flex,space-between,center);
        @media (max-width: 1024px) {
            width: 85%;
        }
        @media (max-width: 800px) {
            width: 90%;
        }
        @media (max-width: 768px) {
            width: 90%;
        }
        @media (max-width: 600px) {
            flex-direction: column;
        }
        @media (max-width: 414px) {
            height: 55px;
            flex-direction: column;
        }
        @media (max-width: 375px) {
            height: 55px;
            flex-direction: column;
        }
        @media (max-width: 330px) {
            height: 55px;
            flex-direction: column;
        }
        @media (max-width: 320px) {
            text-align: center;
        }
        .avtori-p {
            font-size: 12px;
            color: $color03;
            font-family: 'BPG Nino Medium Caps';
            @media (max-width: 600px) {
                padding-bottom: 10px;
            }
        }
        .copy {
            font-size: 12px;
            color: $color03;
            font-family: 'BPG Nino Medium Caps';
        }
    }
    .foot-conteiner-2 {
        max-width: $size02;
        width: $size0;
        @include d-flex (flex,space-around,baseline);
        @media (max-width: 768px) {
            width: 90%;
        }
        @media (max-width: 600px) {
            flex-wrap: wrap;
            
        }
        @media (max-width: 414px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 375px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 330px) {
            flex-direction: column;
            align-items: center;
        }
        .foot-2-box {
            height: $size04;
            @include d-flex (flex,space-evenly,flex-start);
            flex-direction: column;
            @media (max-width: 600px) {
                width: 250px;
                align-items: center;
            }
            @media (max-width: 414px) {
                align-items: center;
                &:after{
                    margin:25px 0 25px 0;
                    max-width: 1080px;
                    width: 100%;
                    content: ' ';
                    color: #062D2D;
                    @include border (0.1px, solid, $color04);
                    box-shadow: 0 0 15px $color02;
                }
            }
            @media (max-width: 375px) {
                align-items: center;
                &:after{
                    margin:25px 0 25px 0;
                    max-width: 1080px;
                    width: 100%;
                    content: ' ';
                    color: #062D2D;
                    @include border (0.1px, solid, $color04);
                    box-shadow: 0 0 15px $color02;
                }
            }
            @media (max-width: 330px) {
                align-items: center;
                &:after{
                    margin:25px 0 25px 0;
                    max-width: 1080px;
                    width: 100%;
                    content: ' ';
                    color: #062D2D;
                    @include border (0.1px, solid, $color04);
                    box-shadow: 0 0 15px $color02;
                }
            }
            .foot-2-h2 {
                font-size: 20px;
                color: $color03;
                font-family: 'ArchyEDT-Bold';
                padding-bottom: 20px;
            }
            .foot-2-ul {
                height: 130px;
                @include d-flex (flex,space-around,end);
                flex-direction: column;
                @media (max-width: 600px) {
                    align-items: center;
                }
                @media (max-width: 414px) {
                    align-items: center;
                }
                @media (max-width: 375px) {
                    align-items: center;
                }
                @media (max-width: 330px) {
                    align-items: center;
                }
                .foot-2-li {
                    font-size: 14px;
                    color: $color03;
                    font-family: 'BPG Nino Medium Caps';
                }
            }
        }
    }
    
}