//Body
.body-bg {
    background-color: $color-01;
}
//HEADER
.sect-baner-s {
    height: 50px;
    background-color: $color-02;
    @include d-flex (flex,space-around,center);
    @extend %border-def;
    @extend %sect-baner-s-med;
    .baner-s {
        width: 100%;
        @include d-flex (flex,center,center);
        .nav-ul {
            max-width: 1800px;
            width: 100%;
            @include d-flex (flex,space-between,center);
            @extend %nav-ul-med;
            .nav-li {
                @extend %nav-li-med;
                @extend %hover-dop;
                @include d-flex (flex,space-between,center);
                .geo-img {
                    max-width: 30px;
                    margin-right: 10px;
                    @extend %geo-img-med;
                    .geo {
                        width: 100%;
                        height: 25px;
                        @extend %geo-med;
                    }
                }
                .fa {
                    margin-right: 30px;
                    @extend %banner-font-fa;
                    @extend %nav-fa-med;
                    @extend %baner-s-fa-med;
                }
                .nav-a {
                    @extend %nav-a-h1-font;
                    @extend %nav-a-med;
                }
                
            }
            .soc-ul {
                max-width: 875px;
                width: 100%;
                display: flex;
                justify-content: space-around;
                @extend %soc-ul-med;
                .soc-li {
                    @extend %soc-li-med;
                    .fa {
                        @extend %font-fa-header;
                        @extend %fa-med;
                    }
                    .soc-a {
                        @extend %soc-a-font;
                        @extend %hover-def;
                        @extend %soc-a-med;
                    }
                }
                .contact-ul {
                    @include d-flex (flex,space-between,end);
                    @extend %contact-ul-med;
                }
                .contact-box {
                    max-width: 600px;
                    width: 100%;
                    @include d-flex (flex,space-between,end);
                    @extend %contact-box-med;
                }
            }
        }
    }
}
.head-cont {
    background-color: $color-01;
    @extend %head-cont-size;
    @extend %border-def;
    @extend %head-cont-med;
    .nav-box {
        max-width: 1820px;
        width: 100%;
        margin: 0px auto;
        @include d-flex (flex,space-between,center);
        @extend %nav-box-med;
        .nav-logo {
            max-width: 90px;
            width: 100%;
            @extend %hover-def;
            @extend %nav-logo-med;
            .img-100 {
                width: 100%;
            }
        }
        .head-flt-cont {
            max-width: 920px;
            width: 100%;
            margin: 0 auto;
            padding: 5px 0 10px;
            @include d-flex (flex,space-between,center);
            @extend %head-flt-cont-med;
            .head-flt-ul {
                width: 100%;
                margin: 0 auto;
                @include d-flex (flex,space-between,center);
                @extend %head-flt-ul-med;
                .head-flt-li {
                    @extend %head-flt-li-font;
                    @extend %head-flt-li-med;
                    text-align: center;
                }
            }
        }
        .navi {
            max-width: 580px;
            width: 100%;
            @include d-flex (flex,space-between,center);
            @extend %navi-med;
            @extend %nav-ul-open-med;
            .navi-cont {
                width: 100%;
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                @extend %navi-cont-med;
                .search {
                    width: 550px;
                    height: 60px;
                    @extend %border-srch;
                    @extend %search-med;
                    .element-search {
                        @extend %element-search-size;
                        .inp-search {
                            width: 480px;
                           height: 100%;
                           border: none;
                           vertical-align: bottom;
                           padding: 0 25px;
                           @extend %font-p-def;
                           @extend %border-srch;
                           @extend %inp-search-med;
                        }
                        .srch-fa {
                            @extend %search-fa;
                            vertical-align: bottom;
                            padding: 0 20px 15px;
                            @extend %srch-fa-med;
                        }
                   }
                }
            }
        }
        .burger-icon {
            display: none;
            @extend %burger-icon-med;
        }
    }
}
//Active-Header
.active {
    position: sticky;
    top: 0;
    left: 0;
    height: 55px;
    z-index: 500;
    background: #F4F6F6;
    transition: all 0.6s;
    display: flex;
    flex-direction: column-reverse;
    @extend %active-med;
    .nav-box {
        height: 60px;
        @extend %nav-box-act-med;
        .nav-logo {
            max-width: 45px;
            height: 50px;
            @extend %nav-logo-act-med;
            .img-100 {
                width: 100%
            }
        }
        .head-flt-cont {
            display: none;
            .open-socicon {
                height: 50px;
                padding: 5px 0 5px;
                display: flex;
                @extend %open-socicon-act-med;
            }
        }
        .navi {
            max-width: 1480px;
            height: 50px;
            @extend %navi-act-med;
            .navi-cont {
                width: 100%;
                flex-direction: row-reverse;
                @extend %navi-cont-act-med;
                .search {
                    width: 1410px;
                    height: 40px;
                    @extend %search-act-med;
                    .element-search {
                        .inp-search {
                            width: 1320px;
                            @extend %inp-search-act-med;
                        }
                        .srch-fa {
                            padding: 0 27px 4px;
                            @extend %srch-fa-act-med;
                        }
                    }
                }
            }
            .soc-ul {
                display: none;
                .contact-ul {
                    max-width: 60px;
                    width: 100%;
                    flex-direction: row;
                    @extend %contact-ul-act-med;
                    .soc-li {
                        padding: 2px 0 0 0;
                        @extend %soc-li-act-med;
                        .fa {
                            font-size: 22px;
                            letter-spacing: 5px;
                            @extend %soc-fa-act-med;
                        }
                    }
                }
                .contact-box {
                    max-width: 470px;
                    width: 100%;
                    flex-direction: row;
                    @extend %contact-box-act-med;
                    .soc-li {
                        padding: 2px 0 0 0;
                        @extend %soc-li-act-med;
                        .soc-a {
                            font-size: 21px;
                            @extend %soc-a-act-med;
                            .fa {
                                font-size: 22px;
                                letter-spacing: 5px;
                                @extend %soc-fa-act-med;
                            }
                        }
                    }
                }
            }
        }
        .burger-icon {
            display: block;
            color: $color-02;
            font-size: 30px;
            top: 13px;
            right: 50px;
            cursor: pointer;
            @extend %burger-icon-act-med;
        }
    }
}
.open-head-size {
    height: 1090px;
    flex-direction: column;
    @extend %open-head-size-act-med;
}
//----------
//Section-1
.sect-1 {
    @extend %sect-1-size;
    position: static;
    @extend %sect-1-med;
    .sect-1-cont {
        z-index: 1000;
        @extend %sect-1-cont-med;
        .sect-1-box {
            @extend %sect-1-box-size;
            @extend %sect-1-box-med;
            .slick-dots {
                bottom: 25px;
                @extend %slick-dots;
                @extend %slick-dots-med;
            }
            .sect-1-img {
                @extend %sect-1-img-size;
                @extend %border-def;
                @extend %sect-1-img-med;
            }
        }
    }
}
//Section-2
.sect-2 {
    @extend %sect-2-size;
    @include d-flex (flex,space-around,center);
    @extend %border-def;
    flex-direction: column;
    @extend %sect-2-med;
    .pro-navi {
        @extend %pro-navi-def;
        @extend %border-def;
        @include d-flex (flex,flex-start,center);
        @extend %pro-navi-med;
        .pro-fa {
            @extend %pro-fa-def;
            @extend %pro-navi-ico-fe;
            @extend %pro-fa-med;
        }
        .pro-navi-href {
            .pro-navi-h4 {
                @extend %pro-navi-h4-def;
                @extend %pro-navi-fe;
                @extend %pro-navi-h4-med;
            }
        }
    }
    .sect-2-big {
        @extend %sect-2-big-size;
        @include d-flex (flex,space-around,flex-start);
        @extend %sect-2-big-med;
        .sect-2-flt {
            max-width: 550px;
            width: 100%;
            @include d-flex (flex,end,center);
            flex-direction: column;
            position: sticky;
            top: 110px;
            @extend %sect-2-flt-med;
            .cont-1-img-text {
                @extend %cont-1-img-text-size;
                @include d-flex (flex,space-between,end);
                @extend %cont-1-img-text-med;
                .flt-icon {
                    @extend %flt-icon-size;
                    @include d-flex (flex,space-between,center);
                    @extend %flt-icon-med;
                    .flt-icon-box {
                        width: 100%;
                        @extend %flt-icon-box-med;
                    }
                }
                .flt-ico-nm {
                    @extend %flt-ico-nm-size;
                    text-align: end;
                    @extend %flt-ico-nm-2-med;
                    .ico-nm-h2 {
                        font-size: 25px;
                        @extend %ico-nm-h2-font;
                        @extend %ico-nm-h2-med;
                    }
                    .xazi {
                        @extend %xazi;    
                    }
                }
            }
            .s2-flt-ul {
                @extend %s2-flt-ul-size;
                @extend %s2-flt-ul-med;
                .s2-flt-li {
                    @extend %s2-flt-li-size;
                    @extend %s2-flt-li-font;
                    @extend %border-def;
                    @extend %s2-flt-li-fe;
                    @include d-flex (flex,space-between,center);
                    @extend %s2-flt-li-med;
                    .flt-li-box {
                        @extend %flt-li-box-size;
                        @extend %flt-li-box-med;
                        margin: 10px;
                        .flt-li-img {
                            @extend %flt-li-img-size;
                            @extend %flt-li-img-med;
                        }
                    }
                }
            }
        }
        .sect-2-box {
            @extend %sect-2-box-size;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            @extend %sect-2-box-med;
            .cont-1-list {
                @extend %cont-1-list-size;
                @include d-flex (flex,space-evenly,center);
                @extend %cont-1-list-med;
                .cont-1-list-box {
                    background-color: $color-01;
                    @extend %cont-1-list-box-size;
                    @include d-flex (flex,space-between,center);
                    flex-direction: column;
                    @extend %cont-1-list-box-med;
                    .cont-1-img {
                        @extend %cont-1-img-size;
                        @include d-flex (flex,center,center);
                        flex-direction: column;
                        @extend %cont-1-img-med;
                        .cont-1-img-hrf {
                            @extend %cont-1-img-hrf-size;
                            @include d-flex (flex,center,end);
                            @extend %cont-1-img-href-ie;
                            @extend %cont-1-img-hrf-med;
                            .cont-1-img-box {
                                @extend %cont-1-img-box-size;
                                @extend %cont-1-img-box-med;
                            }
                        }
                        .cont-1-img-text {
                            @extend %cont-1-img-text-size;
                            @include d-flex (flex,space-between,end);
                            @extend %cont-1-img-text-med;
                            .flt-icon {
                                @extend %flt-icon-size;
                                @include d-flex (flex,space-between,center);
                                @extend %flt-icon-med;
                                .flt-icon-box {
                                    width: 100%;
                                    @extend %flt-icon-box-med;
                                }
                            }
                            .flt-ico-nm {
                                @extend %flt-ico-nm-size;
                                text-align: end;
                                @extend %flt-ico-nm-2-med;
                                .ico-nm-h2 {
                                    font-size: 25px;
                                    @extend %ico-nm-h2-font;
                                    @extend %flt-ico-nm-h2-fe;
                                    @extend %ico-nm-h2-med;
                                }
                                .xazi {
                                    @extend %xazi;    
                                }
                            }
                        }
                    }
                    .cont-1-fit {
                        @extend %cont-1-fit-size;
                        @extend %cont-1-fit-med;
                        .cont-1-fit-ul {
                            @extend %cont-1-fit-ul-size;
                            @include d-flex (flex,space-around,end);
                            flex-direction: column;
                            @extend %cont-1-fit-ul-med;
                            .cont-1-fit-li {
                                @extend %cont-1-fit-li-size;
                                @include d-flex (flex,space-between,center);
                                .cont-1-fit-a {
                                    @extend %cont-1-fit-li-font;
                                    @extend %font-hover-def;
                                    @extend %cont-1-fit-a-med;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sect-2-sm {
        @extend %sect-2-sm-size;
        @include d-flex (flex,space-between,center);
        @extend %sect-2-sm-med;
        .cont-1-sm-box {
            @extend %cont-1-sm-box-size;
            @include d-flex (flex,flex-end,center);
            background-color: $color-010;
            @extend %border-def;
            @extend %cont-1-sm-box-med;
            .cont-1-sm-img {
                margin-left: 50px;
                max-width: 220px;
                @extend %cont-1-sm-img-med;
                .cont-1-sm-img-box {
                    width: 100%;
                    @extend %cont-1-sm-img-box-med;
                }
            }
            .cont-1-sm-h3 {
                @extend %cont-1-sm-h3-size;
                @extend %font-h3-def;
                @extend %cont-1-sm-h3-med;
            }
        }
    }
}
//Section-3
.sect-3 {
    @extend %sect-3-size;
    text-align: center;
    background-color: $color-01;
    @extend %sect-3-med;
    .cont-1-img-text {
        @extend %cont-1-img-text-size;
        @include d-flex (flex,space-between,end);
        @extend %cont-1-img-text-med;
        .flt-icon {
            @extend %flt-icon-size;
            @include d-flex (flex,space-between,center);
            @extend %flt-icon-med;
            .flt-icon-box {
                width: 100%;
                @extend %flt-icon-box-med;
            }
        }
        .flt-ico-nm {
            @extend %flt-ico-nm-size;
            text-align: end;
            @extend %flt-ico-nm-2-med;
            .ico-nm-h2 {
                font-size: 25px;
                @extend %ico-nm-h2-font;
                @extend %ico-nm-h2-med;
            }
            .xazi {
                @extend %xazi;    
            }
        }
    }
    .sect-3-cont {
        @extend %sect-3-cont-size;
        @include d-flex (flex,space-around,center);
        @extend %sect-3-cont-med;
        .slick-dots {
            @extend %slick-dots;
        }
        .cont-2-box {
            @extend %cont-2-box-size;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            @extend %cont-2-box-med;
            .cont-2-text {
                @extend %cont-2-text-size;
                @include d-flex (flex,space-around,baseline);
                flex-direction: column;
                @extend %cont-2-text-med;
                .cont-2-img-box {
                    .cont-2-text-img {
                        width: $size-0-def;
                        height: 260px;
                        @extend %cont-2-text-img-med;
                    }
                }
            }
            .cont-2-p-box {
                @extend %cont-2-p-box-size;
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                @extend %cont-2-p-box-med;
                .cont-2-p {
                    margin-bottom: 5px;
                    @extend %cont-2-p-font;
                    @extend %cont-2-p-med;
                }
                .cont-2-cost {
                    margin: 15px 0 10px 200px;
                    @extend %cont-2-cost-med;
                    .cont-2-h4 {
                        @extend %cont-2-h4-font;
                        @extend %cont-2-h4-med;
                    }
                }
            }
        }
    }
}
//Section-BanBox
.sect-banbox {
    @extend %sect-banbox-size;
    @include d-flex (flex,space-evenly,center);
    background-color: $color-01;
    flex-direction: column;
    @extend %sect-banbox-med;
    .banbox-cont {
        @extend %banbox-cont-size;
        @include d-flex (flex,space-around,center);
        @extend %banbox-cont-med;
        .banbox-box {
            @extend %banbox-box-size;
            @extend %border-def;
            @include d-flex (flex,flex-end,flex-end);
            @extend %banbox-box-med;
            .consol {
                @extend %consol-size;
                @extend %consol-med;
                .consol-ul {
                    @include d-flex (flex,center,center);
                    flex-direction: column;
                    .consol-li {
                        padding: 5px 0;
                        @extend %consol-li-font;
                        @extend %consol-li-dec;
                        @extend %consol-li-med;
                    }
                }
            }
            .box-box-ico {
                @extend %box-box-ico-size;
                @include d-flex (flex,flex-end,center);
                @extend %box-box-ico-med;
                .box-img-ico {
                    @extend %box-img-ico-size;
                    @extend %box-img-ico-med;
                }
            }
            .box-box {
                @extend %box-box-size;
                @include d-flex (flex,flex-end,center);
                @extend %box-box-med;
                .box-img {
                    @extend %box-img-size;
                    @extend %box-img-med;
                }
            }
        }
    }
    .banbox-cont-2 {
        @extend %banbox-cont-2-size;
        @include d-flex (flex,space-around,center);
        @extend %banbox-cont-2-med;
        .sect-ban-cont {
            @extend %sect-ban-cont-size;
            @extend %border-def;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            background-color: $color-010;
            @extend %sect-ban-cont-med;
            .tv-box {
                @extend %tv-box-size;
                @include d-flex (flex,center,center);
                @extend %tv-box-med;
                .tv {
                    @extend %tv-size;
                    @extend %tv-med;
                }
            }
            .tv-text-cont {
                @extend %tv-text-cont-size;
                @include d-flex (flex,space-between,center);
                @extend %tv-text-cont-med;
                .tv-icon {
                    max-width: 80px;
                    @include d-flex (flex,space-between,center);
                    .tv-icon-box {
                       width: 100%;
                       @extend %tv-icon-box-med;
                    }
                }
                .tv-ico-nm {
                    @extend %tv-ico-nm-size;
                    text-align: end;
                    @extend %tv-ico-nm-med;
                    .tv-ban-h1 {
                        @extend %tv-ban-h1-size;
                        @extend %sect-ban-h1-font;
                        @extend %tv-ban-h1-med;
                    }
                    .xazi {
                        @extend %xazi;
                    }
                }
            }
        }
        .sect-ban-cont-2 {
            @extend %sect-ban-cont-2-size;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            @extend %sect-ban-cont-2-med;
            .sect-ban-box {
                @extend %sect-ban-box-size;
                @extend %border-def;
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                @extend %sect-ban-box-med;
                .ban-box-img {
                    @extend %ban-box-img-size;
                    background-color: $color-010;
                    @extend %ban-box-img-med;
                    .cinema {
                        @extend %cinema-size;
                        @extend %cinema-med;
                    }
                }
                .tvh-text-cont {
                    @extend %tvh-text-cont-size;
                    @include d-flex (flex,space-between,center);
                    @extend %tvh-text-cont-med;
                    .tvh-icon {
                        max-width: 55px;
                        @include d-flex (flex,space-between,center);
                        .tvh-icon-box {
                           width: 100%;
                           @extend %tvh-icon-box-med;
                        }
                    }
                    .tvh-ico-nm {
                        @extend %tvh-ico-nm-size;
                        text-align: end;
                        @extend %tvh-ico-nm-med;
                        .tvh-ban-h1 {
                            @extend %tvh-ban-h1-size;
                            @extend %tvh-ban-h1-font;
                            @extend %tvh-ban-h1-med;
                        }
                        .xazi {
                            @extend %xazi;
                        }
                    }
                }
            }
        }
    }
}
//Section-4
.sect-4 {
    @extend %sect-4-size;
    background-color: $color-01;
    flex-direction: column;
    @include d-flex (flex,space-around,center);
    @extend %sect-4-med;
    .cont-1-img-text {
        @extend %cont-1-img-text-size;
        @include d-flex (flex,space-between,end);
        @extend %cont-1-img-text-med;
        .flt-icon {
            @extend %flt-icon-size;
            @include d-flex (flex,space-between,center);
            @extend %flt-icon-med;
            .flt-icon-box {
                width: 100%;
                @extend %flt-icon-box-med;
            }
        }
        .flt-ico-nm {
            @extend %flt-ico-nm-size;
            text-align: end;
            @extend %flt-ico-nm-2-med;
            .ico-nm-h2 {
                font-size: 25px;
                @extend %ico-nm-h2-font;
                @extend %ico-nm-h2-med;
            }
            .xazi {
                @extend %xazi;    
            }
        }
    }
    .sect-4-cont {
        @extend %sect-4-cont-size;
        @include d-flex (flex,space-between,center);
        @extend %sect-4-cont-med;
        .slick-dots {
            bottom: -40px;
            @extend %slick-dots;
        }
        .sect-4-box {
            @extend %sect-4-box-size;
            @include d-flex (flex,space-around,center);
            @extend %border-def;
            background-color: $color-01;
            @extend %sect-4-box-med;
            .sect-4-img {
                @extend %sect-4-img-size;
                background-color: $color-010;
                @include d-flex (flex,space-around,center);
                @extend %sect-4-img-med;
                .sect-4-img-box {
                    width: 100px;
                }
            }
            .sect-4-text {
                @extend %sect-4-text-size;
                @extend %sect-4-text-med;
                .sect-4-h3 {
                    margin: 10px;
                    @extend %sect-4-h3-font;
                }
                .sect-4-p {
                    @extend %sect-4-p-size;
                    @extend %sect-4-p-font;
                    @extend %sect-4-p-med;
                }
            }
        }
    }
}
//Section-Banner
.sect-baner {
    @extend %sect-baner-size;
    @include d-flex (flex,space-evenly,center);
    @extend %border-def;
    @extend %bg-banner;
    @extend %sect-baner-med;
    .sect-baner-text {
        @extend %sect-baner-text-size;
        @include d-flex (flex,space-around,baseline);
        flex-direction: column;
        @extend %sect-baner-text-med;
        .sect-baner-h1 {
            @extend %sect-baner-h1-font;
        }
        .sect-baner-p {
            @extend %sect-baner-p-font;
        }
        .sect-baner-shop {
            .sect-baner-h4 {
                @extend %sect-baner-h4-font;
            }
        }
    }
    .sect-baner-img {
        @extend %sect-baner-img-size;
        .sect-baner-img-box {
            width: $size-0-def;
            @extend %sect-baner-img-box-med;
        }
    }
}
//Futer
.foot-bg {
    background-color: $color-01;
    @include d-flex (flex,space-around,center);
    flex-direction: column;
    margin-top: 40px;
    @extend %border-def;
    @extend %foot-bg-med;
    .foot-lok {
        @extend %foot-lok-size;
        @include d-flex (flex,space-around,center);
        flex-direction: row-reverse;
        .foot-cont {
            @extend %foot-cont-size;
            @include d-flex (flex,space-between,end);
            @extend %foot-cont-med;
            .foot-box {
                @extend %foot-box-size;
                @include d-flex (flex,space-evenly,center);
                flex-direction: column;
                text-align: center;
                @extend %foot-box-med;
                .foot-h1 {
                    padding-bottom: 20px;
                    @extend %foot-h1-font;
                    @extend %foot-h1-med;
                }
                .foot-p {
                    padding: 10px 0 20px 0;
                    @extend %foot-p-size;
                    @extend %foot-p-font;
                    @extend %foot-p-med;
                }
                .foot-ul-fa {
                    @extend %foot-ul-fa-size;
                    @include d-flex (flex,space-around,center);
                    .foot-li-fa {
                        padding: 5px 0;
                        @extend %foot-li-fa-font;
                        .fa {
                            @extend %font-fa-def;
                            @extend %fa-med;
                        }
                    }
                }
                .foot-ul {
                    @extend %foot-ul-size;
                    @include d-flex (flex,space-around,center);
                    flex-direction: column;
                    .foot-li {
                        padding: 5px 0;
                        @extend %foot-li-font;
                        @extend %foot-li-med;
                        .fa {
                            @extend %font-fa-def;
                        }
                    }
                }
                .cont-p {
                    @include d-flex (flex,space-between,center);
                    flex-direction: column;
                    .li-box {
                        padding: 10px 0;
                        @extend %li-box-med;
                        .fa {
                            @extend %font-fa-def;
                            @extend %fa-med;
                        }
                        .contact {
                            @extend %contact-font;
                            @extend %hover-def;
                            @extend %contact-med;
                        }
                    }
                }
            }
        }
    }
    .xazi {
        @extend %xazi;
        @extend %xazi-med;
    }
    .avtori {
        @extend %avtori-size;
        @include d-flex (flex,space-between,center);
        @extend %avtori-med;
        .avtori-p {
            @extend %avtori-p-font;
            @extend %avtori-p-med;
        }
        .avtori-a {
            @extend %avtori-a-font;
            @extend %avtori-a-med;
        }
    }
}




