.notebook-bg {
    width: 90%;
    margin: 170px 0 25px 60px;
    @include d-flex (flex,space-between,center);
    background-color: $color010;
    @include border (2px, solid, $color02);
    box-shadow: 1px 1px 10px 1px $color03;
    border-radius: 5px;
    .notebook-conteiner {
        max-width: 200px;
        width: 100%;
    }
    .book-conteiner {
        max-width: 750px;
        width: 100%;
        margin: 15px;
        .notebook-h2 {
            color: $color03;
            font-size: 25px;
            font-family: 'Poppins-B';
            text-shadow: 1px 1px $color011;
            margin: 20px;
        }
        .xazi {
            margin:20px 0 25px 0;
            max-width: 1080px;
            width: 100%;
            content: ' ';
            color: #062D2D;
            @include border (0.1px, solid, $color04);
            box-shadow: 0 0 15px $color02;
            @media (max-width: 1024px) {
                width: 90%;
            }
            @media (max-width: 800px) {
                width: 90%;
            }
            @media (max-width: 768px) {
                width: 90%;
            }
            @media (max-width: 600px) {
                width: 80%;
            }
            @media (max-width: 414px) {
                width: 80%;
            }
            @media (max-width: 375px) {
                width: 80%;
            }
            @media (max-width: 330px) {
                width: 80%;
            }
        }
        .book-cont {
            margin: 10px;
            @include d-flex (flex,space-around,center);
            .book-box {
                max-width: 170px;
                width: 100%;
                height: 220px;
                @include border (2px, solid, $color011);
                box-shadow: 3px 3px 6px 2px $color03;
                border-radius: 10px;
                text-align: center;
                background-image: url(../img/k1.PNG);
                background-repeat: repeat;
                background-position: right -20% bottom 0px, top left;
                background-size: auto 1px;
                .img-size {
                    width: $size0;
                }
                .book-p {
                    font-size: 15px;
                    font-family: 'Poppins-R';
                    color: $color011;
                    margin: 10px auto;
                }
                .book-h3 {
                    font-size: 15px;
                    font-family: 'Poppins-B';
                    color: $color011;
                    margin: 10px auto;
                }
            }
        }
    }
}