
.k1-pc-text {
    margin: 10px auto;
    text-align: center;
    .k1-pc-p {
        margin: 6px auto;
        @extend %font-hover-def;
        @extend %pc-k1-img-li-span;
        @extend %k1-pc-p-med;
    }
}