
.flt-href {
    margin-left: 50px;
    color: $color-05;
}
.sect-2-big {
    .pc-sect-2-box {
        max-width: 1720px;
        width: 100%;
        @include d-flex (flex,space-between,center);
        flex-direction: column;
        @extend %pc-sect-2-box-med;
        .pc-1-list {
            max-width: 1750px;
            width: 100%;
            @include d-flex (flex,space-between,center);
            flex-direction: column;
            @extend %pc-1-list-med;
            .pc-1-list-box {
                max-width: 1160px;
                width: 100%;
                background-color: $color-01;
                @include d-flex (flex,space-evenly,center);
                @extend %pc-1-list-box-med;
                .pc-1-img {
                    max-width: 320px;
                    width: 100%;
                    height: 480px;
                    @include d-flex (flex,center,center);
                    flex-direction: column;
                    @extend %pc-1-img-med;
                    .pc-1-img-hrf {
                        max-width: 180px;
                        margin-bottom: 25px;
                        @include d-flex (flex,center,end);
                        @extend %pc-1-img-hrf-med;
                        @extend %pc-1-img-hrf-hover;
                        .pc-1-img-box {
                            width: 100%;
                            height: 170px;
                            @extend %pc-1-img-box-med;
                        }
                    }
                    .pc-1-img-text {
                        max-width: 600px;
                        width: 100%;
                        height: 70px;
                        padding: 10px 20px;
                        @include d-flex (flex,space-between,end);
                        @extend %pc-1-img-text-med;
                        .pc-flt-icon {
                            max-width: 47px;
                            @include d-flex (flex,space-between,center);
                            @extend %pc-flt-icon-med;
                            .pc-flt-icon-box {
                                width: 100%;
                                @extend %pc-flt-icon-box-med;
                            }
                        }
                        .pc-flt-ico-nm {
                            max-width: 215px;
                            width: 100%;
                            height: 65px;
                            padding-top: 5px;
                            text-align: end;
                            @extend %pc-flt-ico-nm-med;
                            .pc-ico-nm-h2 {
                                @extend %pc-k1-butt-r-h4;
                                margin: 0 15px 20px 0;
                                @extend %pc-ico-nm-h2-fe;
                                @extend %pc-ico-nm-h2-med;
                            }
                            .pc-xazi {
                                width: 100%;
                                margin:10px auto;
                                content: ' ';
                                color: $color-06;
                                @include border ($xazi-brd, solid, $color-08);
                                box-shadow: $xazi-shad $color-02;
                                @extend %pc-xazi-med;
                            }
                        }
                    }
                }
            }
            .pc-1-slide-box {
                max-width: 1260px;
                width: 100%;
                height: 350px;
                margin-bottom: 30px;
                background-color: $color-01;
                @include d-flex (flex,space-between,center);
                flex-direction: column;
                @extend %pc-1-slide-box-med;
                .pc-slide-img-text {
                    max-width: 1250px;
                    width: 100%;
                    height: 110px;
                    padding: 10px 20px;
                    @include d-flex (flex,space-between,end);
                    @extend %pc-slide-img-text-med;
                    .pc-slide-icon {
                        max-width: 70px;
                        @include d-flex (flex,space-between,center);
                        @extend %pc-slide-icon-med;
                        .pc-slide-icon-box {
                            width: 100%;
                        }
                    }
                    .pc-slide-nm {
                        max-width: 1120px;
                        width: 100%;
                        height: 80px;
                        padding-top: 30px;
                        text-align: end;
                        @extend %pc-slide-nm-med;
                        .pc-slide-nm-h2 {
                            margin: 0 15px 10px 0;
                            @extend %pc-k1-ico-nm-h2;
                            @extend %pc-slide-nm-h2-med;
                        }
                        .pc-slide-xazi {
                            width: 100%;
                            margin:10px auto;
                            content: ' ';
                            color: $color-06;
                            @include border ($xazi-brd, solid, $color-08);
                            box-shadow: $xazi-shad $color-02;
                        }
                    }
                }
                .pc-best {
                    max-width: 1160px;
                    width: 100%;
                    height: 240px;
                    @include d-flex (flex,space-between,center);
                    @extend %pc-best-med;
                    .slide-4-box {
                        max-width: 370px;
                        width: 100%;
                        height: 220px;
                        @include d-flex (flex,space-around,center);
                        @extend %border-def;
                        @extend %slide-4-box-med;
                        background-color: $color-01;
                        .pc-4-img {
                            max-width: 250px;
                            width: 100%;
                            height: 215px;
                            background-color: $color-010;
                            @include d-flex (flex,space-around,center);
                            @extend %pc-4-img-med;
                            .pc-4-img-box {
                                width: 100%;
                            }
                        }
                        .pc-4-text {
                            max-width: 190px;
                            width: 100%;
                            height: 215px;
                            @extend %pc-4-text-med;
                            .pc-4-h3 {
                                margin: 10px;
                                @extend %sect-4-h3-font;
                            }
                            .pc-4-p {
                                @extend %sect-4-p-size;
                                @extend %sect-4-p-font;
                            }
                        }
                    }
                    .slick-dots {
                        bottom: -40px;
                        @extend %pc-slick-dots-med;
                        li {
                            button {
                                &:before {
                                    color: $color-06;
                                    font-size: 15px;
                                }
                            }
                        }
                        .slick-active {
                            margin: 1px 15px;
                            button {
                                &:before {
                                    color: $color-02;
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .pc-baner-s {
        width: 100%;
        background-color: $color-02;
        @extend %border-def;
        @extend %pc-baner-s-med;
        padding: 25px;
        .pc-baner-s-p {
            font-size: 30px;
            text-align: center;
            @extend %font-baner-s-p;
        }
    }
}
.pc-1-brands-box {
    max-width: 1255px;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    background-color: $color-01;
    @include d-flex (flex,space-between,center);
    flex-direction: column;
    @extend %pc-1-brands-box-med;
    .pc-slide-img-text {
        max-width: 1250px;
        width: 100%;
        height: 110px;
        padding: 10px 20px;
        @include d-flex (flex,space-between,end);
        @extend %pc-slide-img-text-med;
        .pc-slide-icon {
            max-width: 70px;
            @include d-flex (flex,space-between,center);
            @extend %pc-slide-icon-med;
            .pc-slide-icon-box {
                width: 100%;
            }
        }
        .pc-slide-nm {
            max-width: 1120px;
            width: 100%;
            height: 80px;
            padding-top: 30px;
            text-align: end;
            @extend %pc-slide-nm-med;
            .pc-slide-nm-h2 {
                margin: 0 15px 10px 0;
                @extend %pc-k1-ico-nm-h2;
                @extend %pc-slide-nm-h2-med;
            }
            .pc-slide-xazi {
                width: 100%;
                margin:10px auto;
                content: ' ';
                color: $color-06;
                @include border ($xazi-brd, solid, $color-08);
                box-shadow: $xazi-shad $color-02;
            }
        }
    }
    .pc-brends {
        max-width: 920px;
        width: 100%;
        height: 180px;
        margin: 10px auto;
        @include d-flex (flex,space-between,center);
        @extend %pc-brends-med;
        .pc-4-box {
            max-width: 330px;
            width: 100%;
            height: 110px;
            @include d-flex (flex,space-around,center);
            @extend %pc-4-box-med;
            .pc-4-img {
                max-width: 95px;
                height: 115px;
                @include d-flex (flex,space-around,center);
                @extend %pc-4-img-med;
                .pc-4-img-box {
                    width: 100%;
                    height: 40px;
                    @extend %pc-4-img-box-med;
                }
            }
            
        }
    }
}