.product-bg {
    margin: 170px 0 25px 0;
    .sect-conteiner-3 {
        max-width: 1920px;
        width: $size0;
        height: 800px;
        background-color: $color010;
        @include border (2px, solid, $color02);
        box-shadow: 1px 1px 10px 1px $color03;
        border-radius: 30px;
        @include d-flex (flex,space-evenly,center);
        flex-direction: column;
        margin-bottom: 70px;
        .cont-3-h2 {
            color: $color03;
            font-size: 36px;
            font-family: 'Poopins-B';
            text-shadow: 1px 1px $color011;
        }
        .cont-3-ul {
            max-width: 680px;
            width: $size0;
            @include d-flex (flex,space-around,center);
            .cont-3-li {
                .cont-3-a {
                    Color: $color04;
                    font-size: 15px;
                    font-family: 'Poppins-B';
                    text-shadow: 1px 1px $color011;
                }
            }
        }
        .container-3 {
            max-width: 1240px;
            width: $size0;
            @include d-flex (flex,space-around,center);
            .cont-3-box {
                max-width: 270px;
                width: $size0;
                height: 260px;
                background-image: url(../img/k1.PNG);
                background-repeat: repeat;
                background-position: right -20% bottom 0px, top left;
                background-size: auto 3px;
                @include d-flex (flex,flex-end,center);
                flex-direction: column;
                @include border (2px, solid, $color011);
                box-shadow: 3px 3px 6px 2px $color03;
                border-radius: 10px;
                .cont-3-img {
                    max-width: 200px;
                    .sect-3-img-box {
                        width: $size0;
                    }
                }
                .cont-3-h3 {
                    color: $color03;
                    font-size: 20px;
                    font-family: 'ALKDots';
                    margin: 25px auto;
                    text-shadow: 1px 1px $color03;
                }
            }
        }
        .sect-3-load {
            color: $color02;
        }
    }
}