@font-face {
    font-family: 'archy-B';
    src: url('../fonts/archy-B/archyedt-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/archy-B/archyedt-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/archy-B/archyedt-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/archy-B/archyedt-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/archy-B/archyedt-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/archy-B/archyedt-bold-webfont.svg#archyedt-bold') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'BPG-A';
    src: url('../fonts/BPG-A/bpg-arial-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BPG-A/bpg-arial-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BPG-A/bpg-arial-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/BPG-A/bpg-arial-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/BPG-A/bpg-arial-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BPG-A/bpg-arial-caps-webfont.svg#bpg_arial_capsregular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'alk-s';
    src: url('../fonts/alk-s/alk-sanet-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-s/alk-sanet-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-s/alk-sanet-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-s/alk-sanet-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-salk-sanet-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-salk-sanet-webfont.svg#alk_sanetregular') format('svg'); /* Legacy iOS */
}