//----Defolt----
//banbox-cont-def-size
$banbox-cont-def-wid: 1850px;
//sect-ban-cont-def-size
$sect-ban-cont-def-heig: 700px;
//default-media---
//sect-h1-size
$sect-h1-size: 30px;

//Xazi-def-Size
$xazi-wid: 1580px;
$xazi-mrgn: 10px auto;
$xazi-brd: 0.1px;
$xazi-shad: 0 0 15px;



//----------------
$size-0-def: 100%;
