
//HEADER
%sect-baner-s-med {
    @media (max-width: 1600px) {
        height: 40px;
    }
    @media (max-width: 1366px) {
        height: 32px;
    }
    @media (max-width: 768px) {
        height: 25px;
    }
    @media (max-width: 414px) {
        height: 60px;
    }
    @media (max-width: 360px) {
        height: 47px;
    }
}
%baner-s-fa-med {
    @media (max-width: 1440px) {
        margin-right: 5px;
    }
}
%head-cont-med {
    @media (max-width: 1600px) {
        margin: 0 auto;
    }
    @media (max-width: 1366px) {
        margin: 0 auto 15px;
    }
}
%nav-box-med {
    @media (max-width: 1600px) {
        width: 95%;
    }
    @media (max-width: 1440px) {
        width: 94%;
    }
    @media (max-width: 1366px) {
        width: 93%;
        margin: 5px auto;
    }
    @media (max-width: 1024px) {
        width: 92%;
    }
    @media (max-width: 414px) {
        width: 85%;
        flex-direction: row;
    }
    @media (max-width: 360px) {
        width: 93%;
        margin: 0 auto;
    }
}
%nav-logo-med {
    @media (max-width: 1600px) {
        max-width: 70px;
        height: 80px;
    }
    @media (max-width: 1366px) {
        max-width: 65px;
        height: 75px;
    }
    @media (max-width: 1024px) {
        max-width: 50px;
        height: 55px;
    }
    @media (max-width: 962px) {
        max-width: 40px;
        height: 45px;
    }
    @media (max-width: 768px) {
        max-width: 40px;
        height: 45px;
    }
    @media (max-width: 600px) {
        max-width: 31px;
        height: 35px;
        margin: 0 auto;
    }
    @media (max-width: 414px) {
        max-width: 40px;
        height: 45px;
    }
}
%navi-med {
    @media (max-width: 1600px) {
        width: 90%;
    }
    @media (max-width: 1366px) {
        width: 60%;
    }
    @media (max-width: 1024px) {
        width: 70%;
        justify-content: flex-end;
    }
    @media (max-width: 600px) {
        width: 85%;
    }
    @media (max-width: 414px) {
        width: 80%;
        flex-direction: column-reverse;
    }
}
%navi-cont-med {
    @media (max-width: 1024px) {
        width: 83%;
    }
    @media (max-width: 414px) {
        width: 90%;
        margin: 10px 0;
    }
    @media (max-width: 360px) {
        margin: 0 5px;
    }
}
%burger-icon-med {
    @media (max-width: 414px) {
        display: block;
        color: $color-02;
        font-size: 30px;
        top: 13px;
        right: 50px;
        cursor: pointer;
    }
}
%head-xazi-med {
    @media (max-width: 1600px) {
        top: 1px;
    }
    @media (max-width: 1024px) {
        margin: 7px auto;
    }
    @media (max-width: 600px) {
        margin: 5px auto;
    }
}
%nav-ul-open-med {
    @media (max-width: 600px) {
        .open-menu {
            display: block;
            text-align: center;
            padding: 20px 0;
        }
    }
}
%nav-ul-med {
    @media (max-width: 1600px) {
        width: 93%;
    }
    @media (max-width: 1366px) {
        width: 92%;
    }
    @media (max-width: 1280px) {
        width: 92%;
    }
    @media (max-width: 1024px) {
        width: 95%;
    }
    @media (max-width: 962px) {
        margin-bottom: 1px;
    }
    @media (max-width: 800px) {
        width: 94%;
    }
    @media (max-width: 768px) {
        width: 97%;
    }
    @media (max-width: 600px) {
        width: 92%;
    }
    @media (max-width: 414px) {
        width: 97%;
    }
}
%nav-li-med {
    @media (max-width: 600px) {
        max-width: 70px;
        margin: 0 auto;
        padding: 1px 0;
    }
    @media (max-width: 414px) {
        &:first-child {
            max-width: 68px;
        }
    }
}
%geo-img-med {
    @media (max-width: 962px) {
        width: 40%;
    }
    @media (max-width: 834px) {
        width: 55%;
        margin-right: 1px;
    }
    @media (max-width: 810px) {
        margin-right: 1px;
    }
    @media (max-width: 600px) {
        height: 13px;
    }
    @media (max-width: 414px) {
        height: 20px;
    }
}
%geo-med {
    @media (max-width: 1024px) {
        height: 20px;
    }
    @media (max-width: 962px) {
        height: 18px;
    }
    @media (max-width: 600px) {
        height: 13px;
    }
    @media (max-width: 414px) {
        height: 20px;
    }
}
%nav-fa-med {
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1366px) {
        font-size: 19px;
    }
    @media (max-width: 1024px) {
        font-size: 16px;
    }
    @media (max-width: 962px) {
        font-size: 15px;
        letter-spacing: 12px;
    }
    @media (max-width: 834px) {
        font-size: 12px;
    }
    @media (max-width: 768px) {
        letter-spacing: 2px;
    }
    @media (max-width: 600px) {
        font-size: 13px;
    }
    @media (max-width: 414px) {
        font-size: 30px;
        letter-spacing: 3px;
    }
    @media (max-width: 360px) {
        font-size: 26px;
    }
    @media (max-width: 320px) {
        font-size: 23px;
    }
}
%nav-a-med {
    @media (max-width: 1600px) {
        font-size: 17px;
    }
    @media (max-width: 1440px) {
        font-size: 16px;
        letter-spacing: 1px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
    }
    @media (max-width: 1280px) {
        font-size: 15px;
    }
    @media (max-width: 1024px) {
        font-size: 11px;
    }
    @media (max-width: 962px) {
        font-size: 11px;
    }
    @media (max-width: 834px) {
        font-size: 9px;
    }
    @media (max-width: 810px) {
        font-size: 9px;
    }
    @media (max-width: 800px) {
        font-size: 9px;
    }
    @media (max-width: 768px) {
        letter-spacing: 1px;
    }
    @media (max-width: 601px) {
        font-size: 7px;
    }
    @media (max-width: 600px) {
        letter-spacing: 0px;
    }
    @media (max-width: 414px) {
        display: none;
    }
}
%search-med {
    @media (max-width: 1600px) {
        width: 550px;
        height: 50px;
    }
    @media (max-width: 1366px) {
        width: 490px;
        height: 40px;
    }
    @media (max-width: 1024px) {
        width: 320px;
        height: 30px;
    }
    @media (max-width: 962px) {
        height: 29px;
    }
    @media (max-width: 834px) {
        width: 240px;
    }
    @media (max-width: 810px) {
        width: 225px;
    }
    @media (max-width: 768px) {
        width: 260px;
        height: 30px;
    }
    @media (max-width: 601px) {
        width: 180px;
        height: 25px;
    }
    @media (max-width: 600px) {
        width: 170px;
        height: 23px;
    }
    @media (max-width: 414px) {
        width: 245px;
        height: 35px;
    }
    @media (max-width: 360px) {
        width: 230px;
    }
    @media (max-width: 320px) {
        width: 195px;
    }
}
%inp-search-med {
    @media (max-width: 1600px) {
        width: 490px;
        height: 100%;
        font-size: 10px;
        letter-spacing: 3px;
    }
    @media (max-width: 1366px) {
        width: 425px;
    }
    @media (max-width: 1024px) {
        width: 275px;
    }
    @media (max-width: 834px) {
        width: 200px;
    }
    @media (max-width: 810px) {
        width: 185px;
    }
    @media (max-width: 768px) {
        width: 220px;
        font-size: 9px;
    }
    @media (max-width: 601px) {
        width: 140px;
    }
    @media (max-width: 600px) {
        width: 140px;
        margin-bottom: 1px;
    }
    @media (max-width: 414px) {
        width: 200px;
    }
    @media (max-width: 360px) {
        width: 190px;
    }
    @media (max-width: 320px) {
        width: 154px;
    }
}
%srch-fa-med {
    @media (max-width: 1600px) {
        font-size: 25px;
        padding: 0 20px 13px;
    }
    @media (max-width: 1366px) {
        padding: 0 20px 8px;
    }
    @media (max-width: 1024px) {
        padding: 0 10px 4px;
        font-size: 22px;
    }
    @media (max-width: 962px) {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        font-size: 19px;
        padding: 0 12px 5px;
    }
    @media (max-width: 601px) {
        font-size: 17px;
        padding: 0 12px 4px;
    }
    @media (max-width: 600px) {
        font-size: 15px;
        padding: 0 6px 5px;
    }
    @media (max-width: 414px) {
        font-size: 20px;
    }
    @media (max-width: 360px) {
        padding: 0 10px 8px;
    }
}
%soc-ul-med {
    @media (max-width: 1440px) {
        width: 50%;
    }
    @media (max-width: 1366px) {
        width: 49%;
    }
    @media (max-width: 962px) {
        width: 53%;
    }
    @media (max-width: 601px) {
        width: 56%;
    }
    @media (max-width: 600px) {
        justify-content: space-evenly;
        margin-right: 15px;
    }
    @media (max-width: 414px) {
        width: 55%;
        height: 45px;
        justify-content: space-between;
        margin-left: 20px;
    }
    @media (max-width: 393px) {
        width: 60%;
        margin: 0 5px 0 5px;
    }
    @media (max-width: 360px) {
        height: 38px;
    }
}
%open-soci-med {
    @media (max-width: 600px) {
        .open-socicon {
            display: flex;
        }
    }
}
%soc-li-med {
    @media (max-width: 414px) {
        &:first-child {
            display: block;
        }
    }
}
%soc-a-med {
    @media (max-width: 1600px) {
        font-size: 22px;
    }
    @media (max-width: 1366px) {
        font-size: 18px;
    }
    @media (max-width: 1024px) {
        font-size: 14px;
    }
    @media (max-width: 962px) {
        font-size: 14px;
    }
    @media (max-width: 834px) {
        font-size: 12px;
    }
    @media (max-width: 768px) {
        font-size: 11px;
        letter-spacing: 1px;
    }
    @media (max-width: 601px) {
        font-size: 10px;
    }
    @media (max-width: 600px) {
        letter-spacing: 1px;
    }
    @media (max-width: 414px) {
        font-size: 18px;
    }
    @media (max-width: 360px) {
        font-size: 16px;
    }
    @media (max-width: 320px) {
        font-size: 14px;
    }
}
%contact-ul-med {
    @media (max-width: 414px) {
        flex-direction: column-reverse;
    }
}
%contact-box-med {
    @media (max-width: 1440px) {
        width: 76%;
    }
    @media (max-width: 768px) {
        width: 67%;
    }
    @media (max-width: 601px) {
        width: 75%;
    }
    @media (max-width: 414px) {
        width: 90%;
        flex-direction: column;
    }
}
%head-flt-cont-med {
    @media (max-width: 1600px) {
        width: 85%;
        padding: 1px 0 1px;
    }
    @media (max-width: 1024px) {
        width: 100%;
    }
    @media (max-width: 834px) {
        margin-left: 45px;
    }
    @media (max-width: 768px) {
        margin-left: 20px;
    }
    @media (max-width: 414px) {
        display: none;
    }
}
%head-flt-ul-med {
    @media (max-width: 1600px) {
        width: 80%;
    }
    @media (max-width: 834px) {
        width: 99%;
    }
    @media (max-width: 414px) {
        display: none;
    }
}
%head-flt-li-med {
    @media (max-width: 1600px) {
        max-width: 160px;
        font-size: 18px;
    }
    @media (max-width: 1440px) {
        max-width: 110px;
        font-size: 17px;
    }
    @media (max-width: 1366px) {
        font-size: 14px;
        max-width: 95px;
    }
    @media (max-width: 1024px) {
        max-width: 80px;
        font-size: 12px;
    }
    @media (max-width: 834px) {
        font-size: 12px;
        letter-spacing: 1px;
    }
    @media (max-width: 810px) {
        font-size: 10px;
    }
    @media (max-width: 800px) {
        font-size: 11px;
    }
    @media (max-width: 768px) {
        font-size: 11px;
    }
    @media (max-width: 601px) {
        max-width: 60px;
        font-size: 10px;
        letter-spacing: 0px;
    }
    @media (max-width: 600px) {
        max-width: 45px;
        font-size: 9px;
    }
}
%head-li-box-med {
    @media (max-width: 1600px) {
        height: 35px;
    }
    @media (max-width: 1366px) {
        max-width: 35px;
    }
    @media (max-width: 1024px) {
        max-width: 30px;
        height: 20px;
    }
    @media (max-width: 600px) {
        max-width: 20px;
        height: 15px;
    }
}
%head-li-img-med {
    @media (max-width: 1920px) {
        height: 35px;
    }
    @media (max-width: 1366px) {
        height: 30px;
    }
    @media (max-width: 1024px) {
        height: 20px;
    }
    @media (max-width: 600px) {
        height: 15px;
    }
}

//Active-Header
%active-med {
    @media (max-width: 1600px) {
        height: 45px;
        transition: all 0.3s;
    }
}
%nav-box-act-med {
    @media (max-width: 1600px) {
        width: 75%;
    }
    @media (max-width: 1440px) {
        width: 85%;
    }
    @media (max-width: 1366px) {
        margin: 0 auto;
    }
    @media (max-width: 1280px) {
        width: 85%;
    }
    @media (max-width: 1024px) {
        width: 90%;
    }
    @media (max-width: 768px) {
        width: 88%;
    }
    @media (max-width: 414px) {
        width: 90%;
        margin: 4px auto;
    }
}
%burger-icon-act-med {
    @media (max-width: 1600px) {
        display: block;
        color: $color-02;
        font-size: 30px;
        top: 13px;
        right: 50px;
        cursor: pointer;
    }
    @media (max-width: 414px) {
        margin-top: 8px;
    }
}
%nav-logo-act-med {
    @media (max-width: 1600px) {
        max-width: 35px;
        height: 40px;
    }
    @media (max-width: 414px) {
        height: 35px;
        margin: 0 0 0 1px;
    }
}
%navi-act-med {
    @media (max-width: 1600px) {
        width: 92%;
        height: 40px;
    }
    @media (max-width: 1024px) {
        width: 90%;
    }
    @media (max-width: 834px) {
        width: 87%;
    }
    @media (max-width: 810px) {
        width: 88%;
    }
    @media (max-width: 768px) {
        width: 86%;
    }
    @media (max-width: 414px) {
        width: 75%;
    }
}
%navi-cont-act-med {
    @media (max-width: 1600px) {
        width: 95%;
    }
    @media (max-width: 1536px) {
        width: 99%;
    }
    @media (max-width: 1440px) {
        width: 99%;
    }
    @media (max-width: 1280px) {
        width: 100%;
    }
    @media (max-width: 768px) {
        width: 99%;
    }
    @media (max-width: 600px) {
        margin-right: 20px;
    }
    @media (max-width: 414px) {
        width: 98%;
        height: 35px;
        margin: 5px 0;
    }
}
%nav-ul-act-med {
    @media (max-width: 1600px) {
        width: 42%;
    }
    @media (max-width: 1536px) {
        width: 39%;
    }
    @media (max-width: 1440px) {
        width: 40%;
    }
    @media (max-width: 1280px) {
        width: 38%;
    }
    @media (max-width: 1280px) {
        width: 37%;
    }
    @media (max-width: 834px) {
        width: 40%;
    }
    @media (max-width: 810px) {
        width: 36%;
    }
    @media (max-width: 768px) {
        width: 39%;
    }
    @media (max-width: 601px) {
        width: 35%;
    }
}
%nav-li-act-med {
    @media (max-width: 1536px) {
        &:last-child {
            width: 62%;
        }
    }
    @media (max-width: 1280px) {
        &:last-child {
            width: 66%;
        }
    }
    @media (max-width: 1440px) {
        &:last-child {
            width: 63%;
        }
    }
    @media (max-width: 1024px) {
        &:last-child {
            width: 68%;
        }
    }
    @media (max-width: 834px) {
        &:last-child {
            width: 66%;
        }
    }
    @media (max-width: 810px) {
        &:last-child {
            width: 67%;
        }
    }
    @media (max-width: 768px) {
        &:last-child {
            width: 63%;
        }
    }
    @media (max-width: 601px) {
        &:last-child {
            width: 55%;
        }
    }
    @media (max-width: 414px) {
        margin-left: 45px;
    }
}
%nav-fa-act-med {
    @media (max-width: 1600px) {
        font-size: 15px;
        letter-spacing: 5px;
    }
    @media (max-width: 1536px) {
        font-size: 18px;
    }
    @media (max-width: 1440px) {
        letter-spacing: 15px;
    }
    @media (max-width: 1280px) {
        letter-spacing: 12px;
    }
    @media (max-width: 1024px) {
        font-size: 13px;
        letter-spacing: 12px;
    }
    @media (max-width: 962px) {
        letter-spacing: 10px;
    }
    @media (max-width: 800px) {
        letter-spacing: 8px;
    }
    @media (max-width: 414px) {
        font-size: 20px;
    }
}
%nav-a-act-med {
    @media (max-width: 1536px) {
        font-size: 13px;
    }
    @media (max-width: 1280px) {
        font-size: 12px;
    }
    @media (max-width: 1024px) {
        font-size: 10px;
    }
    @media (max-width: 962px) {
        font-size: 9px;
    }
    @media (max-width: 834px) {
        font-size: 9px;
        letter-spacing: 1px;
    }
    @media (max-width: 810px) {
        font-size: 8px;
        letter-spacing: 1px;
    }
    @media (max-width: 768px) {
        font-size: 7px;
    }
    @media (max-width: 414px) {
        display: none;
    }
}
%search-act-med {
    @media (max-width: 1600px) {
        width: 980px;
        height: 35px;
    }
    @media (max-width: 1536px) {
        width: 1040px;
    }
    @media (max-width: 1440px) {
        width: 1090px;
    }
    @media (max-width: 1366px) {
        width: 1045px;
    }
    @media (max-width: 1280px) {
        width: 990px;
    }
    @media (max-width: 1024px) {
        width: 820px;
    }
    @media (max-width: 962px) {
        width: 770px;
    }
    @media (max-width: 834px) {
        width: 640px;
    }
    @media (max-width: 810px) {
        width: 620px;
    }
    @media (max-width: 800px) {
        width: 610px;
    }
    @media (max-width: 768px) {
        width: 560px;
    }
    @media (max-width: 601px) {
        width: 420px;
    }
    @media (max-width: 414px) {
        width: 270px;
        margin-bottom: 1px;
    }
    @media (max-width: 375px) {
        width: 245px;
    }
}
%inp-search-act-med {
    @media (max-width: 1600px) {
        width: 910px;
    }
    @media (max-width: 1536px) {
        width: 970px;
    }
    @media (max-width: 1440px) {
        width: 1020px;
    }
    @media (max-width: 1366px) {
        width: 980px;
    }
    @media (max-width: 1280px) {
        width: 925px;
    }
    @media (max-width: 1024px) {
        width: 755px;
    }
    @media (max-width: 962px) {
        width: 710px;
    }
    @media (max-width: 834px) {
        width: 580px;
    }
    @media (max-width: 810px) {
        width: 555px;
    }
    @media (max-width: 800px) {
        width: 545px;
    }
    @media (max-width: 768px) {
        width: 490px;
    }
    @media (max-width: 601px) {
        width: 350px;
    }
    @media (max-width: 414px) {
        width: 210px;
    }
    @media (max-width: 375px) {
        width: 180px;
    }
}
%srch-fa-act-med {
    @media (max-width: 1600px) {
        padding: 0 20px 5px;
    }
    @media (max-width: 834px) {
        font-size: 25px;
    }
    @media (max-width: 414px) {
        font-size: 25px;
    }
}
%contact-ul-act-med {
    @media (max-width: 1600px) {
        width: 11%;
        flex-direction: row;
        margin-right: 10px;
    }
}
%soc-li-act-med {
    @media (max-width: 1600px) {
        padding: 2px 0 0 0;
    }
}
%contact-box-act-med {
    @media (max-width: 1600px) {
        max-width: 470px;
        width: 100%;
        flex-direction: row;
    }
}
%soc-a-act-med {
    @media (max-width: 1600px) {
        font-size: 15px;
    }
}
%soc-fa-act-med {
    @media (max-width: 1600px) {
        font-size: 15px;
        letter-spacing: 5px;
    }
    @media (max-width: 1280px) {
        letter-spacing: 12px;
    }
    @media (max-width: 1024px) {
        font-size: 13px;
    }
}
%head-flt-ul-act-med {
    @media (max-width: 1600px) {
        width: 90%;
    }
    @media (max-width: 1440px) {
        width: 99%;
    }
    @media (max-width: 1025px) {
        width: 95%;
    }
    @media (max-width: 962px) {
        width: 99%;
    }
    @media (max-width: 810px) {
        width: 97%;
    }
}
%head-flt-li-act-med {
    @media (max-width: 1600px) {
        height: 12px;
        font-size: 12px;
        letter-spacing: 1px;
    }
    @media (max-width: 1440px) {
        font-size: 15px;
        letter-spacing: 2px;
    }
    @media (max-width: 834px) {
        font-size: 10px;
        letter-spacing: 1px;
    }
    @media (max-width: 810px) {
        font-size: 10px;
        letter-spacing: 1px;
    }
    @media (max-width: 601px) {
        font-size: 7px;
    }
}
%head-li-box-act-med {
    @media (max-width: 1600px) {
        display: none;
        transition: all 0.3s;
    }
}
%open-socicon-act-med {
    @media (max-width: 1600px) {
        display: flex;
        height: 40px;
    }
}
%open-head-size-act-med {
    @media (max-width: 1600px) {
        height: 105px;
        flex-direction: column;
    }
    @media (max-width: 962px) {
        height: 85px;
    }
    @media (max-width: 414px) {
        height: 730px;
        .nav-box {
            .navi {
                .navi-cont {
                    flex-direction: column;
                    .search {
                        border: 0 solid #00A1C2;
                        box-shadow: 0 0 1px 1px #00A1C2;
                    }
                }
            }
        }
    }
    @media (max-width: 375px) {
        height: 660px;
    }
}

//---------
//Section-1
%sect-1-med {
    @media (max-width: 1600px) {
        margin: 15px 0 0 0;
    }
    @media (max-width: 1366px) {
        margin: 3px 0 5px;
    }
    @media (max-width: 1280px) {
        margin: 15px 0 15px;
    }
    @media (max-width: 810px) {
        margin: 10px 0 1px;
    }
    @media (max-width: 768px) {
        margin: 1px 0 5px;
    }
    @media (max-width: 601px) {
        margin: 10px 0 0;
    }
}
%sect-1-cont-med {
    @media (max-width: 1600px) {
        margin: 0 1px;
    }
    @media (max-width: 834px) {
        margin: 0 20px;
    }
    @media (max-width: 810px) {
        margin: 0 1px;
    }
    @media (max-width: 768px) {
        margin: 0 1px;
    }
}
%sect-1-box-med {
    @media (max-width: 1366px) {
        margin-bottom: 1px;
    }
    @media (max-width: 810px) {
        margin-bottom: 10px;
    }
}
%sect-1-img-med {
    @media (max-width: 1600px) {
        height: 400px;
        margin: 2px 0;
    }
    @media (max-width: 1366px) {
        height: 330px;
    }
    @media (max-width: 1024px) {
        height: 260px;
    }
    @media (max-width: 834px) {
        height: 210px;
    }
    @media (max-width: 768px) {
        height: 190px;
    }
}
//----------
//Section-2
%sect-2-med {
    @media (max-width: 1600px) {
        margin: 20px auto;
        width: 99%;
    }
    @media (max-width: 1440px) {
        margin: 15px auto;
    }
}
%pro-navi-med {
    @media (max-width: 1600px) {
        position: sticky;
        top: 48px;
        z-index: 300;
        height: 33px;
        margin-top: 10px;
    }
    @media (max-width: 1536px) {
        height: 35px;
    }
    @media (max-width: 1440px) {
        height: 32px;
    }
    @media (max-width: 1366px) {
        height: 30px;
    }
    @media (max-width: 1280px) {
        height: 28px;
    }
    @media (max-width: 834px) {
        height: 22px;
    }
    @media (max-width: 768px) {
        height: 25px;
    }
    @media (max-width: 414px) {
        height: 21px;
    }
}
%pro-fa-med {
    @media (max-width: 1600px) {
        font-size: 22px;
    }
    @media (max-width: 1366px) {
        font-size: 23px;
    }
    @media (max-width: 1280px) {
        font-size: 19px;
    }
    @media (max-width: 962px) {
        font-size: 17px;
    }
    @media (max-width: 768px) {
        font-size: 13px;
    }
    @media (max-width: 414px) {
        font-size: 16px;
        margin-left: 5px;
        &:after {
            margin: 0 6px;
        }
    }
}
%pro-navi-h4-med {
    @media (max-width: 1600px) {
        font-size: 16px;
    }
    @media (max-width: 1440px) {
        font-size: 15px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
    }
    @media (max-width: 1280px) {
        font-size: 13px;
    }
    @media (max-width: 962px) {
        font-size: 12px;
        letter-spacing: 1px;
    }
    @media (max-width: 834px) {
        font-size: 10px;
    }
    @media (max-width: 768px) {
        font-size: 9px;
    }
    @media (max-width: 601px) {
        font-size: 8px;
        letter-spacing: 0;
    }
    @media (max-width: 414px) {
        font-size: 11px;
        letter-spacing: 1px;
        &:after {
            margin: 0 6px;
        }
    }
    @media (max-width: 375px) {
        font-size: 10px;
        letter-spacing: 1px;
        &:after {
            margin: 0 4px;
        }
    }
}
%sect-2-big-med {
    @media (max-width: 1600px) {
        width: 95%;
        margin: 50px 0;
    }
    @media (max-width: 1024px) {
        align-items: flex-start;
        margin: 90px 0;
    }
    @media (max-width: 834px) {
        margin: 55px 0;
    }
    @media (max-width: 768px) {
        margin: 20px 0;
    }
    @media (max-width: 601px) {
        margin: 25px 0;
    }
    @media (max-width: 414px) {
        margin: 10px 0 5px 0;
        flex-direction: column;
    }
}
%sect-2-flt-med {
    @media (max-width: 1600px) {
        width: 36%;
        padding-top: 1px;
    }
    @media (max-width: 1536px) {
        width: 29%;
    }
    @media (max-width: 1366px) {
        padding-top: 2px;
    }
    @media (max-width: 1024px) {
        width: 35%;
        top: 80px;
    }
    @media (max-width: 962px) {
        padding-top: 5px;
    }
    @media (max-width: 768px) {
        padding-top: 2px;
    }
    @media (max-width: 414px) {
        width: 90%;
        position: unset;
        margin: 20px auto;
    }
}
%flt-cont-med {
    @media (max-width: 1600px) {
        width: 95%;
        height: 65px;
    }
    @media (max-width: 768px) {
        width: 96%;
    }
}
%flt-icon-1-med {
    @media (max-width: 1600px) {
        max-width: 50px;
    }
    @media (max-width: 1366px) {
        max-width: 44px;
    }
    @media (max-width: 834px) {
        max-width: 35px;
    }
    @media (max-width: 768px) {
        max-width: 30px;
    }
    @media (max-width: 600px) {
        max-width: 35px;
    }
}
%flt-icon-med {
    @media (max-width: 1600px) {
        max-width: 48px;
    }
    @media (max-width: 1366px) {
        max-width: 44px;
    }
    @media (max-width: 962px) {
        max-width: 40px;
    }
    @media (max-width: 834px) {
        max-width: 30px;
    }
    @media (max-width: 768px) {
        max-width: 30px;
    }
    @media (max-width: 600px) {
        max-width: 32px;
    }
}
%flt-icon-box-med {
    @media (max-width: 1440px) {
        width: 95%;
    }
}
%flt-ico-nm-med {
    @media (max-width: 1600px) {
        width: 96%;
    }
    @media (max-width: 962px) {
        width: 80%;
        height: 30px;
    }
    @media (max-width: 768px) {
        width: 80%;
        height: 30px;
        padding-top: 1px;
    }
    @media (max-width: 600px) {
        width: 87%;
        padding-top: 2px;
    }
}
%ico-nm-h2-med {
    @media (max-width: 1600px) {
        letter-spacing: 3px;
        font-size: 25px;
        margin: 0 15px 17px 0;
    }
    @media (max-width: 1440px) {
        font-size: 21px;
    }
    @media (max-width: 1366px) {
        font-size: 22px;
    }
    @media (max-width: 962px) {
        font-size: 19px;
        margin: 0 5px 10px 0;
    }
    @media (max-width: 834px) {
        font-size: 17px;
        margin: 0 20px 5px 0;
    }
    @media (max-width: 768px) {
        font-size: 15px;
        letter-spacing: 2px;
        margin: 0 5px 10px 0;
    }
    @media (max-width: 601px) {
        font-size: 11px;
    }
    @media (max-width: 600px) {
        font-size: 17px;
    }
}
%ico-nm-h2-med-2 {
    
    @media (max-width: 1366px) {
        margin: 0 15px 18px 0;
    }
    
    @media (max-width: 834px) {
        font-size: 16px;
    }
    @media (max-width: 768px) {
        font-size: 13px;
        letter-spacing: 1px;
        margin: 0 5px 1px 0;
        padding-top: 3px;
    }
    
}
%s2-flt-ul-med {
    @media (max-width: 1600px) {
        width: 98%;
        padding: 2px 0 0 0;
    }
    @media (max-width: 1280px) {
        width: 99%;
    }
    @media (max-width: 834px) {
        padding: 7px 0 0 0;
    }
    @media (max-width: 768px) {
        width: 100%;
        padding: 5px 0 0 0;
    }
}
%s2-flt-li-med {
    @media (max-width: 1600px) {
        height: 42px;
        padding-right: 10px;
        font-size: 18px;
    }
    @media (max-width: 1536px) {
        height: 40px;
        padding-right: 9px;
        font-size: 17px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
        height: 38px;
    }
    @media (max-width: 1024px) {
        font-size: 13px;
    }
    @media (max-width: 834px) {
        font-size: 12px;
        height: 30px;
    }
    @media (max-width: 810px) {
        font-size: 9px;
        height: 30px;
    }
    @media (max-width: 768px) {
        font-size: 9px;
        text-align: end;
        height: 25px;
        padding-right: 5px;
    }
    @media (max-width: 601px) {
        height: 23px;
    }
    @media (max-width: 600px) {
        font-size: 11px;
        height: 35px;
    }
    @media (max-width: 414px) {
        font-size: 15px;
        height: 30px;
    }
}
%flt-li-box-med {
    @media (max-width: 1600px) {
        max-width: 45px;
        height: 28px;
        margin: 15px;
    }
    @media (max-width: 1366px) {
        max-width: 40px;
        height: 30px;
    }
    @media (max-width: 1024px) {
        max-width: 50px;
        height: 30px;
        margin: 10px;
    }
    @media (max-width: 810px) {
        height: 20px;
    }
    @media (max-width: 768px) {
        max-width: 35px;
        height: 20px;
        margin: 1px;
    }
    @media (max-width: 601px) {
        height: 16px;
    }
    @media (max-width: 600px) {
        max-width: 43px;
        height: 25px;
        margin: 1px;
    }
}
%flt-li-img-med {
    @media (max-width: 1600px) {
        height: 30px;
    }
    @media (max-width: 1366px) {
        height: 28px;
    }
    @media (max-width: 1024px) {
        width: 90%;
        height: 30px;
    }
    @media (max-width: 810px) {
        width: 70%;
        height: 22px;
    }
    @media (max-width: 768px) {
        height: 20px;
    }
    @media (max-width: 601px) {
        height: 16px;
    }
    @media (max-width: 600px) {
        height: 25px;
    }
}
%sect-2-box-med {
    @media (max-width: 1600px) {
        height: 980px;
    }
    @media (max-width: 1440px) {
        width: 80%;
    }
    @media (max-width: 1366px) {
        height: 830px;
    }
    @media (max-width: 1024px) {
        width: 50%;
        height: 1870px;
    }
    @media (max-width: 834px) {
        height: 1530px;
    }
    @media (max-width: 810px) {
        height: 1400px;
    }
    @media (max-width: 768px) {
        height: 1070px;
    }
    @media (max-width: 601px) {
        height: 965px;
    }
    @media (max-width: 600px) {
        height: 1300px;
    }
    @media (max-width: 414px) {
        width: 100%;
        height: 1465px;
    }
}
%cont-1-list-med {
    @media (max-width: 1024px) {
        flex-direction: column;
    }
    @media (max-width: 600px) {
        flex-direction: column;
    }
}
%cont-1-list-box-med {
    @media (max-width: 1600px) {
        width: 40%;
        height: 455px;
    }
    @media (max-width: 1536px) {
        height: 455px;
    }
    @media (max-width: 1440px) {
        height: 455px;
    }
    @media (max-width: 1366px) {
        height: 410px;
    }
    @media (max-width: 1024px) {
        width: 95%;
        height: 450px;
    }
    @media (max-width: 834px) {
        height: 380px;
    }
    @media (max-width: 810px) {
        height: 350px;
    }
    @media (max-width: 768px) {
        height: 265px;
    }
    @media (max-width: 601px) {
        height: 240px;
    }
    @media (max-width: 600px) {
        width: 95%;
        height: 315px;
        margin: 0 0 10px 0;
    }
    @media (max-width: 414px) {
        width: 100%;
        height: 355px;
    }
}
%cont-1-img-med {
    @media (max-width: 1600px) {
        width: 100%;
        height: 310px;
    }
    @media (max-width: 1366px) {
        width: 100%;
        height: 320px;
    }
    @media (max-width: 1024px) {
        height: 275px;
    }
    @media (max-width: 834px) {
        height: 235px;
    }
    @media (max-width: 768px) {
        height: 210px;
    }
    @media (max-width: 601px) {
        height: 160px;
    }
    @media (max-width: 600px) {
        height: 230px;
    }
    @media (max-width: 414px) {
        height: 200px;
    }
}
%cont-1-img-hrf-med {
    @media (max-width: 1600px) {
        max-width: 465px;
        height: 260px;
        padding: 15px;
    }
    @media (max-width: 1366px) {
        max-width: 415px;
        height: 220px;
    }
    @media (max-width: 1024px) {
        width: 85%;
        height: 240px;
    }
    @media (max-width: 768px) {
        max-width: 240px;
        height: 130px;
        padding: 7px;
    }
    @media (max-width: 600px) {
        height: 200px;
    }
    @media (max-width: 414px) {
        height: 225px;
    }
}
%cont-1-img-box-med {
    @media (max-width: 1600px) {
        height: 220px;
    }
    @media (max-width: 1366px) {
        height: 190px;
    }
    @media (max-width: 1024px) {
        height: 210px;
    }
    @media (max-width: 834px) {
        height: 170px;
    }
    @media (max-width: 768px) {
        height: 105px;
    }
    @media (max-width: 601px) {
        height: 110px;
    }
    @media (max-width: 600px) {
        height: 190px;
    }
    @media (max-width: 414px) {
        height: 140px;
    }
}
%cont-1-img-text-med {
    @media (max-width: 1600px) {
        height: 65px;
        padding: 1px 15px;
    }
    @media (max-width: 1440px) {
        padding: 1px 1px;
    }
    @media (max-width: 1366px) {
        height: 55px;
    }
    @media (max-width: 768px) {
        height: 40px;
        padding: 2px 10px;
    }
}
%flt-ico-nm-2-med {
    @media (max-width: 1600px) {
        width: 96%;
        height: 35px;
        padding-top: 7px;
    }
    @media (max-width: 962px) {
        padding-top: 8px;
    }
    @media (max-width: 834px) {
        padding-top: 1px;
    }
    @media (max-width: 768px) {
        padding-top: 4px;
    }
}
%cont-1-fit-med {
    @media (max-width: 1600px) {
        width: 90%;
        height: 140px;
        padding: 0 0 0 1px;
    }
    @media (max-width: 600px) {
        width: 93%;
    }
}
%cont-1-fit-med {
    @media (max-width: 600px) {
        height: 150px;
        padding: 5px 0 0 2px;
    }
}
%cont-1-fit-ul-med {
    @media (max-width: 1600px) {
        width: 90%;
        height: 130px;
    }
    @media (max-width: 1366px) {
        height: 115px;
    }
    @media (max-width: 810px) {
        height: 105px;
    }
    @media (max-width: 768px) {
        height: 85px;
    }
    @media (max-width: 601px) {
        width: 98%;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 99%;
    }
}
%cont-1-fit-a-med {
    @media (max-width: 1600px) {
        font-size: 15px;
    }
    @media (max-width: 1366px) {
        font-size: 13px;
    }
    @media (max-width: 834px) {
        font-size: 11px;
    }
    @media (max-width: 768px) {
        font-size: 9px;
    }
    @media (max-width: 601px) {
        font-size: 8px;
    }
    @media (max-width: 600px) {
        font-size: 10px;
    }
}
%sect-2-sm-med {
    @media (max-width: 1600px) {
        width: 98%;
        height: 180px;
    }
    @media (max-width: 1024px) {
        height: 200px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    @media (max-width: 834px) {
        height: 195px;
    }
    @media (max-width: 768px) {
        height: 195px;
    }
    @media (max-width: 601px) {
        height: 200px;
    }
    @media (max-width: 600px) {
        height: 200px;
    }
    @media (max-width: 414px) {
        height: 220px;
    }
}
%cont-1-sm-box-med {
    @media (max-width: 1600px) {
        width: 49%;
        height: 115px;
    }
    @media (max-width: 1440px) {
        width: 49%;
    }
    @media (max-width: 1366px) {
        height: 75px;
    }
    @media (max-width: 1024px) {
        width: 90%;
        height: 90px;
    }
    @media (max-width: 414px) {
        width: 100%;
        height: 100px;
        flex-direction: row;
    }
}
%cont-1-sm-img-med {
    @media (max-width: 1366px) {
        max-width: 140px;
    }
    @media (max-width: 768px) {
        margin-left: 20px;
    }
}
%cont-1-sm-img-box-med {
    @media (max-width: 1440px) {
        width: 90%;
    }
}
%cont-1-sm-h3-med {
    @media (max-width: 1366px) {
        font-size: 15px;
    }
}
//----------
//Section-3
%sect-3-med {
    @media (max-width: 1600px) {
        width: 99%;
    }
    @media (max-width: 1366px) {
        margin: 20px auto 10px;
        padding: 2px 0 30px 0;
    }
    @media (max-width: 600px) {
        width: 99%;
    }
}
%sect-3-h1-med {
    @media (max-width: 1600px) {
        font-size: $sect-h1-size;
        letter-spacing: 3px;
    }
    @media (max-width: 1366px) {
        margin: 10px 0;
    }
    @media (max-width: 1024px) {
        font-size: 25px;
    }
    @media (max-width: 962px) {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        font-size: 20px;
    }
}
%sect-3-cont-med {
    @media (max-width: 1600px) {
        width: 98%;
        height: 350px;
    }
    @media (max-width: 1366px) {
        height: 315px;
    }
    @media (max-width: 962px) {
        height: 340px;
    }
    @media (max-width: 834px) {
        height: 305px;
    }
    @media (max-width: 768px) {
        height: 190px;
    }
    @media (max-width: 601px) {
        width: 85%;
        height: 390px;
    }
    @media (max-width: 600px) {
        width: 85%;
        height: 360px;
    }
    @media (max-width: 414px) {
        height: 280px;
    }
}
%cont-2-box-med {
    @media (max-width: 1600px) {
        height: 340px;
    }
    @media (max-width: 1366px) {
        height: 240px;
        margin: 30px 5px;
    }
    @media (max-width: 834px) {
        height: 280px;
    }
    @media (max-width: 768px) {
        height: 180px;
    }
    @media (max-width: 601px) {
        height: 350px;
    }
    @media (max-width: 600px) {
        height: 350px;
    }
    @media (max-width: 414px) {
        height: 280px;
    }
    @media (max-width: 375px) {
        height: 275px;
    }
}
%cont-2-text-med {
    @media (max-width: 1600px) {
        height: 240px;
    }
    @media (max-width: 1366px) {
        max-width: 280px;
        height: 170px;
    }
    @media (max-width: 768px) {
        height: 130px;
    }
    @media (max-width: 601px) {
        max-width: 475px;
        height: 260px;
    }
    @media (max-width: 600px) {
        max-width: 475px;
        height: 260px;
    }
    @media (max-width: 414px) {
        height: 190px;
    }
}
%cont-2-text-img-med {
    @media (max-width: 1600px) {
        height: 200px;
    }
    @media (max-width: 1366px) {
        height: 160px;
    }
    @media (max-width: 768px) {
        height: 130px;
    }
    @media (max-width: 601px) {
        height: 245px;
    }
    @media (max-width: 600px) {
        height: 250px;
    }
    @media (max-width: 414px) {
        height: 180px;
    }
    @media (max-width: 375px) {
        height: 160px;
    }
}
%cont-2-p-box-med {
    @media (max-width: 1366px) {
        height: 65px;
    }
    @media (max-width: 834px) {
        height: 125px;
    }
    @media (max-width: 768px) {
        height: 46px;
    }
    @media (max-width: 601px) {
        height: 92px;
    }
    @media (max-width: 414px) {
        height: 87px;
    }
    @media (max-width: 375px) {
        height: 85px;
    }
}
%cont-2-p-med {
    @media (max-width: 1600px) {
        font-size: 17px;
        margin: 5px 0 0 10px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
    @media (max-width: 601px) {
        font-size: 16px;
    }
    @media (max-width: 414px) {
        font-size: 14px;
    }
    @media (max-width: 375px) {
        font-size: 13px;
    }
}
%cont-2-cost-med {
    @media (max-width: 1366px) {
        margin: 14px 0 0 130px; 
    }
    @media (max-width: 834px) {
        margin: 10px 0 0 105px;
    }
    @media (max-width: 414px) {
        margin: 9px 0 0 90px;
    }
    @media (max-width: 360px) {
        margin: 9px 0 0 70px;
    }
}
%cont-2-h4-med {
    @media (max-width: 1600px) {
        font-size: 30px;
    }
    @media (max-width: 1366px) {
        font-size: 23px;
    }
    @media (max-width: 768px) {
        font-size: 20px;
    }
    @media (max-width: 601px) {
        font-size: 30px;
    }
    @media (max-width: 414px) {
        font-size: 20px;
    }
}
//Section-BanBox
%sect-banbox-med {
    @media (max-width: 1600px) {
        width: 99%;
        padding: 10px 0;
    }
    @media (max-width: 1366px) {
        margin: 20px auto;
    }
}
%banbox-cont-med {
    @media (max-width: 1600px) {
        width: 98%;
    }
    @media (max-width: 1440px) {
        height: 160px;
    }
    @media (max-width: 1366px) {
        height: 160px;
    }
    @media (max-width: 1024px) {
        height: 310px;
        flex-direction: column;
    }
    @media (max-width: 962px) {
        height: 260px;
    }
    @media (max-width: 834px) {
        height: 210px;
    }
    @media (max-width: 810px) {
        height: 190px;
    }
    @media (max-width: 768px) {
        height: 220px;
    }
    @media (max-width: 601px) {
        height: 170px;
    }
    @media (max-width: 600px) {
        height: 220px;
        margin: 0 0 1px 0;
        flex-direction: column;
    }
}
%banbox-box-med {
    @media (max-width: 1600px) {
        width: 48%;
        height: 120px;
    }
    @media (max-width: 1366px) {
        height: 90px;
    }
    @media (max-width: 1024px) {
        width: 90%;
    }
    @media (max-width: 962px) {
        height: 80px;
    }
    @media (max-width: 834px) {
        height: 65px;
    }
    @media (max-width: 810px) {
        height: 60px;
    }
    @media (max-width: 768px) {
        height: 65px;
    }
    @media (max-width: 601px) {
        height: 55px;
    }
    @media (max-width: 600px) {
        width: 96%;
        height: 105px;
    }
    @media (max-width: 414px) {
        height: 80px;
    }
}
%consol-med {
    @media (max-width: 1600px) {
        width: 60%;
        height: 120px;
    }
    @media (max-width: 1440px) {
        height: 105px;
    }
    @media (max-width: 1366px) {
        height: 85px;
    }
    @media (max-width: 962px) {
        height: 73px;
    }
    @media (max-width: 834px) {
        height: 55px;
    }
    @media (max-width: 810px) {
        height: 54px;
    }
    @media (max-width: 768px) {
        height: 62px;
    }
    @media (max-width: 601px) {
        height: 50px;
    }
    @media (max-width: 600px) {
        height: 95px;
    }
    @media (max-width: 414px) {
        height: 72px;
    }
}
%consol-li-med {
    @media (max-width: 1600px) {
        font-size: 20px;
        padding-top: 5px;
    }
    @media (max-width: 1440px) {
        padding: 2px 0;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
        padding-top: 1px;
    }
    @media (max-width: 962px) {
        font-size: 12px;
    }
    @media (max-width: 834px) {
        font-size: 10px;
        padding-top: 0;
        letter-spacing: 3px;
    }
    @media (max-width: 810px) {
        letter-spacing: 3px;
    }
    @media (max-width: 768px) {
        font-size: 11px;
        letter-spacing: 2px;
        padding: 2px 0;
    }
    @media (max-width: 601px) {
        font-size: 9px;
        letter-spacing: 2px;
        padding: 1px 0;
    }
    @media (max-width: 600px) {
        font-size: 18px;
    }
    @media (max-width: 414px) {
        font-size: 15px;
    }
}
%box-box-ico-med {
    @media (max-width: 1600px) {
        width: 50%;
        height: 120px;
    }
    @media (max-width: 962px) {
        height: 85px;
    }
    @media (max-width: 834px) {
        height: 78px;
    }
    @media (max-width: 768px) {
        height: 70px;
    }
    @media (max-width: 601px) {
        height: 55px;
    }
    @media (max-width: 600px) {
        height: 100px;
    }
}
%box-img-ico-med {
    @media (max-width: 1600px) {
        width: 90%;
        height: 120px;
    }
    @media (max-width: 1366px) {
        width: 95%;
        height: 130px;
    }
    @media (max-width: 962px) {
        height: 90px;
    }
    @media (max-width: 834px) {
        height: 80px;
    }
    @media (max-width: 810px) {
        height: 85px;
    }
    @media (max-width: 768px) {
        height: 85px;
    }
    @media (max-width: 601px) {
        height: 65px;
    }
    @media (max-width: 600px) {
        height: 110px;
    }
}
%box-box-med {
    @media (max-width: 1600px) {
        height: 175px;
    }
    @media (max-width: 1440px) {
        height: 150px;
    }
    @media (max-width: 1366px) {
        width: 90%;
        height: 130px;
    }
    @media (max-width: 962px) {
        height: 110px;
    }
    @media (max-width: 834px) {
        height: 90px;
    }
    @media (max-width: 810px) {
        height: 80px;
    }
    @media (max-width: 768px) {
        height: 93px;
    }
    @media (max-width: 601px) {
        height: 75px;
    }
    @media (max-width: 600px) {
        width: 80%;
        height: 105px;
    }
}
%box-img-med {
    @media (max-width: 1600px) {
        height: 190px;
    }
    @media (max-width: 1440px) {
        height: 140px;
    }
    @media (max-width: 1366px) {
        height: 140px;
    }
    @media (max-width: 962px) {
        height: 110px;
    }
    @media (max-width: 834px) {
        height: 90px;
    }
    @media (max-width: 810px) {
        height: 84px;
    }
    @media (max-width: 768px) {
        height: 100px;
    }
    @media (max-width: 601px) {
        height: 70px;
    }
    @media (max-width: 600px) {
        height: 110px;
    }
}
%banbox-cont-2-med {
    @media (max-width: 1600px) {
        width: 98%;
    }
    @media (max-width: 1366px) {
        width: 95%;
        height: 630px;
    }
    @media (max-width: 1280px) {
        height: 550px;
    }
    @media (max-width: 1024px) {
        height: 525px;
    }
    @media (max-width: 962px) {
        height: 380px;
    }
    @media (max-width: 834px) {
        height: 450px;
    }
    @media (max-width: 768px) {
        height: 380px;
    }
    @media (max-width: 601px) {
        height: 310px;
    }
    @media (max-width: 600px) {
        height: 570px;
        flex-direction: column;
    }
    @media (max-width: 414px) {
        height: 790px;
    }
}
%sect-ban-cont-med {
    @media (max-width: 1600px) {
        width: 54%;
        height: 810px;
    }
    @media (max-width: 1536px) {
        height: 710px;
    }
    @media (max-width: 1440px) {
        height: 660px;
    }
    @media (max-width: 1366px) {
        width: 60%;
        height: 615px;
    }
    @media (max-width: 1280px) {
        height: 540px;
    }
    @media (max-width: 1024px) {
        height: 520px;
    }
    @media (max-width: 962px) {
        height: 390px;
    }
    @media (max-width: 834px) {
        height: 430px;
    }
    @media (max-width: 768px) {
        height: 380px;
    }
    @media (max-width: 601px) {
        height: 300px;
    }
    @media (max-width: 600px) {
        width: 99%;
        height: 360px;
    }
    @media (max-width: 414px) {
        height: 300px;
    }
}
%tv-box-med {
    @media (max-width: 1366px) {
        margin: 20px auto;
    }
}
%tv-med {
    @media (max-width: 1600px) {
        height: 410px;
    }
    @media (max-width: 1366px) {
        height: 320px;
    }
    @media (max-width: 1024px) {
        height: 260px;
    }
    @media (max-width: 834px) {
        height: 230px;
    }
    @media (max-width: 768px) {
        height: 240px;
    }
    @media (max-width: 601px) {
        height: 177px;
    }
}
%tv-text-cont-med {
    @media (max-width: 1600px) {
        width: 95%;
    }
    @media (max-width: 1366px) {
        width: 95%;
        height: 65px;
    }
}
%tv-icon-box-med {
    @media (max-width: 1366px) {
        width: 70%;
    }
    @media (max-width: 768px) {
        width: 60%;
    }
}
%tv-ico-nm-med {
    @media (max-width: 1600px) {
        width: 85%;
    }
    @media (max-width: 1366px) {
        height: 135px;
    }
    @media (max-width: 768px) {
        height: 143px;
    }
}
%tv-ban-h1-med {
    @media (max-width: 1366px) {
        font-size: 40px;
        padding: 35px 45px 0 0;
    }
    @media (max-width: 834px) {
        font-size: 35px;
        padding: 35px 25px 0 0;
    }
    @media (max-width: 768px) {
        font-size: 30px;
        padding: 45px 15px 0 0;
    }
}
%sect-ban-cont-2-med {
    @media (max-width: 1600px) {
        width: 44%;
        height: 810px;
    }
    @media (max-width: 1536px) {
        height: 710px;
    }
    @media (max-width: 1440px) {
        height: 660px;
    }
    @media (max-width: 1366px) {
        width: 38%;
        height: 615px;
    }
    @media (max-width: 1280px) {
        height: 540px;
    }
    @media (max-width: 1024px) {
        height: 520px;
    }
    @media (max-width: 962px) {
        height: 390px;
    }
    @media (max-width: 834px) {
        height: 430px;
    }
    @media (max-width: 768px) {
        height: 380px;
    }
    @media (max-width: 601px) {
        height: 300px;
    }
    @media (max-width: 600px) {
        width: 99%;
        height: 200px;
        flex-direction: row;
    }
    @media (max-width: 414px) {
        height: 470px;
        flex-direction: column;
    }
}
%sect-ban-box-med {
    @media (max-width: 1600px) {
        height: 396px;
    }
    @media (max-width: 1536px) {
        height: 350px;
    }
    @media (max-width: 1440px) {
        height: 320px;
    }
    @media (max-width: 1366px) {
        width: 100%;
        height: 300px;
    }
    @media (max-width: 1280px) {
        height: 265px;
    }
    @media (max-width: 1024px) {
        height: 255px;
    }
    @media (max-width: 962px) {
        height: 190px;
    }
    @media (max-width: 834px) {
        height: 210px;
    }
    @media (max-width: 768px) {
        height: 186px;
    }
    @media (max-width: 601px) {
        height: 148px;
    }
    @media (max-width: 600px) {
        width: 49%;
        height: 190px;
    }
    @media (max-width: 414px) {
        width: 100%;
        height: 230px;
    }
}
%ban-box-img-med {
    @media (max-width: 1366px) {
        width: 90%;
    }
    @media (max-width: 962px) {
        width: 99%;
    }
}
%cinema-med {
    @media (max-width: 1600px) {
        height: 300px;
    }
    @media (max-width: 1536px) {
        height: 270px;
    }
    @media (max-width: 1440px) {
        height: 250px;
    }
    @media (max-width: 1366px) {
        height: 240px;
    }
    @media (max-width: 1280px) {
        height: 210px;
    }
    @media (max-width: 1024px) {
        height: 180px;
    }
    @media (max-width: 962px) {
        height: 140px;
    }
    @media (max-width: 834px) {
        height: 155px;
    }
    @media (max-width: 768px) {
        height: 140px;
    }
    @media (max-width: 601px) {
        height: 100px;
    }
    @media (max-width: 414px) {
        height: 180px;
    }
}
%tvh-text-cont-med {
    @media (max-width: 1600px) {
        width: 97%;
    }
    @media (max-width: 1366px) {
        width: 95%;
        height: 40px;
        margin: 0 0 10px;
    }
    @media (max-width: 834px) {
        margin: 0 0 5px;
    }
}
%tvh-icon-box-med {
    @media (max-width: 1366px) {
        width: 70%;
    }
    @media (max-width: 834px) {
        width: 55%;
    }
    @media (max-width: 768px) {
        width: 60%;
    }
}
%tvh-ico-nm-med {
    @media (max-width: 1600px) {
        width: 87%;
    }
    @media (max-width: 1366px) {
        height: 75px;
    }
    @media (max-width: 834px) {
        height: 83px;
    }
}
%tvh-ban-h1-med {
    @media (max-width: 1366px) {
        font-size: 22px;
        padding: 20px 25px 0 0;
    }
    @media (max-width: 834px) {
        font-size: 14px;
        padding: 30px 10px 0 0;
    }
    @media (max-width: 768px) {
        font-size: 15px;
        letter-spacing: 1px;
        height: 39px;
        padding: 25px 10px 0 0;
    }
}
//Section-4
%sect-4-med {
    @media (max-width: 1600px) {
        width: 99%;
        padding: 5px 0 30px 0;
    }
}
%sect-4-h1-med {
    @media (max-width: 1600px) {
        font-size: $sect-h1-size;
    }
    @media (max-width: 1366px) {
        font-size: 25px;
    }
    @media (max-width: 962px) {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        font-size: 18px;
    } 
}
%sect-4-cont-med {
    @media (max-width: 1366px) {
        height: 240px;
    }
    @media (max-width: 962px) {
        height: 220px;
    }
    @media (max-width: 768px) {
        height: 180px;
    }
    @media (max-width: 600px) {
        height: 270px;
    }
}
%sect-4-box-med {
    @media (max-width: 1600px) {
        width: 98%;
    }
    @media (max-width: 1366px) {
        height: 235px;
    }
    @media (max-width: 1024px) {
        width: 96%;
    }
    @media (max-width: 834px) {
        height: 210px;
    }
    @media (max-width: 768px) {
        width: 95%;
        height: 200px;
    }
    @media (max-width: 600px) {
        height: 280px;
    }
}
%sect-4-img-med {
    @media (max-width: 1366px) {
        max-width: 235px;
        height: 233px;
    }
    @media (max-width: 834px) {
        height: 208px;
    }
    @media (max-width: 768px) {
        height: 196px;
    }
    @media (max-width: 600px) {
        max-width: 290px;
        height: 270px;
    }
}
%sect-4-text-med {
    @media (max-width: 1366px) {
        height: 215px;
    }
}
%sect-4-h3-med {
    @media (max-width: 768px) {
        font-size: 15px;
    }
}
%sect-4-p-med {
    @media (max-width: 768px) {
        font-size: 11px;
    }
}
//Section-Banner
%sect-baner-med {
    @media (max-width: 1600px) {
        width: 99%;
    }
    @media (max-width: 1366px) {
        height: 290px;
    }
    @media (max-width: 768px) {
        height: 270px;
    }
    @media (max-width: 600px) {
        height: 240px;
    }
}
%sect-baner-text-med {
    @media (max-width: 768px) {
        margin: 0 0 0 20px;
    }
}
%sect-baner-img-med {
    max-width: 290px;
    margin-bottom: 24px;
}
%sect-baner-img-box-med {
    @media (max-width: 1366px) {
        width: 66%;
    }
    @media (max-width: 600px) {
        width: 82%;
    }
}
//FOOTER

%xazi-med {
    @media (max-width: 1600px) {
        width: 95%;
        top: 1px;
    }
}
%foot-cont-2-med {
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}
%foot-h1-med {
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1366px) {
        font-size: 15px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
    @media (max-width: 600px) {
        padding: 0 0 10px 0;
    }
}
%foot-p-med {
    @media (max-width: 1600px) {
        font-size: 13px;
    }
    @media (max-width: 1366px) {
        font-size: 11px;
    }
    @media (max-width: 768px) {
        font-size: 8px;
    }
    @media (max-width: 600px) {
        font-size: 6px;
        padding: 5px 0 3px 0;
    }
}
%fa-med {
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 1366px) {
        font-size: 19px;
    }
    @media (max-width: 1024px) {
        font-size: 17px;
        letter-spacing: 12px;
    }
    @media (max-width: 962px) {
        font-size: 15px;
    }
    @media (max-width: 834px) {
        font-size: 12px;
    }
    @media (max-width: 768px) {
        font-size: 13px;
        letter-spacing: 9px;
    }
    @media (max-width: 601px) {
        font-size: 12px;
        letter-spacing: 4px;
    }
    @media (max-width: 600px) {
        font-size: 13px;
    }
    @media (max-width: 414px) {
        font-size: 15px;
    }
}
%li-box-med {
    @media (max-width: 600px) {
        padding: 2px 0;
    }
}
%foot-li-med {
    @media (max-width: 1600px) {
        font-size: 13px;
    }
    @media (max-width: 1366px) {
        font-size: 11px;
    }
    @media (max-width: 768px) {
        font-size: 8px;
    }
    @media (max-width: 600px) {
        font-size: 6px;
        padding: 2px 0;
    }
    @media (max-width: 414px) {
        font-size: 12px;
    }
}
%contact-med {
    @media (max-width: 1600px) {
        font-size: 19px;
    }
    @media (max-width: 1366px) {
        font-size: 13px;
    }
    @media (max-width: 834px) {
        font-size: 10px;
    }
    @media (max-width: 768px) {
        font-size: 10px;
    }
    @media (max-width: 600px) {
        font-size: 7px;
    }
    @media (max-width: 414px) {
        font-size: 20px;
    }
}
%avtori-med {
    @media (max-width: 1600px) {
        width: 90%;
    }
    @media (max-width: 962px) {
        margin: 1px 0 10px 0;
    }
    @media (max-width: 414px) {
        flex-direction: column;
    }
}
%foot-bg-med {
    @media (max-width: 1536px) {
        margin-top: 1px;
    }
}
%foot-cont-med {
    @media (max-width: 1600px) {
        width: 80%;
    }
    @media (max-width: 1366px) {
        width: 80%;
    }
    @media (max-width: 1024px) {
        width: 80%;
    }
    @media (max-width: 600px) {
        padding: 15px 0 1px 0;
    }
    @media (max-width: 414px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}
%foot-box-med {
    @media (max-width: 1366px) {
        width: 20%;
    }
    @media (max-width: 1024px) {
        width: 29%;
    }
    @media (max-width: 768px) {
        width: 23%;
    }
    @media (max-width: 600px) {
        width: 25%;
    }
    @media (max-width: 414px) {
        width: 80%;
        margin: 20px 0;
    }
}
%avtori-p-med {
    @media (max-width: 1366px) {
        font-size: 10px;
    }
}
%avtori-a-med {
    @media (max-width: 1366px) {
        font-size: 11px;
    }
    @media (max-width: 1024px) {
        font-size: 12px;
    }
}
//BURGER
%open-soci-med {
    @media (max-width: 600px) {
        .open-socicon {
            display: flex;
        }
    }
}
%nav-ul-open-med {
    @media (max-width: 600px) {
        .open-menu {
            display: block;
            flex-direction: column;
            padding: 15px 0;
        }
    }
    @media (max-width: 414px) {
        .open-menu {
            display: block;
            flex-direction: row;
            padding: 15px 0;
        }
    }
}
//Default-media
%xazi-med {
    @media (max-width: 1600px) {
        width: 90%;
    }
}
%slick-dots-med {
    @media (max-width: 768px) {
        li {
            margin: 0 2px;
            button {
                &:before {
                    font-size: 12px;
                }
            }
        }
        .slick-active {
            margin: 1px 10px;
            button {
                &:before {
                    font-size: 18px;
                }
            }
        }
    }
}
