//Body-BG
@mixin bg-img ($url,$color) {
    background-image: $url;
    background-color: $color;
}
@mixin background ($rep,$posit,$size) {
    background: $rep $posit $size;
}
//Header
@mixin d-flex ($dysplai,$justyfi,$alig) {
    display: $dysplai;
    justify-content: $justyfi;
    align-items: $alig;
}
@mixin border ($width,$type,$color) {
    border: $width $type $color;
}
//Nav-logo
@mixin transition-hover ($property,$duration,$type,$delay) {
    transition: $property $duration $type $delay;
}
//Nav-a-font
@mixin font-style ($size,$famy) {
    font-size: $size;
    font-family: $famy;
}
