%k1-pc-p-med {
    @media (max-width: 1536px) {
        font-size: 15px;
    }
    @media (max-width: 962px) {
        font-size: 13px;
    }
    @media (max-width: 834px) {
        font-size: 11px;
    }
    @media (max-width: 601px) {
        font-size: 9px;
    }
    @media (max-width: 414px) {
        font-size: 16px;
    }
}
%pc-k1-cont-med {
    @media (max-width: 1440px) {
        margin: 20px 0 40px;
    }
}
%pc-k1-spec-med {
    @media (max-width: 1024px) {
        display: block;
    }
}
%pc-k1-img-list-big-med {
    @media (max-width: 1600px) {
        width: 77%;
        height: 730px;
    }
    @media (max-width: 1440px) {
        width: 77%;
        height: 720px;
    }
    @media (max-width: 1366px) {
        width: 70%;
        height: 810px;
    }
    @media (max-width: 1024px) {
        width: 99%;
        height: 530px;
    }
    @media (max-width: 834px) {
        height: 480px;
    }
    @media (max-width: 601px) {
        height: 360px;
    }
    @media (max-width: 360px) {
        height: 270px;
    }
}
%pc-k1-img-box-med {
    @media (max-width: 1600px) {
        height: 495px;
        padding: 10px;
    }
    @media (max-width: 1536px) {
        height: 490px;
        padding: 5px;
    }
    @media (max-width: 1366px) {
        width: 50%;
        height: 390px;
        padding: 4px;
    }
    @media (max-width: 834px) {
        width: 40%;
        height: 360px;
    }
    @media (max-width: 601px) {
        width: 39%;
        height: 260px;
    }
    @media (max-width: 414px) {
        height: 225px;
    }
    @media (max-width: 375px) {
        height: 200px;
    }
}
%pc-k1-img-med {
    @media (max-width: 1600px) {
        height: 395px;
    }
    @media (max-width: 1536px) {
        height: 390px;
    }
    @media (max-width: 1366px) {
        height: 350px;
    }
    @media (max-width: 834px) {
        height: 320px;
    }
    @media (max-width: 601px) {
        height: 230px;
    }
    @media (max-width: 414px) {
        height: 190px;
    }
    @media (max-width: 414px) {
        height: 160px;
    }
}
%pc-k1-img-list-sm-med {
    @media (max-width: 834px) {
        width: 75%;
    }
}
%pc-k1-img-box-sm-med {
    @media (max-width: 1600px) {
        padding: 10px 40px;
    }
    @media (max-width: 601px) {
        padding: 5px 15px;
    }
    @media (max-width: 414px) {
        padding: 5px 2px;
    }
}
%pc-k1-img-sm-med {
    @media (max-width: 834px) {
        width: 90%;
        height: 60px;
    }
    @media (max-width: 414px) {
        height: 38px;
    }
    @media (max-width: 375px) {
        height: 30px;
    }
}
%pc-k1-img-text-med {
    @media (max-width: 1600px) {
        width: 79%;
    }
    @media (max-width: 1024px) {
        width: 99%;
        margin-left: 320px;
    }
    @media (max-width: 834px) {
        margin-left: 240px;
    }
    @media (max-width: 768px) {
        margin-left: 190px;
    }
    @media (max-width: 601px) {
        margin-left: 150px;
    }
    @media (max-width: 414px) {
        margin-left: 5px;
    }
}
%pc-k1-img-p-med {
    @media (max-width: 1600px) {
        font-size: 25px;
    }
    @media (max-width: 1536px) {
        font-size: 23px;
    }
    @media (max-width: 1440px) {
        font-size: 21px;
    }
    @media (max-width: 601px) {
        font-size: 16px;
    }
}
%pc-k1-img-p-span-med {
    @media (max-width: 1600px) {
        font-size: 25px;
    }
    @media (max-width: 601px) {
        font-size: 20px;
    }
}
%pc-k1-button-med {
    @media (max-width: 1600px) {
        font-size: 14px;
        padding: 12px 22px;
    }
    @media (max-width: 601px) {
        font-size: 11px;
        padding: 7px 15px;
    }
    @media (max-width: 360px) {
        font-size: 10px;
        padding: 5px 5px;
    }
}
%pc-k1-butt-r-med {
    @media (max-width: 360px) {
        justify-content: space-evenly;
    }
}
%pc-k1-butt-r-h4-med {
    @media (max-width: 1600px) {
        font-size: 20px;
    }
    @media (max-width: 601px) {
        font-size: 15px;
    }
    @media (max-width: 360px) {
        font-size: 13px;
    }
}
%pc-k1-butt-inp-h4-med {
    @media (max-width: 1600px) {
        width: 30%;
        height: 35px;
        font-size: 17px;
        margin-left: 2px;
    }
    @media (max-width: 601px) {
        font-size: 14px;
        height: 27px;
    }
    @media (max-width: 360px) {
        font-size: 13px;
        height: 25px;
    }
}
%pc-k1-ico-nm-h2-med {
    @media (max-width: 1600px) {
        font-size: 23px;
        margin: 0 12px 11px 0;
    }
    @media (max-width: 1024px) {
        font-size: 22px;
        margin: 0 12px 11px 0;
    }
    @media (max-width: 834px) {
        font-size: 18px;
        margin: 0 12px 10px 0;
    }
}
%pc-k1-img-li-med {
    @media (max-width: 1600px) {
        font-size: 18px;
        margin: 13px 0;
    }
    @media (max-width: 834px) {
        font-size: 15px;
        margin: 11px 0;
    }
    @media (max-width: 414px) {
        font-size: 12px;
        margin: 11px 0;
    }
    @media (max-width: 360px) {
        font-size: 11px;
    }
}
%pc-k1-img-li-span-med {
    @media (max-width: 1600px) {
        font-size: 16px;
    }
    @media (max-width: 834px) {
        font-size: 14px;
    }
    @media (max-width: 414px) {
        font-size: 12px;
    }
}