//Body
%body-bg {
    @include bg-img (url(../img/k1.PNG),$color-0);
    @include background (repeat,right -20% bottom 0px, top left,auto 10px);
}
//header
%hed-bg {
    width: $size-0;
    top: 0;
    left: 0;
    background-color: $color-01;
    position: fixed;
    @include d-flex (flex,space-around,center);
    @include border ($size-02, solid, $color-02,$size-05);
    box-shadow: $size-01 $size-01 $size-010 $size-01 $color-03;
}
%hed-med {
    @media (max-width: $size-0768){
        display: block;
        text-align: center;
    }
}
//Nav-Container
%nav-cont {
    max-width: $size02;
    width: $size-0;
    padding: $size-05 0 $size-05;
    @include d-flex (flex,space-between,center);
}
%nav-cont-med {
    @media (max-width: $size-01024) {
        width: $size-3;
    }
    @media (max-width: $size-0900) {
        width: $size-2;
        padding: $size-010 0 $size-010;
        margin-right: $size-100;
    }
    @media (max-width: $size-0800) {
        width: $size-3;
        padding: $size-010 0 $size-010;
    }
    @media (max-width: $size-0768) {
        flex-direction: column;
        margin: 0 auto;
    }
}
//Nav-Logo
%nav-logo {
    max-width: $size-070;
    width: $size-0;
    height: $size-085;
    &:hover {
        box-shadow: $size-01 $size-01 $size-015 $color-02;
        @include transition-hover (all,0.2s,ease,0.2s);
    }
}
%nav-logo-med {
    @media (max-width: $size-0900) {
        width: $size-080;
        height: $size-0110;
    }
    @media (max-width: $size-0800) {
        width: $size-080;
        height: $size-0110;
        margin-left: $size-0120;
    }
    @media (max-width: $size-0768) {
        margin: 0 auto;
    }
}
%img-logo {
    width: $size0;
    box-shadow: $size-01 $size-01 $size-010 $size-01 $color03;
    border-radius: $size-05;
}
%navi-size {
    @include d-flex (flex,space-between,center);
    max-width: $size-0930;
    width: $size-0;
}
%navi-med {
    @media (max-width: $size-01024) {
        width: $size-0780;
    }
    @media (max-width: $size-0900) {
        width: $size-6;
        flex-direction: column-reverse;
    }
    @media (max-width: $size-0800) {
        width: $size-6;
        flex-direction: column-reverse;
    }
    @media (max-width: $size-0768) {
        flex-direction: column;
    }
}
%nav-ul-size {
    max-width: $size-0630;
    width: $size-0;
    @include d-flex (flex,space-between,center);
}
%nav-ul-med {
    @media (max-width: $size-01024) {
        width: $size-0500;
    }
    @media (max-width: $size-0900) {
        width: $size-0550;
        padding-top: $size-010;
    }
    @media (max-width: $size-0800) {
        width: $size-0630;
        margin-right: $size-0170;
    }
    @media (max-width: $size-0768) {
        display: none;
        margin: 0 auto;
        width: $size-0;
    }
}
%nav-ul-open-med {
    @media (max-width: $size-0768) {
        .open-menu {
            display: block;
            text-align: -webkit-center;
            padding: $size-020 0;
        }
    }
}
%nav-li-med {
    @media (max-width: $size-0768) {
        padding-bottom: $size-010;
    }
}
%nav-a-sty {
    Color: $color03;
    @include font-style ($size-010,'ALKDots');
    text-shadow: $size-01 $suze-01 $color011;
}
%nav-a-med {
    @media (max-width: $size-0768) {
        display: block;
    }
}
%soc-ul-size {
    max-width: $size-0250;
    width: $size-0;
    height: $size-070;
}
%soc-ul-med {
    @media (max-width: $size-0900) {
        flex-wrap: wrap-reverse;
        margin-left: $size-0200;
    }
    @media (max-width: $size-0800) {
        flex-wrap: wrap-reverse;
        margin-left: $size-0200;
    }
    @media (max-width: $size-0768) {
        display: none;
        margin: 0 auto;
    }
}
%contact-ul-size {
    max-width: $size-0250;
    width: $size-0;
    height: $size-070;
}
%contact-ul-med {
    @media (max-width: $size-0900) {
        height: $size-070;
        flex-direction: column-reverse;
    }
    @media (max-width: $size-0800) {
        height: $size-070;
        flex-direction: column-reverse;
    }
    @media (max-width: $size-0768) {
        align-items: center;
    }
    @media (max-width: $size-0600) {
        height: $size-060;
    }
    @media (max-width: $size-0414) {
        height: $size-060;
    }
    @media (max-width: $size-0330) {
        height: $size-060;
    }
    @media (max-width: $size-0375) {
        height: $size-060;
    }
}
%soc-ul-size {
    max-width: $size-0220;
    width: $size-0;
}
%open-soci-med {
    @media (max-width: $size-0768) {
        .open-socicon {
            display: flex;
        }
    }
}
%soc-a-size {
    max-width: $size-0230;
    width: $size-0;
}
%soc-a-font {
    font-size: $size-022;
    font-family: 'ArchyEDT-Bold';
    color: $color-04;
    text-shadow: $size-01 $size-01 $color011;
}
%soc-a-med {
    @media (max-width: $size-01024) {
        font-size: $size-020;
    }
}
%fa-font {
    font-size: $size-020;
    color: $color-02;
}
%burg-icon-med {
    @media (max-width: $size-0800) {
        margin-right: $size-070;
    }
    @media (max-width: $size-0768) {
        color: $color02;
        display: block;
        font-size: $size-030;
        position: absolute;
        top: $size-040;
        right: $size-030;
        cursor:pointer;
    }
    @media (max-width: $size-0320) {
        margin: 0 auto;
    }
}
//Sectoin-1
%cont-1-img-bnox-med {
    @media (max-width: $size-0590) {
        font-size: $size-060;
        top: $size-032;
    }
}
%sect-cont-3-size {
    max-width: $size-01920;
        width: $size0;
        height: $size-0800;
        margin-top: $size-070;
}
%sect-cont-3-med {
    @media (max-width: $size-01120) {
            height: $size-0590;
        }
        @media (max-width: $size-0580) {
            height: $size-0950;
        }
}
%cont-3-h2-font {
    color: $color03;
    font-size: $size-036;
    font-family: 'Poopins-B';
    text-shadow: $size-01 $size-01 $color011;
}
%cont-3-ul-size {
    max-width: $size-0680;
    width: $size0;
}
%cont-3-a-font {
    Color: $color04;
    font-size: $size-015;
    font-family: 'Poppins-B';
    text-shadow: $size-01 $size-01 $color011;
}
%container-3-size {
    max-width: $size-01240;
    width: $size-0;
}
%container-3-med {
    @media (max-width: $size-01120) {
        width: $size-90;
    }
    @media (max-width: $size-0780) {
        width: $size-80;
        height: $size-0500;
        flex-wrap: wrap;
    }
}
%cont-3-box-size {
    max-width: $size-0270;
    width: $size0;
    height: $size-0270;
}
%cont-3-box-bg {
    background-image: url(../img/k1.PNG);
    background-repeat: repeat;
    background-position: right -20% bottom 0px, top left;
    background-size: auto $size-03;
}
%cont-3-box-med {
    @media (max-width: $size-01120) {
        width: $size-0230;
    }
    @media (max-width: $size-01060) {
        width: $size-0200;
        height: $size-0200;
    }
    @media (max-width: $size-0800) {
        width: $size-0160;
        height: $size-0170;
    }
    @media (max-width: $size-0780) {
        width: $size-0230;
        height: $size-0170;
    }
}
%cont-3-img-med {
    @media (max-width: 1060px) {
        width: 130px;
    }
    @media (max-width: 800px) {
        width: 110px;
    }
}