//Color

//Body-BG-Color
$color-0: #F4F6F6;

//Header-BG-Color
$color-01: #F4F6F6;
$color-02: #00A1C2;
$color-03: #565555;
$color-04: #255A5A;
//Header-BG-%
$size-0: 100%;
$size-32: 32%;
$size-2: 35%;
$size-6: 60%;
$size-3: 90%;
$size-95: 95%;
//Header-BG-Size
$size-01: 1px;
$size-02: 2px;
$size-03: 3px;
$size-05: 5px;
$size-010: 10px;
$size-015: 15px;
$size-020: 20px;
$size-022: 22px;
$size-025: 25px;
$size-028: 28px;
$size-030: 30px;
$size-036: 36px;
$size-040: 40px;
$size-060: 60px;
$size-070: 70px;
$size-080: 80px;
$size-085: 85px;
//Header-Media-Size
$size-100: 100px;
$size-0110: 110px;
$size-0120: 112px;
$size-0160: 160px;
$size-0170: 170px;
$size-0200: 200px;
$size-0230: 230px;
$size-0250: 250px;
$size-0270: 270px;
$size-0320: 320px;
$size-0330: 330px;
$size-0375: 375px;
$size-0414: 414px;
$size-0500: 500px;
$size-0550: 550px;
$size-0590: 590px;
$size-0600: 600px;
$size-0630: 630px;
$size-0768: 768px;
$size-0780: 780px;
$size-0800: 800px;
$size-0900: 900px;
$size-0930: 930px;
$size-01060: 1060px;
$size-01024: 1024px;
$size-01120: 1120px;
$size-01240: 1240px;
$size-01920: 1920px;

//variantebi
$color01: #FFFFFF;
$color011: #85929E;
$color04: #A9CCE3;
//variantebi
$size: 11366px;
$size02: 1080px;
$size020: 815px;
$size04: 190px;

