//Color
$color01: #FFFFFF;
$color010: #F4F6F6;
$color011: #85929E;
$color02: #00A1C2;
$color03: #565555;
$color04: #A9CCE3;


//Size
$size0: 100%;
$size: 11366px;
$size02: 1080px;
$size020: 815px;
$size03: 270px;
$size04: 190px;
$size05: 100px;
