/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-BlackItalic.eot");
  src: url("Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-BlackItalic.woff2") format("woff2"), url("Poppins-BlackItalic.woff") format("woff"), url("Poppins-BlackItalic.ttf") format("truetype"), url("Poppins-BlackItalic.svg#Poppins-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-B';
  src: url("../fonts/poppins/Poppins-Bold.eot");
  src: url("../fonts/poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/poppins/Poppins-Bold.woff") format("woff"), url("../fonts/poppins/Poppins-Bold.ttf") format("truetype"), url("../fonts/poppins/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Black.eot");
  src: url("../fonts/poppins/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Black.woff2") format("woff2"), url("../fonts/poppins/Poppins-Black.woff") format("woff"), url("../fonts/poppins/Poppins-Black.ttf") format("truetype"), url("../fonts/poppins/Poppins-Black.svg#Poppins-Black") format("svg");
  font-weight: bolder;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-EB';
  src: url("../fonts/poppins/Poppins-ExtraBold.eot");
  src: url("../fonts/poppins/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-ExtraBold.woff") format("woff"), url("../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../fonts/poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-L';
  src: url("../fonts/poppins/Poppins-Light.eot");
  src: url("../fonts/poppins/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/poppins/Poppins-Light.woff") format("woff"), url("../fonts/poppins/Poppins-Light.ttf") format("truetype"), url("../fonts/poppins/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-Italic.eot");
  src: url("Poppins-Italic.eot?#iefix") format("embedded-opentype"), url("Poppins-Italic.woff2") format("woff2"), url("Poppins-Italic.woff") format("woff"), url("Poppins-Italic.ttf") format("truetype"), url("Poppins-Italic.svg#Poppins-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-ExtraLightItalic.eot");
  src: url("Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-ExtraLightItalic.woff2") format("woff2"), url("Poppins-ExtraLightItalic.woff") format("woff"), url("Poppins-ExtraLightItalic.ttf") format("truetype"), url("Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-MediumItalic.eot");
  src: url("Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-MediumItalic.woff2") format("woff2"), url("Poppins-MediumItalic.woff") format("woff"), url("Poppins-MediumItalic.ttf") format("truetype"), url("Poppins-MediumItalic.svg#Poppins-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-SB';
  src: url("../fonts/poppins/Poppins-SemiBold.eot");
  src: url("../fonts/poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-Thin.eot");
  src: url("Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("Poppins-Thin.woff2") format("woff2"), url("Poppins-Thin.woff") format("woff"), url("Poppins-Thin.ttf") format("truetype"), url("Poppins-Thin.svg#Poppins-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-SemiBoldItalic.eot");
  src: url("Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-SemiBoldItalic.woff2") format("woff2"), url("Poppins-SemiBoldItalic.woff") format("woff"), url("Poppins-SemiBoldItalic.ttf") format("truetype"), url("Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-ExtraBoldItalic.eot");
  src: url("Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-ExtraBoldItalic.woff2") format("woff2"), url("Poppins-ExtraBoldItalic.woff") format("woff"), url("Poppins-ExtraBoldItalic.ttf") format("truetype"), url("Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-M';
  src: url("../fonts/poppins/Poppins-Medium.eot");
  src: url("../fonts/poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/poppins/Poppins-Medium.woff") format("woff"), url("../fonts/poppins/Poppins-Medium.ttf") format("truetype"), url("../fonts/poppins/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-LightItalic.eot");
  src: url("Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-LightItalic.woff2") format("woff2"), url("Poppins-LightItalic.woff") format("woff"), url("Poppins-LightItalic.ttf") format("truetype"), url("Poppins-LightItalic.svg#Poppins-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-ExtraLight.eot");
  src: url("Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("Poppins-ExtraLight.woff2") format("woff2"), url("Poppins-ExtraLight.woff") format("woff"), url("Poppins-ExtraLight.ttf") format("truetype"), url("Poppins-ExtraLight.svg#Poppins-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-BoldItalic.eot");
  src: url("Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-BoldItalic.woff2") format("woff2"), url("Poppins-BoldItalic.woff") format("woff"), url("Poppins-BoldItalic.ttf") format("truetype"), url("Poppins-BoldItalic.svg#Poppins-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-R';
  src: url("../fonts/poppins/Poppins-Regular.eot");
  src: url("../fonts/poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/poppins/Poppins-Regular.woff") format("woff"), url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-ThinItalic.eot");
  src: url("Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-ThinItalic.woff2") format("woff2"), url("Poppins-ThinItalic.woff") format("woff"), url("Poppins-ThinItalic.ttf") format("truetype"), url("Poppins-ThinItalic.svg#Poppins-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'ALKDots';
  src: url("../fonts/alkdos/alkdots-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/alkdos/alkdots-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alkdos/alkdots-webfont.woff2") format("woff2"), url("../fonts/alkdos/alkdots-webfont.woff") format("woff"), url("../fonts/alkdos/alkdots-webfont.ttf") format("truetype"), url("../fonts/alkdos/alkdots-webfont.svg#alkdotsregular") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'ArchyEDT-Bold';
  src: url("../fonts/archyed/archyedt-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/archyed/archyedt-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/archyed/archyedt-bold-webfont.woff2") format("woff2"), url("../fonts/archyed/archyedt-bold-webfont.woff") format("woff"), url("../fonts/archyed/archyedt-bold-webfont.ttf") format("truetype"), url("../fonts/archyed/archyedt-bold-webfont.svg#archyedt-bold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'BPG Nino Medium Caps';
  src: url("../fonts/nino/bpg-nino-medium-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/nino/bpg-nino-medium-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nino/bpg-nino-medium-caps-webfont.woff2") format("woff2"), url("../fonts/nino/bpg-nino-medium-caps-webfont.woff") format("woff"), url("../fonts/nino/bpg-nino-medium-caps-webfont.ttf") format("truetype"), url("../fonts/nino/bpg-nino-medium-caps-webfont.svg#bpg_nino_medium_capsregular") format("svg");
  /* Legacy iOS */ }

.head-bg {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #F4F6F6;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #00A1C2; }
  @media (max-width: 768px) {
    .head-bg {
      display: block;
      text-align: center; } }
  .head-bg .nav-container {
    max-width: 1080px;
    width: 100%;
    padding: 5px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 1024px) {
      .head-bg .nav-container {
        width: 90%; } }
    @media (max-width: 900px) {
      .head-bg .nav-container {
        width: 35%;
        padding: 10px 0 10px;
        margin-right: 100px; } }
    @media (max-width: 800px) {
      .head-bg .nav-container {
        width: 90%;
        padding: 10px 0 10px; } }
    @media (max-width: 768px) {
      .head-bg .nav-container {
        flex-direction: column;
        margin: 0 auto; } }
    .head-bg .nav-container .nav-logo {
      max-width: 70px;
      width: 100%;
      height: 85px; }
      .head-bg .nav-container .nav-logo:hover {
        box-shadow: 1px 1px 15px #00A1C2;
        transition: all 0.4s ease 0.4s; }
      @media (max-width: 900px) {
        .head-bg .nav-container .nav-logo {
          width: 80px;
          height: 110px; } }
      @media (max-width: 800px) {
        .head-bg .nav-container .nav-logo {
          width: 80px;
          height: 110px;
          margin-left: 120px; } }
      @media (max-width: 768px) {
        .head-bg .nav-container .nav-logo {
          margin: 0 auto; } }
      .head-bg .nav-container .nav-logo .img-logo {
        width: 100%; }
  .head-bg .navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 930px;
    width: 100%; }
    @media (max-width: 1024px) {
      .head-bg .navi {
        width: 780px; } }
    @media (max-width: 900px) {
      .head-bg .navi {
        width: 60%;
        flex-direction: column-reverse; } }
    @media (max-width: 800px) {
      .head-bg .navi {
        width: 60%;
        flex-direction: column-reverse; } }
    @media (max-width: 768px) {
      .head-bg .navi {
        flex-direction: column; } }
    .head-bg .navi .nav-ul {
      max-width: 630px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 1024px) {
        .head-bg .navi .nav-ul {
          width: 500px; } }
      @media (max-width: 900px) {
        .head-bg .navi .nav-ul {
          width: 550px;
          padding-top: 10px; } }
      @media (max-width: 800px) {
        .head-bg .navi .nav-ul {
          width: 620px;
          margin-right: 170px; } }
      @media (max-width: 768px) {
        .head-bg .navi .nav-ul {
          display: none;
          margin: 0 auto;
          width: 100%; } }
      .head-bg .navi .nav-ul .nav-li {
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 768px) {
          .head-bg .navi .nav-ul .nav-li {
            padding-bottom: 10px; } }
        .head-bg .navi .nav-ul .nav-li .nav-a {
          Color: #565555;
          font-size: 10px;
          font-family: 'ALKDots'; }
          .head-bg .navi .nav-ul .nav-li .nav-a:hover {
            text-shadow: 1px 1px 28px #00A1C2;
            transition: all 0.4s ease 0.4s; }
          @media (max-width: 768px) {
            .head-bg .navi .nav-ul .nav-li .nav-a {
              display: block; } }
    @media (max-width: 768px) {
      .head-bg .navi .open-menu {
        display: block;
        text-align: -webkit-center;
        padding: 20px 0; } }
    .head-bg .navi .soc-ul {
      max-width: 220px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      @media (max-width: 900px) {
        .head-bg .navi .soc-ul {
          flex-wrap: wrap-reverse;
          margin-left: 200px; } }
      @media (max-width: 800px) {
        .head-bg .navi .soc-ul {
          flex-wrap: wrap-reverse;
          margin-left: 200px; } }
      @media (max-width: 768px) {
        .head-bg .navi .soc-ul {
          display: none;
          margin: 0 auto; } }
      .head-bg .navi .soc-ul .contact-ul {
        max-width: 250px;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-direction: column;
        padding-bottom: 10px; }
        @media (max-width: 900px) {
          .head-bg .navi .soc-ul .contact-ul {
            height: 70px;
            flex-direction: column-reverse; } }
        @media (max-width: 800px) {
          .head-bg .navi .soc-ul .contact-ul {
            height: 70px;
            flex-direction: column-reverse; } }
        @media (max-width: 768px) {
          .head-bg .navi .soc-ul .contact-ul {
            align-items: center; } }
        @media (max-width: 600px) {
          .head-bg .navi .soc-ul .contact-ul {
            height: 60px; } }
        @media (max-width: 414px) {
          .head-bg .navi .soc-ul .contact-ul {
            height: 60px; } }
        @media (max-width: 330px) {
          .head-bg .navi .soc-ul .contact-ul {
            height: 60px; } }
        @media (max-width: 375px) {
          .head-bg .navi .soc-ul .contact-ul {
            height: 60px; } }
      .head-bg .navi .soc-ul .soc-a {
        max-width: 230px;
        width: 100%;
        font-size: 22px;
        color: #255A5A;
        font-family: 'ArchyEDT-Bold';
        display: flex;
        justify-content: space-between;
        align-items: flex-start; }
        @media (max-width: 1024px) {
          .head-bg .navi .soc-ul .soc-a {
            font-size: 20px; } }
      .head-bg .navi .soc-ul .soc-li .fa {
        font-size: 20px;
        color: #00A1C2;
        padding-right: 10px; }
        .head-bg .navi .soc-ul .soc-li .fa:hover {
          box-shadow: 5px 15px 28px #00A1C2;
          border: 0 solid #00A1C2;
          transition: all 0.4s ease 0.4s; }
    @media (max-width: 768px) {
      .head-bg .navi .open-socicon {
        display: flex; } }
  .head-bg .burger-icon {
    display: none; }
    @media (max-width: 800px) {
      .head-bg .burger-icon {
        margin-right: 70px; } }
    @media (max-width: 768px) {
      .head-bg .burger-icon {
        color: #00A1C2;
        display: block;
        font-size: 30px;
        position: absolute;
        top: 40px;
        right: 30px;
        cursor: pointer; } }
    @media (max-width: 320px) {
      .head-bg .burger-icon {
        margin: 0 auto; } }

.sect-bg {
  background-position: center;
  background-size: cover;
  margin-top: 132px; }
  .sect-bg .sect-conteiner-1 {
    max-width: 1920px;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .sect-bg .sect-conteiner-1 .cont-1-img-box .img-box {
      width: 100%; }
  .sect-bg .sect-conteiner-2 {
    max-width: 1920px;
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .sect-bg .sect-conteiner-2 .conteiner-2-box {
      max-width: 280px;
      width: 100%;
      height: 320px;
      background-color: #A9CCE3;
      background-position: center;
      background-repeat: no-repeat; }
      .sect-bg .sect-conteiner-2 .conteiner-2-box .cont-2-text {
        max-width: 280px;
        width: 100%;
        height: 120px;
        padding-left: 10px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-direction: column; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box .cont-2-text .cont-2-h2 {
          color: #FFFFFF;
          font-size: 36px;
          font-family: 'Poopins-B'; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box .cont-2-text .cont-2-p {
          color: #FFFFFF;
          font-size: 14px;
          font-family: 'Poppins-R'; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box .cont-2-text .cont-2-cost .cont-2-h4 {
          color: #FFFFFF;
          font-size: 14px;
          font-family: 'Poppins-R'; }
      .sect-bg .sect-conteiner-2 .conteiner-2-box .cont-2-img .sect-2-img-box {
        width: 100%; }
    .sect-bg .sect-conteiner-2 .conteiner-2-box-2 {
      max-width: 280px;
      width: 100%;
      height: 320px;
      background-color: #F6F7F8;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-direction: column-reverse; }
      .sect-bg .sect-conteiner-2 .conteiner-2-box-2 .cont-2-text-2 {
        width: 100%;
        padding-left: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box-2 .cont-2-text-2 .cont-2-h2-2 {
          color: #565555;
          font-size: 26px;
          font-family: 'Poopins-B'; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box-2 .cont-2-text-2 .cont-2-cost-2 .cont-2-h4-2 {
          color: #565555;
          font-size: 14px;
          font-family: 'Poppins-R'; }
      .sect-bg .sect-conteiner-2 .conteiner-2-box-2 .cont-2-img-2 {
        max-width: 280px; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box-2 .cont-2-img-2 .sect-2-img-box-2 {
          width: 100%; }
    .sect-bg .sect-conteiner-2 .conteiner-2-box-3 {
      max-width: 280px;
      width: 100%;
      height: 320px;
      background-color: #C1C8CE; }
      .sect-bg .sect-conteiner-2 .conteiner-2-box-3 .cont-2-text-3 {
        max-width: 280px;
        width: 100%;
        height: 120px;
        padding-left: 10px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-direction: column; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box-3 .cont-2-text-3 .cont-2-h2-3 {
          font-size: 26px;
          font-family: 'Poopins-B';
          color: #565555; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box-3 .cont-2-text-3 .cont-2-p-3 {
          font-size: 14px;
          font-family: 'Poppins-R';
          color: #565555; }
        .sect-bg .sect-conteiner-2 .conteiner-2-box-3 .cont-2-text-3 .cont-2-cost-3 .cont-2-h4-3 {
          font-size: 14px;
          font-family: 'Poppins-R';
          color: #565555; }
      .sect-bg .sect-conteiner-2 .conteiner-2-box-3 .cont-2-img-3 .sect-2-img-box-3 {
        width: 100%; }
  .sect-bg .sect-conteiner-3 {
    max-width: 1920px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .sect-bg .sect-conteiner-3 .cont-3-h2 {
      color: #565555;
      font-size: 36px;
      font-family: 'Poopins-B'; }
    .sect-bg .sect-conteiner-3 .cont-3-ul {
      max-width: 680px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .sect-bg .sect-conteiner-3 .cont-3-ul .cont-3-li .cont-3-a {
        Color: #A9CCE3;
        font-size: 15px;
        font-family: 'Poppins-B'; }
    .sect-bg .sect-conteiner-3 .container-3 {
      max-width: 1240px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .sect-bg .sect-conteiner-3 .container-3 .cont-3-box {
        max-width: 270px;
        width: 100%;
        height: 260px;
        background-color: #85929E;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border: 2px solid #00A1C2; }
        .sect-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-img {
          max-width: 220px; }
          .sect-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-img .sect-3-img-box {
            width: 100%; }
        .sect-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-h3 {
          color: #565555; }
        .sect-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-cost .cont-3-h4 {
          color: #565555; }
    .sect-bg .sect-conteiner-3 .sect-3-load {
      color: #00A1C2; }

.sect-2-bg .sect-2-conteiner {
  background-color: #00A1C2;
  max-width: 1920px;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .sect-2-bg .sect-2-conteiner .sect-2-text {
    max-width: 330px;
    width: 100%;
    height: 224px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column; }
    .sect-2-bg .sect-2-conteiner .sect-2-text .sect-2-h2 {
      color: #FFFFFF;
      font-size: 36px;
      font-family: 'Poopins-B'; }
    .sect-2-bg .sect-2-conteiner .sect-2-text .sect-2-p {
      color: #FFFFFF;
      font-size: 14px;
      font-family: 'Poppins-R'; }
    .sect-2-bg .sect-2-conteiner .sect-2-text .sect-2-shop .sect-2-h4 {
      color: #FFFFFF;
      font-size: 14px;
      font-family: 'Poppins-R'; }
  .sect-2-bg .sect-2-conteiner .sect-2-img {
    max-width: 625px; }
    .sect-2-bg .sect-2-conteiner .sect-2-img .sect-2-img-box {
      width: 100%; }

.sect-2-bg .sect-2-cont-2 {
  display: flex;
  justify-content: space-around;
  align-items: baseline; }
  .sect-2-bg .sect-2-cont-2 .sect-2-cont-2-box {
    max-width: 250px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    .sect-2-bg .sect-2-cont-2 .sect-2-cont-2-box .sect-2-cont-2-h2 {
      color: #565555; }
    .sect-2-bg .sect-2-cont-2 .sect-2-cont-2-box .sect-2-cont-2-p {
      color: #565555; }

.sect-2-bg .sect-2-cont-3 {
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-h2 {
    color: #565555; }
  .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap {
    display: flex; }
    .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box {
      max-width: 320px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-img {
        max-width: 150px; }
        .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-img .sect-2-cont-3-img-box {
          width: 100%; }
      .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-h3 {
        color: #565555; }
      .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-p {
        color: #565555; }

.foot-bg {
  background-color: #F4F6F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid #00A1C2; }
  .foot-bg .foot-container {
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
    @media (max-width: 800px) {
      .foot-bg .foot-container {
        width: 90%; } }
    @media (max-width: 600px) {
      .foot-bg .foot-container {
        width: 80%; } }
    @media (max-width: 414px) {
      .foot-bg .foot-container {
        flex-direction: column-reverse;
        align-items: center; } }
    @media (max-width: 375px) {
      .foot-bg .foot-container {
        flex-wrap: wrap-reverse; } }
    @media (max-width: 330px) {
      .foot-bg .foot-container {
        flex-wrap: wrap-reverse; } }
    .foot-bg .foot-container .foot-box {
      max-width: 310px;
      width: 100%;
      height: 155px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      @media (max-width: 800px) {
        .foot-bg .foot-container .foot-box {
          align-items: center;
          text-align: center; } }
      @media (max-width: 768px) {
        .foot-bg .foot-container .foot-box {
          align-items: center;
          text-align: center; } }
      @media (max-width: 600px) {
        .foot-bg .foot-container .foot-box {
          text-align: center;
          align-items: center; } }
      @media (max-width: 414px) {
        .foot-bg .foot-container .foot-box {
          text-align: center;
          align-items: center; } }
      @media (max-width: 375px) {
        .foot-bg .foot-container .foot-box {
          text-align: center;
          align-items: center; } }
      @media (max-width: 330px) {
        .foot-bg .foot-container .foot-box {
          text-align: center;
          align-items: center; } }
      .foot-bg .foot-container .foot-box .foot-h2 {
        font-size: 20px;
        color: #565555;
        font-family: 'ArchyEDT-Bold'; }
      .foot-bg .foot-container .foot-box .foot-p {
        max-width: 270px;
        width: 100%;
        color: #565555;
        font-family: 'BPG Nino Medium Caps'; }
      .foot-bg .foot-container .foot-box .foot-ul {
        max-width: 190px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .foot-bg .foot-container .foot-box .foot-ul .foot-li .fa {
          font-size: 20px;
          color: #00A1C2; }
          .foot-bg .foot-container .foot-box .foot-ul .foot-li .fa:hover {
            box-shadow: 5px 15px 28px #00A1C2;
            border: 0 solid #00A1C2;
            transition: all 0.4s ease 0.4s; }
      .foot-bg .foot-container .foot-box .cont-p {
        max-width: 190px;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; }
        @media (max-width: 800px) {
          .foot-bg .foot-container .foot-box .cont-p {
            width: 140px; } }
        @media (max-width: 600px) {
          .foot-bg .foot-container .foot-box .cont-p {
            width: 140px; } }
        @media (max-width: 414px) {
          .foot-bg .foot-container .foot-box .cont-p {
            width: 150px; } }
        @media (max-width: 375px) {
          .foot-bg .foot-container .foot-box .cont-p {
            width: 150px; } }
        @media (max-width: 330px) {
          .foot-bg .foot-container .foot-box .cont-p {
            width: 150px; } }
        .foot-bg .foot-container .foot-box .cont-p .li-box {
          max-width: 150px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          @media (max-width: 768px) {
            .foot-bg .foot-container .foot-box .cont-p .li-box {
              width: 140px; } }
          .foot-bg .foot-container .foot-box .cont-p .li-box .fa-foot {
            color: #00A1C2;
            font-size: 15px; }
          .foot-bg .foot-container .foot-box .cont-p .li-box .contact {
            font-size: 14px;
            color: #565555;
            font-family: 'BPG Nino Medium Caps'; }
  .foot-bg .xazi {
    margin: 25px 0 25px 0;
    max-width: 1080px;
    width: 100%;
    content: ' ';
    color: #062D2D;
    border: 0.1px solid #A9CCE3;
    box-shadow: 0 0 15px #00A1C2; }
    @media (max-width: 1024px) {
      .foot-bg .xazi {
        width: 90%; } }
    @media (max-width: 800px) {
      .foot-bg .xazi {
        width: 90%; } }
    @media (max-width: 768px) {
      .foot-bg .xazi {
        width: 90%; } }
    @media (max-width: 600px) {
      .foot-bg .xazi {
        width: 80%; } }
    @media (max-width: 414px) {
      .foot-bg .xazi {
        width: 80%; } }
    @media (max-width: 375px) {
      .foot-bg .xazi {
        width: 80%; } }
    @media (max-width: 330px) {
      .foot-bg .xazi {
        width: 80%; } }
  .foot-bg .avtori {
    max-width: 1080px;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 1024px) {
      .foot-bg .avtori {
        width: 85%; } }
    @media (max-width: 800px) {
      .foot-bg .avtori {
        width: 90%; } }
    @media (max-width: 768px) {
      .foot-bg .avtori {
        width: 90%; } }
    @media (max-width: 600px) {
      .foot-bg .avtori {
        flex-direction: column; } }
    @media (max-width: 414px) {
      .foot-bg .avtori {
        height: 55px;
        flex-direction: column; } }
    @media (max-width: 375px) {
      .foot-bg .avtori {
        height: 55px;
        flex-direction: column; } }
    @media (max-width: 330px) {
      .foot-bg .avtori {
        height: 55px;
        flex-direction: column; } }
    @media (max-width: 320px) {
      .foot-bg .avtori {
        text-align: center; } }
    .foot-bg .avtori .avtori-p {
      font-size: 12px;
      color: #565555;
      font-family: 'BPG Nino Medium Caps'; }
      @media (max-width: 600px) {
        .foot-bg .avtori .avtori-p {
          padding-bottom: 10px; } }
    .foot-bg .avtori .copy {
      font-size: 12px;
      color: #565555;
      font-family: 'BPG Nino Medium Caps'; }
  .foot-bg .foot-conteiner-2 {
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
    @media (max-width: 768px) {
      .foot-bg .foot-conteiner-2 {
        width: 90%; } }
    @media (max-width: 600px) {
      .foot-bg .foot-conteiner-2 {
        flex-wrap: wrap; } }
    @media (max-width: 414px) {
      .foot-bg .foot-conteiner-2 {
        flex-direction: column;
        align-items: center; } }
    @media (max-width: 375px) {
      .foot-bg .foot-conteiner-2 {
        flex-direction: column;
        align-items: center; } }
    @media (max-width: 330px) {
      .foot-bg .foot-conteiner-2 {
        flex-direction: column;
        align-items: center; } }
    .foot-bg .foot-conteiner-2 .foot-2-box {
      height: 190px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column; }
      @media (max-width: 600px) {
        .foot-bg .foot-conteiner-2 .foot-2-box {
          width: 250px;
          align-items: center; } }
      @media (max-width: 414px) {
        .foot-bg .foot-conteiner-2 .foot-2-box {
          align-items: center; }
          .foot-bg .foot-conteiner-2 .foot-2-box:after {
            margin: 25px 0 25px 0;
            max-width: 1080px;
            width: 100%;
            content: ' ';
            color: #062D2D;
            border: 0.1px solid #A9CCE3;
            box-shadow: 0 0 15px #00A1C2; } }
      @media (max-width: 375px) {
        .foot-bg .foot-conteiner-2 .foot-2-box {
          align-items: center; }
          .foot-bg .foot-conteiner-2 .foot-2-box:after {
            margin: 25px 0 25px 0;
            max-width: 1080px;
            width: 100%;
            content: ' ';
            color: #062D2D;
            border: 0.1px solid #A9CCE3;
            box-shadow: 0 0 15px #00A1C2; } }
      @media (max-width: 330px) {
        .foot-bg .foot-conteiner-2 .foot-2-box {
          align-items: center; }
          .foot-bg .foot-conteiner-2 .foot-2-box:after {
            margin: 25px 0 25px 0;
            max-width: 1080px;
            width: 100%;
            content: ' ';
            color: #062D2D;
            border: 0.1px solid #A9CCE3;
            box-shadow: 0 0 15px #00A1C2; } }
      .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-h2 {
        font-size: 20px;
        color: #565555;
        font-family: 'ArchyEDT-Bold';
        padding-bottom: 20px; }
      .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
        height: 130px;
        display: flex;
        justify-content: space-around;
        align-items: end;
        flex-direction: column; }
        @media (max-width: 600px) {
          .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
            align-items: center; } }
        @media (max-width: 414px) {
          .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
            align-items: center; } }
        @media (max-width: 375px) {
          .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
            align-items: center; } }
        @media (max-width: 330px) {
          .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
            align-items: center; } }
        .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul .foot-2-li {
          font-size: 14px;
          color: #565555;
          font-family: 'BPG Nino Medium Caps'; }
