/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-BlackItalic.eot");
  src: url("Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-BlackItalic.woff2") format("woff2"), url("Poppins-BlackItalic.woff") format("woff"), url("Poppins-BlackItalic.ttf") format("truetype"), url("Poppins-BlackItalic.svg#Poppins-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-B';
  src: url("../fonts/poppins/Poppins-Bold.eot");
  src: url("../fonts/poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/poppins/Poppins-Bold.woff") format("woff"), url("../fonts/poppins/Poppins-Bold.ttf") format("truetype"), url("../fonts/poppins/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Black.eot");
  src: url("../fonts/poppins/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Black.woff2") format("woff2"), url("../fonts/poppins/Poppins-Black.woff") format("woff"), url("../fonts/poppins/Poppins-Black.ttf") format("truetype"), url("../fonts/poppins/Poppins-Black.svg#Poppins-Black") format("svg");
  font-weight: bolder;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-EB';
  src: url("../fonts/poppins/Poppins-ExtraBold.eot");
  src: url("../fonts/poppins/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-ExtraBold.woff") format("woff"), url("../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../fonts/poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-L';
  src: url("../fonts/poppins/Poppins-Light.eot");
  src: url("../fonts/poppins/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/poppins/Poppins-Light.woff") format("woff"), url("../fonts/poppins/Poppins-Light.ttf") format("truetype"), url("../fonts/poppins/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-Italic.eot");
  src: url("Poppins-Italic.eot?#iefix") format("embedded-opentype"), url("Poppins-Italic.woff2") format("woff2"), url("Poppins-Italic.woff") format("woff"), url("Poppins-Italic.ttf") format("truetype"), url("Poppins-Italic.svg#Poppins-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-ExtraLightItalic.eot");
  src: url("Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-ExtraLightItalic.woff2") format("woff2"), url("Poppins-ExtraLightItalic.woff") format("woff"), url("Poppins-ExtraLightItalic.ttf") format("truetype"), url("Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-MediumItalic.eot");
  src: url("Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-MediumItalic.woff2") format("woff2"), url("Poppins-MediumItalic.woff") format("woff"), url("Poppins-MediumItalic.ttf") format("truetype"), url("Poppins-MediumItalic.svg#Poppins-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-SB';
  src: url("../fonts/poppins/Poppins-SemiBold.eot");
  src: url("../fonts/poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-Thin.eot");
  src: url("Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("Poppins-Thin.woff2") format("woff2"), url("Poppins-Thin.woff") format("woff"), url("Poppins-Thin.ttf") format("truetype"), url("Poppins-Thin.svg#Poppins-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-SemiBoldItalic.eot");
  src: url("Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-SemiBoldItalic.woff2") format("woff2"), url("Poppins-SemiBoldItalic.woff") format("woff"), url("Poppins-SemiBoldItalic.ttf") format("truetype"), url("Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-ExtraBoldItalic.eot");
  src: url("Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-ExtraBoldItalic.woff2") format("woff2"), url("Poppins-ExtraBoldItalic.woff") format("woff"), url("Poppins-ExtraBoldItalic.ttf") format("truetype"), url("Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-M';
  src: url("../fonts/poppins/Poppins-Medium.eot");
  src: url("../fonts/poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/poppins/Poppins-Medium.woff") format("woff"), url("../fonts/poppins/Poppins-Medium.ttf") format("truetype"), url("../fonts/poppins/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-LightItalic.eot");
  src: url("Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-LightItalic.woff2") format("woff2"), url("Poppins-LightItalic.woff") format("woff"), url("Poppins-LightItalic.ttf") format("truetype"), url("Poppins-LightItalic.svg#Poppins-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-ExtraLight.eot");
  src: url("Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("Poppins-ExtraLight.woff2") format("woff2"), url("Poppins-ExtraLight.woff") format("woff"), url("Poppins-ExtraLight.ttf") format("truetype"), url("Poppins-ExtraLight.svg#Poppins-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-BoldItalic.eot");
  src: url("Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-BoldItalic.woff2") format("woff2"), url("Poppins-BoldItalic.woff") format("woff"), url("Poppins-BoldItalic.ttf") format("truetype"), url("Poppins-BoldItalic.svg#Poppins-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-R';
  src: url("../fonts/poppins/Poppins-Regular.eot");
  src: url("../fonts/poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/poppins/Poppins-Regular.woff") format("woff"), url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("Poppins-ThinItalic.eot");
  src: url("Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), url("Poppins-ThinItalic.woff2") format("woff2"), url("Poppins-ThinItalic.woff") format("woff"), url("Poppins-ThinItalic.ttf") format("truetype"), url("Poppins-ThinItalic.svg#Poppins-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'ALKDots';
  src: url("../fonts/alkdos/alkdots-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/alkdos/alkdots-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alkdos/alkdots-webfont.woff2") format("woff2"), url("../fonts/alkdos/alkdots-webfont.woff") format("woff"), url("../fonts/alkdos/alkdots-webfont.ttf") format("truetype"), url("../fonts/alkdos/alkdots-webfont.svg#alkdotsregular") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'ArchyEDT-Bold';
  src: url("../fonts/archyed/archyedt-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/archyed/archyedt-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/archyed/archyedt-bold-webfont.woff2") format("woff2"), url("../fonts/archyed/archyedt-bold-webfont.woff") format("woff"), url("../fonts/archyed/archyedt-bold-webfont.ttf") format("truetype"), url("../fonts/archyed/archyedt-bold-webfont.svg#archyedt-bold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'BPG Nino Medium Caps';
  src: url("../fonts/nino/bpg-nino-medium-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/nino/bpg-nino-medium-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nino/bpg-nino-medium-caps-webfont.woff2") format("woff2"), url("../fonts/nino/bpg-nino-medium-caps-webfont.woff") format("woff"), url("../fonts/nino/bpg-nino-medium-caps-webfont.ttf") format("truetype"), url("../fonts/nino/bpg-nino-medium-caps-webfont.svg#bpg_nino_medium_capsregular") format("svg");
  /* Legacy iOS */ }

.book-bg {
  width: 90%;
  margin: 170px 0 25px 60px;
  background-color: #F4F6F6;
  border: 2px solid #00A1C2;
  box-shadow: 1px 1px 10px 1px #565555;
  border-radius: 5px; }
  .book-bg .book-container {
    width: 90%;
    height: 900px;
    background-color: #F4F6F6;
    margin: 0 auto;
    padding: 20px; }
    .book-bg .book-container .book-box {
      display: flex;
      justify-content: space-between;
      align-items: end; }
      .book-bg .book-container .book-box .img-box {
        max-width: 400px;
        width: 100%;
        height: 320px;
        border: 2px solid #85929E;
        box-shadow: 3px 3px 6px 2px #565555;
        border-radius: 10px; }
        .book-bg .book-container .book-box .img-box .img-size {
          width: 100%; }
      .book-bg .book-container .book-box .book-text-box {
        width: 700px;
        text-align: left; }

.notebook-bg {
  width: 90%;
  margin: 170px 0 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F6F6;
  border: 2px solid #00A1C2;
  box-shadow: 1px 1px 10px 1px #565555;
  border-radius: 5px; }
  .notebook-bg .notebook-conteiner {
    max-width: 200px;
    width: 100%; }
  .notebook-bg .book-conteiner {
    max-width: 750px;
    width: 100%;
    margin: 15px; }
    .notebook-bg .book-conteiner .notebook-h2 {
      color: #565555;
      font-size: 25px;
      font-family: 'Poppins-B';
      text-shadow: 1px 1px #85929E;
      margin: 20px; }
    .notebook-bg .book-conteiner .book-cont {
      margin: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .notebook-bg .book-conteiner .book-cont .book-box {
        max-width: 170px;
        width: 100%;
        height: 220px;
        border: 2px solid #85929E;
        box-shadow: 3px 3px 6px 2px #565555;
        border-radius: 10px;
        text-align: center;
        background-image: url(../img/k1.PNG);
        background-repeat: repeat;
        background-position: right -20% bottom 0px, top left;
        background-size: auto 1px; }
        .notebook-bg .book-conteiner .book-cont .book-box .img-size {
          width: 100%; }
        .notebook-bg .book-conteiner .book-cont .book-box .book-p {
          font-size: 15px;
          font-family: 'Poppins-R';
          color: #85929E;
          margin: 10px auto; }
        .notebook-bg .book-conteiner .book-cont .book-box .book-h3 {
          font-size: 15px;
          font-family: 'Poppins-B';
          color: #85929E;
          margin: 10px auto; }

.product-bg {
  margin: 170px 0 25px 0; }
  .product-bg .sect-conteiner-3 {
    max-width: 1920px;
    width: 100%;
    height: 800px;
    background-color: #F4F6F6;
    border: 2px solid #00A1C2;
    box-shadow: 1px 1px 10px 1px #565555;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px; }
    .product-bg .sect-conteiner-3 .cont-3-h2 {
      color: #565555;
      font-size: 36px;
      font-family: 'Poopins-B';
      text-shadow: 1px 1px #85929E; }
    .product-bg .sect-conteiner-3 .cont-3-ul {
      max-width: 680px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .product-bg .sect-conteiner-3 .cont-3-ul .cont-3-li .cont-3-a {
        Color: #A9CCE3;
        font-size: 15px;
        font-family: 'Poppins-B';
        text-shadow: 1px 1px #85929E; }
    .product-bg .sect-conteiner-3 .container-3 {
      max-width: 1240px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .product-bg .sect-conteiner-3 .container-3 .cont-3-box {
        max-width: 270px;
        width: 100%;
        height: 260px;
        background-image: url(../img/k1.PNG);
        background-repeat: repeat;
        background-position: right -20% bottom 0px, top left;
        background-size: auto 3px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        border: 2px solid #85929E;
        box-shadow: 3px 3px 6px 2px #565555;
        border-radius: 10px; }
        .product-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-img {
          max-width: 200px; }
          .product-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-img .sect-3-img-box {
            width: 100%; }
        .product-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-h3 {
          color: #565555;
          font-size: 20px;
          font-family: 'ALKDots';
          margin: 25px auto;
          text-shadow: 1px 1px #565555; }
    .product-bg .sect-conteiner-3 .sect-3-load {
      color: #00A1C2; }

.contact-bg {
  width: 90%;
  margin: 170px 0 25px 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F4F6F6;
  border: 2px solid #00A1C2;
  box-shadow: 1px 1px 10px 1px #565555;
  border-radius: 5px; }
  .contact-bg .cotact-abaut {
    width: 80%;
    margin: 60px auto; }
    .contact-bg .cotact-abaut .contact-text-h2 {
      font-size: 20px;
      color: #565555;
      font-family: 'BPG Nino Medium Caps';
      text-shadow: 1px 1px #85929E; }
  .contact-bg .xazi {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    content: ' ';
    color: #062D2D;
    border: 0.1px solid #A9CCE3;
    box-shadow: 0 0 15px #00A1C2; }
    @media (max-width: 1024px) {
      .contact-bg .xazi {
        width: 90%; } }
    @media (max-width: 800px) {
      .contact-bg .xazi {
        width: 90%; } }
    @media (max-width: 768px) {
      .contact-bg .xazi {
        width: 90%; } }
    @media (max-width: 600px) {
      .contact-bg .xazi {
        width: 80%; } }
    @media (max-width: 414px) {
      .contact-bg .xazi {
        width: 80%; } }
    @media (max-width: 375px) {
      .contact-bg .xazi {
        width: 80%; } }
    @media (max-width: 330px) {
      .contact-bg .xazi {
        width: 80%; } }
  .contact-bg .contact-coment {
    margin: 50px auto; }
    .contact-bg .contact-coment .contact-formbox {
      display: flex; }
      .contact-bg .contact-coment .contact-formbox .formbox-1 .form-1-box {
        width: 500px;
        height: 170px;
        padding: 20px;
        resize: none;
        background-color: #F4F6F6;
        box-shadow: 1px 2px 10px 0px #565555;
        border: 1px solid #85929E;
        border-radius: 5px; }
      .contact-bg .contact-coment .contact-formbox .formbox-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0 10px; }
        .contact-bg .contact-coment .contact-formbox .formbox-2 .form-2-box {
          height: 40px;
          text-align: center;
          background-color: #F4F6F6;
          box-shadow: 1px 2px 10px 0px #565555;
          border: 1px solid #85929E;
          border-radius: 5px; }
        .contact-bg .contact-coment .contact-formbox .formbox-2 .btn {
          width: 150px;
          height: 30px;
          font-size: 10px;
          background-color: #F4F6F6;
          box-shadow: 1px 2px 10px 0px #565555;
          border: 1px solid #85929E;
          border-radius: 5px; }
          .contact-bg .contact-coment .contact-formbox .formbox-2 .btn .btn-icon {
            color: #00A1C2;
            font-size: 14px; }
  .contact-bg .xazi {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    content: ' ';
    color: #062D2D;
    border: 0.1px solid #A9CCE3;
    box-shadow: 0 0 15px #00A1C2; }
    @media (max-width: 1024px) {
      .contact-bg .xazi {
        width: 90%; } }
    @media (max-width: 800px) {
      .contact-bg .xazi {
        width: 90%; } }
    @media (max-width: 768px) {
      .contact-bg .xazi {
        width: 90%; } }
    @media (max-width: 600px) {
      .contact-bg .xazi {
        width: 80%; } }
    @media (max-width: 414px) {
      .contact-bg .xazi {
        width: 80%; } }
    @media (max-width: 375px) {
      .contact-bg .xazi {
        width: 80%; } }
    @media (max-width: 330px) {
      .contact-bg .xazi {
        width: 80%; } }
  .contact-bg .contact-nev {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px; }
    .contact-bg .contact-nev .contact-conteiner-1 {
      width: 80%;
      margin: 0 auto; }
      .contact-bg .contact-nev .contact-conteiner-1 .contact-text-h2 {
        margin-bottom: 30px;
        font-size: 14px;
        color: #565555;
        font-family: 'BPG Nino Medium Caps';
        text-shadow: 1px 1px #85929E; }
      .contact-bg .contact-nev .contact-conteiner-1 .contact-text-p {
        font-size: 14px;
        color: #565555;
        font-family: 'BPG Nino Medium Caps';
        text-shadow: 1px 1px #85929E; }
      .contact-bg .contact-nev .contact-conteiner-1 .sect-2-cont-3-wrap {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .contact-bg .contact-nev .contact-conteiner-1 .sect-2-cont-3-wrap .sect-2-cont-3-box {
          width: 100%;
          height: 150px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: 2px solid #85929E;
          box-shadow: 1px 1px 10px 1px #565555;
          border-radius: 20px;
          background-image: url(../img/k1.PNG);
          background-repeat: repeat;
          background-position: right -20% bottom 0px, top left;
          background-size: auto 1px; }
          .contact-bg .contact-nev .contact-conteiner-1 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-img {
            max-width: 150px; }
            .contact-bg .contact-nev .contact-conteiner-1 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-img .sect-2-cont-3-img-box {
              width: 100%; }

.sect-2-conteiner {
  background-color: #00A1C2;
  max-width: 1920px;
  width: 100%;
  height: 330px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 15px 1px 15px 3px #565555;
  border: 2px solid #85929E;
  border-radius: 20px; }
  .sect-2-conteiner .sect-2-text {
    max-width: 330px;
    width: 100%;
    height: 224px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column; }
    .sect-2-conteiner .sect-2-text .sect-2-h2 {
      color: #FFFFFF;
      font-size: 36px;
      font-family: 'Poopins-B'; }
    .sect-2-conteiner .sect-2-text .sect-2-p {
      color: #FFFFFF;
      font-size: 14px;
      font-family: 'Poppins-R'; }
    .sect-2-conteiner .sect-2-text .sect-2-shop .sect-2-h4 {
      color: #FFFFFF;
      font-size: 14px;
      font-family: 'Poppins-R'; }
  .sect-2-conteiner .sect-2-img {
    max-width: 340px;
    margin-bottom: 23px; }
    .sect-2-conteiner .sect-2-img .sect-2-img-box {
      width: 100%; }

.body-bg {
  background-color: #F4F6F6;
  background-image: url(../img/k1.PNG);
  background-repeat: repeat;
  background-position: right -20% bottom 0px, top left;
  background-size: auto 10px; }
  .body-bg .head-bg {
    width: 100%;
    top: 0;
    left: 0;
    background-color: #F4F6F6;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #00A1C2;
    box-shadow: 1px 1px 10px 1px #565555;
    border-radius: 5px; }
    @media (max-width: 768px) {
      .body-bg .head-bg {
        display: block;
        text-align: center; } }
    .body-bg .head-bg .nav-container {
      max-width: 1080px;
      width: 100%;
      padding: 5px 0 5px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 1024px) {
        .body-bg .head-bg .nav-container {
          width: 90%; } }
      @media (max-width: 900px) {
        .body-bg .head-bg .nav-container {
          width: 35%;
          padding: 10px 0 10px;
          margin-right: 100px; } }
      @media (max-width: 800px) {
        .body-bg .head-bg .nav-container {
          width: 90%;
          padding: 10px 0 10px; } }
      @media (max-width: 768px) {
        .body-bg .head-bg .nav-container {
          flex-direction: column;
          margin: 0 auto; } }
      .body-bg .head-bg .nav-container .nav-logo {
        max-width: 70px;
        width: 100%;
        height: 85px; }
        .body-bg .head-bg .nav-container .nav-logo:hover {
          box-shadow: 1px 1px 15px #00A1C2;
          transition: all 0.4s ease 0.4s; }
        @media (max-width: 900px) {
          .body-bg .head-bg .nav-container .nav-logo {
            width: 80px;
            height: 110px; } }
        @media (max-width: 800px) {
          .body-bg .head-bg .nav-container .nav-logo {
            width: 80px;
            height: 110px;
            margin-left: 120px; } }
        @media (max-width: 768px) {
          .body-bg .head-bg .nav-container .nav-logo {
            margin: 0 auto; } }
        .body-bg .head-bg .nav-container .nav-logo .img-logo {
          width: 100%;
          box-shadow: 1px 1px 10px 1px #565555;
          border-radius: 5px; }
    .body-bg .head-bg .navi {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 930px;
      width: 100%; }
      @media (max-width: 1024px) {
        .body-bg .head-bg .navi {
          width: 780px; } }
      @media (max-width: 900px) {
        .body-bg .head-bg .navi {
          width: 60%;
          flex-direction: column-reverse; } }
      @media (max-width: 800px) {
        .body-bg .head-bg .navi {
          width: 60%;
          flex-direction: column-reverse; } }
      @media (max-width: 768px) {
        .body-bg .head-bg .navi {
          flex-direction: column; } }
      .body-bg .head-bg .navi .nav-ul {
        max-width: 630px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        @media (max-width: 1024px) {
          .body-bg .head-bg .navi .nav-ul {
            width: 500px; } }
        @media (max-width: 900px) {
          .body-bg .head-bg .navi .nav-ul {
            width: 550px;
            padding-top: 10px; } }
        @media (max-width: 800px) {
          .body-bg .head-bg .navi .nav-ul {
            width: 620px;
            margin-right: 170px; } }
        @media (max-width: 768px) {
          .body-bg .head-bg .navi .nav-ul {
            display: none;
            margin: 0 auto;
            width: 100%; } }
        .body-bg .head-bg .navi .nav-ul .nav-li {
          display: flex;
          justify-content: center;
          align-items: center; }
          @media (max-width: 768px) {
            .body-bg .head-bg .navi .nav-ul .nav-li {
              padding-bottom: 10px; } }
          .body-bg .head-bg .navi .nav-ul .nav-li .nav-a {
            Color: #565555;
            font-size: 10px;
            font-family: 'ALKDots';
            text-shadow: 1px 1px #85929E; }
            .body-bg .head-bg .navi .nav-ul .nav-li .nav-a:hover {
              text-shadow: 1px 1px 28px #00A1C2;
              transition: all 0.4s ease 0.4s; }
            @media (max-width: 768px) {
              .body-bg .head-bg .navi .nav-ul .nav-li .nav-a {
                display: block; } }
      @media (max-width: 768px) {
        .body-bg .head-bg .navi .open-menu {
          display: block;
          text-align: -webkit-center;
          padding: 20px 0; } }
      .body-bg .head-bg .navi .soc-ul {
        max-width: 220px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; }
        @media (max-width: 900px) {
          .body-bg .head-bg .navi .soc-ul {
            flex-wrap: wrap-reverse;
            margin-left: 200px; } }
        @media (max-width: 800px) {
          .body-bg .head-bg .navi .soc-ul {
            flex-wrap: wrap-reverse;
            margin-left: 200px; } }
        @media (max-width: 768px) {
          .body-bg .head-bg .navi .soc-ul {
            display: none;
            margin: 0 auto; } }
        .body-bg .head-bg .navi .soc-ul .contact-ul {
          max-width: 250px;
          width: 100%;
          height: 70px;
          display: flex;
          justify-content: space-around;
          align-items: baseline;
          flex-direction: column;
          padding-bottom: 10px; }
          @media (max-width: 900px) {
            .body-bg .head-bg .navi .soc-ul .contact-ul {
              height: 70px;
              flex-direction: column-reverse; } }
          @media (max-width: 800px) {
            .body-bg .head-bg .navi .soc-ul .contact-ul {
              height: 70px;
              flex-direction: column-reverse; } }
          @media (max-width: 768px) {
            .body-bg .head-bg .navi .soc-ul .contact-ul {
              align-items: center; } }
          @media (max-width: 600px) {
            .body-bg .head-bg .navi .soc-ul .contact-ul {
              height: 60px; } }
          @media (max-width: 414px) {
            .body-bg .head-bg .navi .soc-ul .contact-ul {
              height: 60px; } }
          @media (max-width: 330px) {
            .body-bg .head-bg .navi .soc-ul .contact-ul {
              height: 60px; } }
          @media (max-width: 375px) {
            .body-bg .head-bg .navi .soc-ul .contact-ul {
              height: 60px; } }
        .body-bg .head-bg .navi .soc-ul .soc-a {
          max-width: 230px;
          width: 100%;
          font-size: 22px;
          color: #255A5A;
          font-family: 'ArchyEDT-Bold';
          text-shadow: 1px 1px #85929E;
          display: flex;
          justify-content: space-between;
          align-items: flex-start; }
          @media (max-width: 1024px) {
            .body-bg .head-bg .navi .soc-ul .soc-a {
              font-size: 20px; } }
        .body-bg .head-bg .navi .soc-ul .soc-li .fa {
          font-size: 20px;
          color: #00A1C2;
          padding-right: 10px; }
          .body-bg .head-bg .navi .soc-ul .soc-li .fa:hover {
            box-shadow: 5px 15px 28px #00A1C2;
            border: 0 solid #00A1C2;
            transition: all 0.4s ease 0.4s; }
      @media (max-width: 768px) {
        .body-bg .head-bg .navi .open-socicon {
          display: flex; } }
    .body-bg .head-bg .burger-icon {
      display: none; }
      @media (max-width: 800px) {
        .body-bg .head-bg .burger-icon {
          margin-right: 70px; } }
      @media (max-width: 768px) {
        .body-bg .head-bg .burger-icon {
          color: #00A1C2;
          display: block;
          font-size: 30px;
          position: absolute;
          top: 40px;
          right: 30px;
          cursor: pointer; } }
      @media (max-width: 320px) {
        .body-bg .head-bg .burger-icon {
          margin: 0 auto; } }
  .body-bg .sect-bg {
    margin: 170px 0 25px 0; }
    .body-bg .sect-bg .slick-slider {
      width: 95%;
      margin: 0 auto; }
      .body-bg .sect-bg .slick-slider .vertical-center {
        box-shadow: 1px 1px 15px 10px #565555;
        border: 2px ridge #85929E;
        border-radius: 10px;
        position: initial; }
        .body-bg .sect-bg .slick-slider .vertical-center .cont-1-img-box .cont-img {
          width: 100%; }
        @media (max-width: 590px) {
          .body-bg .sect-bg .slick-slider .vertical-center .cont-1-img-box {
            font-size: 60px;
            top: 32%; } }
    .body-bg .sect-bg .sect-conteiner-3 {
      max-width: 1920px;
      width: 100%;
      height: 800px;
      background-color: #F4F6F6;
      border: 2px solid #00A1C2;
      box-shadow: 1px 1px 10px 1px #565555;
      border-radius: 30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      margin-top: 70px; }
      .body-bg .sect-bg .sect-conteiner-3 .cont-3-h2 {
        color: #565555;
        font-size: 36px;
        font-family: 'Poopins-B';
        text-shadow: 1px 1px #85929E; }
      .body-bg .sect-bg .sect-conteiner-3 .cont-3-ul {
        max-width: 680px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .body-bg .sect-bg .sect-conteiner-3 .cont-3-ul .cont-3-li .cont-3-a {
          Color: #A9CCE3;
          font-size: 15px;
          font-family: 'Poppins-B';
          text-shadow: 1px 1px #85929E; }
      .body-bg .sect-bg .sect-conteiner-3 .container-3 {
        max-width: 1240px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .body-bg .sect-bg .sect-conteiner-3 .container-3 .cont-3-box {
          max-width: 270px;
          width: 100%;
          height: 260px;
          background-image: url(../img/k1.PNG);
          background-repeat: repeat;
          background-position: right -20% bottom 0px, top left;
          background-size: auto 3px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          border: 2px solid #85929E;
          box-shadow: 3px 3px 6px 2px #565555;
          border-radius: 10px; }
          .body-bg .sect-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-img {
            max-width: 200px; }
            .body-bg .sect-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-img .sect-3-img-box {
              width: 100%; }
          .body-bg .sect-bg .sect-conteiner-3 .container-3 .cont-3-box .cont-3-h3 {
            color: #565555;
            font-size: 20px;
            font-family: 'ALKDots';
            margin: 25px auto;
            text-shadow: 1px 1px #565555; }
      .body-bg .sect-bg .sect-conteiner-3 .sect-3-load {
        color: #00A1C2; }
    .body-bg .sect-bg .sect-conteiner-2 {
      text-align: center;
      margin-top: 70px;
      background-color: #F4F6F6;
      border: 2px solid #00A1C2;
      box-shadow: 1px 1px 10px 1px #565555;
      border-radius: 20px; }
      .body-bg .sect-bg .sect-conteiner-2 .cont-2-h2 {
        color: #565555;
        font-size: 30px;
        font-family: 'Poopins-B';
        margin: 25px auto;
        text-shadow: 1px 1px #85929E; }
      .body-bg .sect-bg .sect-conteiner-2 .cont {
        width: 83%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 25px auto;
        border-radius: 10px;
        position: initial; }
        .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box {
          max-width: 220px;
          width: 100%;
          height: 270px;
          margin: 0 10px;
          box-shadow: 10px 10px 15px 1px #565555;
          border: 2px solid #85929E;
          border-radius: 10px; }
          .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box .cont-2-text {
            max-width: 280px;
            width: 100%;
            height: 270px;
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            flex-direction: column;
            background-image: url(../img/k1.PNG);
            background-repeat: repeat;
            background-position: right -20% bottom 0px, top left;
            background-size: auto 1px; }
            .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box .cont-2-text .cont-2-sale {
              max-width: 180px;
              width: 100%;
              box-shadow: 1px 2px 4px 1px #565555;
              border: 1px solid #85929E;
              border-bottom-right-radius: 50px 38px;
              background-color: #B91A89;
              margin-top: 5px; }
              .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box .cont-2-text .cont-2-sale .cont-2-box-h2 {
                font-size: 15px;
                font-family: 'Poppins-B';
                color: #F4F6F6;
                margin: 10px auto; }
            .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box .cont-2-text .cont-2-img-box .cont-2-text-img {
              width: 100%; }
            .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box .cont-2-text .cont-2-p {
              font-size: 15px;
              font-family: 'Poppins-R';
              color: #85929E; }
            .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box .cont-2-text .cont-2-cost {
              margin: 10px; }
              .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box .cont-2-text .cont-2-cost .cont-2-h4 {
                font-size: 15px;
                font-family: 'Poppins-B';
                color: #B91A89; }
          .body-bg .sect-bg .sect-conteiner-2 .cont .conteiner-2-box .cont-2-img .sect-2-img-box {
            width: 100%; }
  .body-bg .sect-2-bg .sect-2-cont-3 {
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 35px 0;
    background-color: #F4F6F6;
    border: 2px solid #00A1C2;
    box-shadow: 1px 1px 10px 1px #565555;
    border-radius: 20px; }
    .body-bg .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-h2 {
      color: #565555;
      text-shadow: 1px 1px #85929E;
      font-size: 15px;
      font-family: 'Poppins-B'; }
    .body-bg .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap {
      max-width: 1050px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .body-bg .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box {
        max-width: 320px;
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #85929E;
        box-shadow: 1px 1px 10px 1px #565555;
        border-radius: 20px;
        background-image: url(../img/k1.PNG);
        background-repeat: repeat;
        background-position: right -20% bottom 0px, top left;
        background-size: auto 1px; }
        .body-bg .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-img {
          max-width: 150px; }
          .body-bg .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-img .sect-2-cont-3-img-box {
            width: 100%; }
        .body-bg .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-h3 {
          color: #565555; }
        .body-bg .sect-2-bg .sect-2-cont-3 .sect-2-cont-3-wrap .sect-2-cont-3-box .sect-2-cont-3-p {
          color: #565555; }
  .body-bg .sect-2-bg .sect-2-conteiner {
    background-color: #00A1C2;
    max-width: 1920px;
    width: 100%;
    height: 330px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 15px 1px 15px 3px #565555;
    border: 2px solid #85929E;
    border-radius: 20px; }
    .body-bg .sect-2-bg .sect-2-conteiner .sect-2-text {
      max-width: 330px;
      width: 100%;
      height: 224px;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-direction: column; }
      .body-bg .sect-2-bg .sect-2-conteiner .sect-2-text .sect-2-h2 {
        color: #FFFFFF;
        font-size: 36px;
        font-family: 'Poopins-B'; }
      .body-bg .sect-2-bg .sect-2-conteiner .sect-2-text .sect-2-p {
        color: #FFFFFF;
        font-size: 14px;
        font-family: 'Poppins-R'; }
      .body-bg .sect-2-bg .sect-2-conteiner .sect-2-text .sect-2-shop .sect-2-h4 {
        color: #FFFFFF;
        font-size: 14px;
        font-family: 'Poppins-R'; }
    .body-bg .sect-2-bg .sect-2-conteiner .sect-2-img {
      max-width: 340px;
      margin-bottom: 23px; }
      .body-bg .sect-2-bg .sect-2-conteiner .sect-2-img .sect-2-img-box {
        width: 100%; }
  .body-bg .foot-bg {
    background-color: #F4F6F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid #00A1C2;
    box-shadow: 1px 1px 10px 1px #565555;
    border-radius: 5px;
    margin-top: 40px; }
    .body-bg .foot-bg .foot-container {
      max-width: 1080px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: baseline; }
      @media (max-width: 800px) {
        .body-bg .foot-bg .foot-container {
          width: 90%; } }
      @media (max-width: 600px) {
        .body-bg .foot-bg .foot-container {
          width: 80%; } }
      @media (max-width: 414px) {
        .body-bg .foot-bg .foot-container {
          flex-direction: column-reverse;
          align-items: center; } }
      @media (max-width: 375px) {
        .body-bg .foot-bg .foot-container {
          flex-wrap: wrap-reverse; } }
      @media (max-width: 330px) {
        .body-bg .foot-bg .foot-container {
          flex-wrap: wrap-reverse; } }
      .body-bg .foot-bg .foot-container .foot-box {
        max-width: 310px;
        width: 100%;
        height: 155px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center; }
        @media (max-width: 800px) {
          .body-bg .foot-bg .foot-container .foot-box {
            align-items: center;
            text-align: center; } }
        @media (max-width: 768px) {
          .body-bg .foot-bg .foot-container .foot-box {
            align-items: center;
            text-align: center; } }
        @media (max-width: 600px) {
          .body-bg .foot-bg .foot-container .foot-box {
            text-align: center;
            align-items: center; } }
        @media (max-width: 414px) {
          .body-bg .foot-bg .foot-container .foot-box {
            text-align: center;
            align-items: center; } }
        @media (max-width: 375px) {
          .body-bg .foot-bg .foot-container .foot-box {
            text-align: center;
            align-items: center; } }
        @media (max-width: 330px) {
          .body-bg .foot-bg .foot-container .foot-box {
            text-align: center;
            align-items: center; } }
        .body-bg .foot-bg .foot-container .foot-box .foot-h2 {
          font-size: 20px;
          color: #565555;
          font-family: 'ArchyEDT-Bold';
          text-shadow: 1px 1px #85929E; }
        .body-bg .foot-bg .foot-container .foot-box .foot-p {
          max-width: 270px;
          width: 100%;
          color: #565555;
          font-family: 'BPG Nino Medium Caps';
          text-shadow: 1px 1px #85929E; }
        .body-bg .foot-bg .foot-container .foot-box .foot-ul {
          max-width: 190px;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center; }
          .body-bg .foot-bg .foot-container .foot-box .foot-ul .foot-li .fa {
            font-size: 20px;
            color: #00A1C2; }
            .body-bg .foot-bg .foot-container .foot-box .foot-ul .foot-li .fa:hover {
              box-shadow: 5px 15px 28px #00A1C2;
              border: 0 solid #00A1C2;
              transition: all 0.4s ease 0.4s; }
        .body-bg .foot-bg .foot-container .foot-box .cont-p {
          max-width: 190px;
          width: 100%;
          height: 55px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column; }
          @media (max-width: 800px) {
            .body-bg .foot-bg .foot-container .foot-box .cont-p {
              width: 140px; } }
          @media (max-width: 600px) {
            .body-bg .foot-bg .foot-container .foot-box .cont-p {
              width: 140px; } }
          @media (max-width: 414px) {
            .body-bg .foot-bg .foot-container .foot-box .cont-p {
              width: 150px; } }
          @media (max-width: 375px) {
            .body-bg .foot-bg .foot-container .foot-box .cont-p {
              width: 150px; } }
          @media (max-width: 330px) {
            .body-bg .foot-bg .foot-container .foot-box .cont-p {
              width: 150px; } }
          .body-bg .foot-bg .foot-container .foot-box .cont-p .li-box {
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            @media (max-width: 768px) {
              .body-bg .foot-bg .foot-container .foot-box .cont-p .li-box {
                width: 140px; } }
            .body-bg .foot-bg .foot-container .foot-box .cont-p .li-box .fa-foot {
              color: #00A1C2;
              font-size: 15px; }
            .body-bg .foot-bg .foot-container .foot-box .cont-p .li-box .contact {
              font-size: 14px;
              color: #565555;
              font-family: 'BPG Nino Medium Caps';
              text-shadow: 1px 1px #85929E; }
    .body-bg .foot-bg .xazi {
      margin: 25px 0 25px 0;
      max-width: 1080px;
      width: 100%;
      content: ' ';
      color: #062D2D;
      border: 0.1px solid #A9CCE3;
      box-shadow: 0 0 15px #00A1C2; }
      @media (max-width: 1024px) {
        .body-bg .foot-bg .xazi {
          width: 90%; } }
      @media (max-width: 800px) {
        .body-bg .foot-bg .xazi {
          width: 90%; } }
      @media (max-width: 768px) {
        .body-bg .foot-bg .xazi {
          width: 90%; } }
      @media (max-width: 600px) {
        .body-bg .foot-bg .xazi {
          width: 80%; } }
      @media (max-width: 414px) {
        .body-bg .foot-bg .xazi {
          width: 80%; } }
      @media (max-width: 375px) {
        .body-bg .foot-bg .xazi {
          width: 80%; } }
      @media (max-width: 330px) {
        .body-bg .foot-bg .xazi {
          width: 80%; } }
    .body-bg .foot-bg .avtori {
      max-width: 1080px;
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 1024px) {
        .body-bg .foot-bg .avtori {
          width: 85%; } }
      @media (max-width: 800px) {
        .body-bg .foot-bg .avtori {
          width: 90%; } }
      @media (max-width: 768px) {
        .body-bg .foot-bg .avtori {
          width: 90%; } }
      @media (max-width: 600px) {
        .body-bg .foot-bg .avtori {
          flex-direction: column; } }
      @media (max-width: 414px) {
        .body-bg .foot-bg .avtori {
          height: 55px;
          flex-direction: column; } }
      @media (max-width: 375px) {
        .body-bg .foot-bg .avtori {
          height: 55px;
          flex-direction: column; } }
      @media (max-width: 330px) {
        .body-bg .foot-bg .avtori {
          height: 55px;
          flex-direction: column; } }
      @media (max-width: 320px) {
        .body-bg .foot-bg .avtori {
          text-align: center; } }
      .body-bg .foot-bg .avtori .avtori-p {
        font-size: 12px;
        color: #565555;
        font-family: 'BPG Nino Medium Caps';
        text-shadow: 1px 1px #85929E; }
        @media (max-width: 600px) {
          .body-bg .foot-bg .avtori .avtori-p {
            padding-bottom: 10px; } }
      .body-bg .foot-bg .avtori .copy {
        font-size: 12px;
        color: #565555;
        font-family: 'BPG Nino Medium Caps'; }
    .body-bg .foot-bg .foot-conteiner-2 {
      max-width: 1080px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: baseline; }
      @media (max-width: 768px) {
        .body-bg .foot-bg .foot-conteiner-2 {
          width: 90%; } }
      @media (max-width: 600px) {
        .body-bg .foot-bg .foot-conteiner-2 {
          flex-wrap: wrap; } }
      @media (max-width: 414px) {
        .body-bg .foot-bg .foot-conteiner-2 {
          flex-direction: column;
          align-items: center; } }
      @media (max-width: 375px) {
        .body-bg .foot-bg .foot-conteiner-2 {
          flex-direction: column;
          align-items: center; } }
      @media (max-width: 330px) {
        .body-bg .foot-bg .foot-conteiner-2 {
          flex-direction: column;
          align-items: center; } }
      .body-bg .foot-bg .foot-conteiner-2 .foot-2-box {
        height: 190px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; }
        @media (max-width: 600px) {
          .body-bg .foot-bg .foot-conteiner-2 .foot-2-box {
            width: 250px;
            align-items: center; } }
        @media (max-width: 414px) {
          .body-bg .foot-bg .foot-conteiner-2 .foot-2-box {
            align-items: center; }
            .body-bg .foot-bg .foot-conteiner-2 .foot-2-box:after {
              margin: 25px 0 25px 0;
              max-width: 1080px;
              width: 100%;
              content: ' ';
              color: #062D2D;
              border: 0.1px solid #A9CCE3;
              box-shadow: 0 0 15px #00A1C2; } }
        @media (max-width: 375px) {
          .body-bg .foot-bg .foot-conteiner-2 .foot-2-box {
            align-items: center; }
            .body-bg .foot-bg .foot-conteiner-2 .foot-2-box:after {
              margin: 25px 0 25px 0;
              max-width: 1080px;
              width: 100%;
              content: ' ';
              color: #062D2D;
              border: 0.1px solid #A9CCE3;
              box-shadow: 0 0 15px #00A1C2; } }
        @media (max-width: 330px) {
          .body-bg .foot-bg .foot-conteiner-2 .foot-2-box {
            align-items: center; }
            .body-bg .foot-bg .foot-conteiner-2 .foot-2-box:after {
              margin: 25px 0 25px 0;
              max-width: 1080px;
              width: 100%;
              content: ' ';
              color: #062D2D;
              border: 0.1px solid #A9CCE3;
              box-shadow: 0 0 15px #00A1C2; } }
        .body-bg .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-h2 {
          font-size: 20px;
          color: #565555;
          font-family: 'ArchyEDT-Bold';
          padding-bottom: 20px;
          text-shadow: 1px 1px #85929E; }
        .body-bg .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
          height: 130px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column; }
          @media (max-width: 600px) {
            .body-bg .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
              align-items: center; } }
          @media (max-width: 414px) {
            .body-bg .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
              align-items: center; } }
          @media (max-width: 375px) {
            .body-bg .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
              align-items: center; } }
          @media (max-width: 330px) {
            .body-bg .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul {
              align-items: center; } }
          .body-bg .foot-bg .foot-conteiner-2 .foot-2-box .foot-2-ul .foot-2-li {
            font-size: 14px;
            color: #565555;
            font-family: 'BPG Nino Medium Caps';
            text-shadow: 1px 1px #85929E; }
